footer {
  background-color: #53535d;
  color: $white;
  padding: $size-28 0 0;

  li {
    margin: 0;
  }

  > .container {
    @media screen and (min-width: ($tablet-md + 1)) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-bottom: $size-16;
    }

    > div {
      &:first-of-type {
        @media screen and (min-width: ($tablet-md + 1)) {
          width: calc(100% - 250px);
          margin-right: $size-40;
        }
      }

      &:last-of-type {
        @media screen and (min-width: ($tablet-md + 1)) {
          width: 230px;
        }

        @media screen and (max-width: ($tablet-md)) {
          padding-bottom: 2rem;
        }
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      @media screen and (min-width: ($tablet-md + 1)) {
        text-decoration: underline;
        color: $base-cool;
      }
    }

    &:visited {
      color: $white;
    }
  }

  .nav-heading {
    border-bottom: $size-1 solid $white;
    display: block;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .nav-item {
    line-height: 1;
    font-weight: 600;
    > a {
      font-size: $size-14;
      border-bottom: $size-1 solid $white;
      display: block;
      padding-bottom: 0.5rem;
      margin-bottom: 1.5rem;
    }

    > ul {
      padding: 0 0 2rem;

      li {
        line-height: 1;
        margin-bottom: 0.3rem;

        > a {
          font-size: $size-14;
        }
      }
    }
  }

  .no-sub {
    margin-bottom: 2.2rem;
  }

  .footer-nav-l {
    > div {
      > ul {
        @media screen and (min-width: ($tablet-md + 1)) {
          column-count: 2;
          column-gap: 1.25rem;
          perspective: 1;
        }

        @media screen and (min-width: ($desktop + 1)) {
          column-count: 3;
        }
      }
    }

    .nav-item {
      @media screen and (min-width: ($tablet-md + 1)) {
        break-inside: avoid-column;
      }
    }
  }
  .footer-nav-r {
    margin-bottom: $size-16;
    .nav-heading {
      margin-bottom: 1.5rem;
    }

    .nav-item {
      > a {
        font-size: $size-14;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0.3rem;
      }
    }

    .no-sub {
      margin-bottom: 0;
    }
  }
}
