@use "../settings" as settings;

header {
  &.header {
    background-color: settings.$white;
    width: 100%;
    z-index: 12;

    @media screen and (max-width: (settings.$desktop)) {
      background-color: settings.$primary-dark;
      color: settings.$white;
    }

    .usa-nav-container {
      width: 100%;
      margin: 0 auto;
      padding: 0 settings.$size-16;
      max-width: settings.$desktop-xl;

      &.flex {
        @media screen and (min-width: (settings.$desktop)) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &:after {
          content: none;
        }
      }
    }
  }

  li,
  li.nav-item,
  .sub-menu li {
    margin: 0;
  }

  .basic-logo {
    @media screen and (max-width: (settings.$desktop - 1)) {
      display: flex;
      padding: settings.$size-8 0;
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      color: settings.$ink;
      text-decoration: none;
      padding: settings.$size-16 0;
      width: calc(100% - 55px);

      @media screen and (min-width: (settings.$desktop + 1)) {
        width: 50%;
      }
    }

    h1 {
      font-size: 28px;
      margin-top: 0;
      font-weight: bold;

      @media screen and (min-width: (settings.$desktop + 1)) {
        width: calc(100% - 45px);
        margin-left: 10px;
      }

      @media screen and (max-width: (settings.$desktop)) {
        color: settings.$white;
        font-size: settings.$size-14;
      }
    }

    svg {
      width: settings.$size-48;
      height: auto;

      @media screen and (max-width: (settings.$desktop)) {
        display: none;
      }
    }

    button {
      width: 55px;
      border: settings.$size-2 solid settings.$white;
      padding: settings.$size-2;
      border-radius: 5px;

      span {
        margin: 0 auto;
        font-size: 2rem;
      }
    }

    button {
      &.toggle-button {
        @media screen and (min-width: (settings.$desktop)) {
          display: none !important;
        }

        &:hover {
          border: settings.$size-2 solid settings.$white;
        }
      }
      .toggle {
        height: settings.$size-32;
        width: 51px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transform-origin: center;
        &.open {
          transform: rotate(90deg);
          > span {
            &:nth-child(1) {
              transform: rotate(45deg);
              top: 7px;
            }

            &:nth-child(2) {
              transform: scale(0);
            }

            &:nth-child(3) {
              transform: rotate(-45deg);
              top: -7px;
            }
          }
        }

        > span {
          display: block;
          width: 25px;
          height: settings.$size-3;
          position: relative;
          border-radius: 5px;
          top: 0;
          background-color: settings.$white;
          margin: settings.$size-2 auto;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }

  .mobile-menu {
    min-height: settings.$size-64;
  }

  .main-nav {
    background-color: settings.$primary-dark;
    min-height: 54px;

    @media screen and (max-width: (settings.$desktop - 1)) {
      display: none;
    }

    &.open {
      display: block;
    }

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;

      @media screen and (min-width: (settings.$desktop + 1)) {
        gap: 2.5rem;
      }

      @media screen and (max-width: (settings.$desktop)) {
        flex-direction: column;
      }
    }

    a,
    button {
      color: settings.$white;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1.18rem 0;
      font-size: 0.9rem;
      position: relative;
      font-weight: 600;

      @media screen and (max-width: (settings.$desktop)) {
        padding: 0.95rem 0;
      }

      svg {
        height: auto;
        margin: 0 0 settings.$size-2 settings.$size-4;
      }

      > span {
        display: flex;
        align-items: center;

        span {
          font-size: settings.$size-16;
          margin-top: -(settings.$size-2);
          margin-left: settings.$size-2;
        }

        + .indicator {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: settings.$size-20;
          right: 0;

          @media screen and (min-width: (settings.$desktop + 1)) {
            right: -(settings.$size-20);
          }
        }
      }

      &:hover {
        @media screen and (min-width: (settings.$desktop + 1)) {
          &::after {
            content: "";
            position: absolute;
            bottom: 10px;
            width: 100%;
            left: 0;
            height: settings.$size-2;
            background-color: settings.$white;
          }
        }
      }
    }
  }

  li {
    &.has-sub {
      position: relative;
      z-index: 1;

      .sub-menu {
        background: settings.$white;
        flex-direction: column;
        box-shadow: settings.$shadow-1;
        gap: 0;

        @media screen and (min-width: (settings.$desktop + 1)) {
          width: 300px;
          position: absolute;
        }

        @media screen and (max-width: (settings.$desktop)) {
          margin-bottom: settings.$size-16;
        }

        a {
          color: settings.$ink;
          padding: 0.5rem settings.$size-16;

          &:hover {
            @media screen and (min-width: (settings.$desktop + 1)) {
              background-color: settings.$njBlack;
              color: settings.$white;
            }

            &:after {
              @media screen and (min-width: (settings.$desktop + 1)) {
                content: none;
              }
            }
          }
        }
      }

      button {
        @media screen and (max-width: (settings.$desktop)) {
          width: 100%;
        }
      }
    }
  }
}

.below-banners {
  min-height: calc(100% - 6.125rem);
  padding: 0 0 5rem;

  @media print {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-banner,
  .footer-cta {
    margin: 5rem 0 -5rem;
  }
}
