.accordion {
  margin-bottom: 1rem;

  button {
    font-weight: bold;
    color: black;
    background-color: $grey;
    width: 100%;
    padding: 1.2rem 4rem 1.2rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      border-radius: 2px;
      width: 15px;
      background: black;
      top: 50%;
      right: 24px;
      z-index: 1;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }

    &:after {
      transform: rotate(90deg);
    }

    &:focus {
      background: $light-purple;
    }
  }

  &.open {
    button {
      &:after {
        transform: rotate(0deg);
      }
    }
  }

  .content {
    height: 0px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    .inner {
      max-width: 35rem;
      padding: 1rem 1.5rem;
    }
  }
}
