.backToTop {
  position: fixed;
  bottom: 1rem;
  cursor: pointer;
  right: 1rem;
  background: white;
  width: $size-48;
  height: $size-48;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0;
  color: $primary;
  border: 1px solid $primary;

  @media screen and (min-width: ($tablet-lg)) {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    @media screen and (min-width: ($tablet-lg)) {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &.buttonHide {
    opacity: 0;
    pointer-events: none;
  }
}
