.usa-button {
  display: inline-flex !important;
  align-items: center;
  gap: $size-8;
  padding: $size-16 $size-24;

  @media screen and (min-width: ($desktop)) {
    transition-duration: $transition-speed;
    transition-timing-function: ease-in-out;
  }

  &[class*="highlight-"] {
    padding: $size-8 $size-16;
    border-radius: $size-8;
    border: $size-2 solid;

    svg {
      height: auto;
      width: 32px;
    }

    &:hover {
      border-bottom: $size-2 solid;
      box-shadow: $shadow-3;
    }
  }

  &.highlight-orange {
    background: $accent-warm-lighter;
    border-color: $accent-warm-light;
    color: $accent-warm-darker;

    &:hover {
      border-color: $accent-warm;
      background: $accent-warm-lighter;
    }

    &:visited {
      color: $accent-warm-darker;
    }
  }

  &.highlight-blue {
    background: $primary-lighter;
    border-color: $primary-light;
    color: $primary-darker;

    &:hover {
      border-color: $primary-vivid;
      background: $primary-lighter;
    }

    &:visited {
      color: $primary-darker;
    }
  }

  &.highlight-purple {
    background: $tertiary-lighter;
    border-color: $tertiary-light;
    color: $tertiary-darker;

    &:hover {
      border-color: $tertiary-vivid;
      background: $tertiary-lighter;
    }

    &:visited {
      color: $tertiary-darker;
    }
  }

  &.highlight-green {
    background: $secondary-lighter;
    border-color: $secondary-light;
    color: $secondary-darker;

    &:hover {
      border-color: $secondary-vivid;
      background: $secondary-lighter;
    }

    &:visited {
      color: $secondary-darker;
    }
  }

  &.info {
    background: $white;
  }

  &.info,
  &.svg {
    padding: 0.6rem $size-16 $size-8;
    color: $ink;
    border-radius: $size-12;
    border: $size-1 solid $base-lighter;

    &:hover {
      background: $white;
      color: $ink;
      border-radius: $size-12;
      border: $size-1 solid $base-lighter;
      opacity: 1;

      @media screen and (min-width: ($desktop)) {
        box-shadow: $shadow-3;
      }
    }

    &.fill {
      .svg-container {
        background-color: $primary-lighter;
        border-radius: 100%;
        padding: $size-4;
        height: 30px;
        width: 30px;
      }
    }

    svg {
      height: 30px;
      width: auto;
      color: $info-darker;
    }
  }
  .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.unstyled {
    padding: 0;
  }
}
