.fundingBox {
  border-top: $size-4 solid $secondary;
  border-radius: $size-10;
  padding: $size-16;
  background-color: $secondary-lighter;

  .heading-tag {
    font-size: $size-22;
    font-weight: bold;
  }

  .usa-button {
    padding: $size-8 $size-16;
    width: auto;

    span {
      display: flex;
      align-items: center;
      gap: $size-4;
    }

    &.usa-button--outline {
      background-color: $white;
    }
  }
}
