@mixin mobileDropItems {
  display: block;
  position: absolute;
  z-index: 2;
  background: white;
  width: 100%;
  margin: 0;
  border-left: $size-1 solid $dark-green;
  border-right: $size-1 solid $dark-green;
  border-bottom: $size-1 solid $dark-green;
}

@mixin boldItem {
  font-weight: bold;
  color: $dark-green;
  width: 100%;
  padding: 0.6rem 0.4rem;
}
