.sectionHeading {
  border-bottom: $size-8 solid $ink;
  padding-bottom: $size-16;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ink;
    font-size: 2rem;
    display: inline-block;

    @media screen and (max-width: ($tablet-md - 1)) {
      font-size: 1.5rem;
    }
  }

  &.strikeThrough {
    text-align: center;
    padding-bottom: 0;
    border: 0;
    position: relative;

    &:before {
      content: "";
      height: $size-8;
      width: 100%;
      background: $ink;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      background: $white;
      position: relative;
      padding: 0 $size-16;
    }
  }

  &.color-blue {
    border-color: $primary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary;
    }
  }

  &.color-green {
    border-color: $secondary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $secondary;
    }
  }

  &.color-purple {
    border-color: $tertiary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $tertiary;
    }
  }

  &.color-navy {
    border-color: $info-darker;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $info-darker;
    }
  }
}
