.tag-item {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  padding: $size-2 $size-10;
  border-radius: $size-2;
  color: $text;
  border: $size-1 solid;

  &.chip {
    padding: 5px 15px;
    border-radius: $size-20;
    border: none;
    font-weight: bold;

    &.color-green {
      background-color: $mintGreen;
    }

    &.color-blue {
      background-color: $sky-blue;
    }

    &.color-purple {
      background-color: $mid-purple;
    }

    &.color-navy {
      background-color: $bright-blue;
      // color: $white;
    }

    &.color-orange {
      background-color: $orange;
    }
  }

  &.color-green {
    background-color: $light-green;
    border-color: $mintGreen;
  }

  &.color-blue {
    background-color: $teal;
    border-color: $sky-blue;
  }

  &.color-purple {
    background-color: $lightest-purple;
    border-color: $mid-purple;
  }

  &.color-navy {
    background-color: $light-blue;
    border-color: $navy;
  }

  &.color-orange {
    background-color: $light-orange;
    border-color: $orange;
  }
}
