@use "../settings" as settings;

.accordion-block {
  max-width: settings.$desktop;
  margin: 0 auto;
}

.accordion {
  button {
    font-weight: bold;
    color: settings.$ink;
    background-color: settings.$base-lighter;
    width: 100%;
    padding: settings.$size-20 settings.$size-64 settings.$size-20
      settings.$size-16;
    position: relative;
    display: flex;
    align-items: center;
    gap: settings.$size-16;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: settings.$size-2;
      border-radius: settings.$size-2;
      width: 15px;
      background: black;
      top: 50%;
      right: settings.$size-24;
      z-index: 1;
      transition-duration: settings.$transition-speed;
      transition-timing-function: ease-in-out;
    }

    &:after {
      transform: rotate(90deg);
    }

    &:focus {
      background: settings.$tertiary-lighter;
    }
  }

  &.open {
    button {
      &:after {
        transform: rotate(0deg);
      }
    }
  }

  .content {
    height: 0px;
    overflow: hidden;
    transition-duration: settings.$transition-speed;
    transition-timing-function: ease-in-out;

    .inner {
      max-width: settings.$size-560;
      padding: settings.$size-16 settings.$size-24;
    }
  }
}
