@use "../settings" as settings;

.alertBar {
  display: flex;
  gap: settings.$size-16;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: settings.$size-16;
  left: settings.$size-16;
  z-index: 99;
  padding: settings.$size-8;
  width: calc(100% - settings.$size-32);
  transition-duration: 0.3s;
  transition-property: opacity, visibility;

  &.fade {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.info {
    background-color: settings.$primary;
    color: settings.$white;
  }
  &.success {
    background-color: settings.$secondary;
    color: settings.$ink;
  }
  &.warning {
    background-color: settings.$accent-warm-light;
    color: settings.$ink;
  }
  &.error {
    background-color: settings.$error;
    color: settings.$white;
  }

  p {
    margin: 0;
  }

  button {
    cursor: pointer;
  }
}
