@use "../settings" as settings;

.backToTop {
  position: fixed;
  bottom: settings.$size-16;
  cursor: pointer;
  right: settings.$size-16;
  background: settings.$white;
  width: settings.$size-48;
  height: settings.$size-48;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: settings.$size-8;
  color: settings.$primary-vivid;
  border: 1px solid settings.$primary-vivid;
  border-radius: settings.$size-4;

  @media screen and (min-width: (settings.$tablet-lg)) {
    transition-duration: settings.$transition-speed;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    @media screen and (min-width: (settings.$tablet-lg)) {
      box-shadow: settings.$shadow-3;
    }
  }

  &.buttonHide {
    opacity: 0;
    pointer-events: none;
  }
}
