.backToTop {
  position: fixed;
  bottom: $size-16;
  cursor: pointer;
  right: $size-16;
  background: $white;
  width: $size-48;
  height: $size-48;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: $size-8;
  color: $primary-vivid;
  border: 1px solid $primary-vivid;
  border-radius: $size-4;

  @media screen and (min-width: ($tablet-lg)) {
    transition-duration: $transition-speed;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    @media screen and (min-width: ($tablet-lg)) {
      box-shadow: $shadow-3;
    }
  }

  &.buttonHide {
    opacity: 0;
    pointer-events: none;
  }
}
