@use "../settings" as settings;
@use "../mixins" as mixins;

@mixin unstyledButton {
  padding: 0;
  background-color: transparent;
  color: inherit;
  @include mixins.linkColor;
}

.usa-button {
  display: inline-flex !important;
  align-items: center;
  justify-content: space-between;
  gap: settings.$size-8;
  padding: settings.$size-16 settings.$size-24;

  &.unstyled {
    &:disabled {
      color: settings.$base !important;
      cursor: not-allowed;
    }
  }

  &:not(.unstyled) {
    &:disabled {
      &.cool,
      &.primary,
      &.secondary,
      &.tertiary,
      &.quaternary,
      &.quinary {
        background-color: settings.$base !important;
        cursor: not-allowed;
      }
    }
  }

  &.cool {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: settings.$accent-cool-lighter;
      color: settings.$primary-darker;

      &:hover {
        background: settings.$accent-cool-light;
      }
    }

    &.usa-button--outline {
      background: settings.$white;
      box-shadow: inset 0 0 0 settings.$size-2 settings.$primary;
      color: settings.$primary;
    }

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        background-color: settings.$primary-dark;
        color: settings.$primary-darker;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.primary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: settings.$primary;
      color: settings.$white;

      &:hover {
        background: settings.$primary-dark;
      }
    }

    &.usa-button--outline {
      background: settings.$white;
      box-shadow: none;
      outline: settings.$size-2 solid settings.$primary;
      color: settings.$primary;

      &:hover {
        background: settings.$white;
        color: settings.$primary;
        box-shadow: settings.$shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        background-color: settings.$primary-dark;
        color: settings.$white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.secondary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: settings.$secondary;
      color: settings.$white;

      &:hover {
        background: settings.$secondary-dark;
      }
    }

    &.usa-button--outline {
      background: settings.$white;
      box-shadow: none;
      outline: settings.$size-2 solid settings.$secondary;
      color: settings.$secondary;

      &:hover {
        background: settings.$white;
        color: settings.$secondary;
        box-shadow: settings.$shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        background-color: settings.$secondary-dark;
        color: settings.$white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.tertiary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: settings.$tertiary;
      color: settings.$white;

      &:hover {
        background: settings.$tertiary-dark;
      }
    }

    &.usa-button--outline {
      background: settings.$white;
      box-shadow: none;
      outline: settings.$size-2 solid settings.$tertiary;
      color: settings.$tertiary;

      &:hover {
        background: settings.$white;
        color: settings.$tertiary;
        box-shadow: settings.$shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        background-color: settings.$tertiary-dark;
        color: settings.$white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.quaternary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: settings.$info-darker;
      color: settings.$white;

      &:hover {
        background: settings.$info-dark;
      }
    }

    &.usa-button--outline {
      background: settings.$white;
      box-shadow: none;
      outline: settings.$size-2 solid settings.$info-darker;
      color: settings.$info-darker;

      &:hover {
        background: settings.$white;
        color: settings.$info-darker;
        box-shadow: settings.$shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        background-color: settings.$info-dark;
        color: settings.$white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.quinary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: settings.$accent-warm;
      color: settings.$white;

      &:hover {
        @media screen and (min-width: (settings.$tablet)) {
          background-color: settings.$accent-warm-dark;
          color: settings.$white;
        }
      }
    }

    &.usa-button--outline {
      background: settings.$white;
      box-shadow: none;
      outline: settings.$size-2 solid settings.$accent-warm;
      color: settings.$accent-warm;

      &:hover {
        background: settings.$white;
        color: settings.$accent-warm;
        box-shadow: settings.$shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        background-color: settings.$accent-warm-dark;
        color: settings.$white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &[class*="highlight-"] {
    padding: settings.$size-8 settings.$size-16;
    border-radius: settings.$size-5;
    border: settings.$size-2 solid;

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        box-shadow: settings.$shadow-3;
      }
    }

    span:not(.svg-container):not(.grouping) {
      display: block;
      width: 100%;
    }

    .grouping {
      @media screen and (max-width: (settings.$tablet - 1)) {
        margin: 0 auto;
      }
    }

    svg,
    .svg-container {
      height: auto;
      width: 32px;
    }
  }

  &.centered-text {
    text-align: center;
    justify-content: center;
  }

  &.highlight-orange {
    background: settings.$accent-warm-lighter;
    border-color: settings.$accent-warm-light;
    color: settings.$accent-warm-darker;

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        border-color: settings.$accent-warm;
      }
    }
  }

  &.highlight-blue {
    background: settings.$primary-lighter;
    border-color: settings.$primary-light;
    color: settings.$primary-darker;

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        border-color: settings.$primary-vivid;
      }
    }
  }

  &.highlight-purple {
    background: settings.$tertiary-lighter;
    border-color: settings.$tertiary-light;
    color: settings.$tertiary-darker;

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        border-color: settings.$tertiary-vivid;
      }
    }
  }

  &.highlight-green {
    background: settings.$secondary-lighter;
    border-color: settings.$secondary;
    color: settings.$secondary-darker;

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        border-color: settings.$secondary-vivid;
      }
    }
  }

  &.highlight-navy {
    background: settings.$info-lighter;
    border-color: settings.$info-light;
    color: settings.$info-darker;

    &:hover {
      @media screen and (min-width: (settings.$tablet)) {
        border-color: settings.$info;
      }
    }
  }

  &.info {
    background: settings.$white;
    font-weight: 500;
  }

  &.info,
  &.svg:not([class*="highlight-"]) {
    padding: settings.$size-8 settings.$size-16;
    color: settings.$ink;
    border-radius: settings.$size-5;
    min-height: settings.$size-50;
    border: settings.$size-2 solid settings.$base-light;

    &:hover {
      background: settings.$white;
      color: settings.$ink;
      border-radius: settings.$size-5;
      border: settings.$size-2 solid settings.$base;
      opacity: 1;

      @media screen and (min-width: (settings.$desktop)) {
        box-shadow: settings.$shadow-2;
      }
    }

    &.fill {
      .svg-container {
        background-color: settings.$primary-lighter;
        border-radius: 100%;
        padding: settings.$size-4;
        height: settings.$size-30;
        width: settings.$size-30;
      }
    }

    svg {
      height: settings.$size-30;
      width: auto;
      color: settings.$ink;
    }
  }
  .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.unstyled {
    @include unstyledButton;
  }

  &.tag {
    background-color: settings.$primary-lighter;
    padding: settings.$size-8 settings.$size-16;
    font-weight: 500;
    color: settings.$ink;

    svg {
      width: settings.$size-20;
    }

    span {
      width: calc(100% - settings.$size-20);
    }

    &:hover {
      background-color: settings.$primary-lighter;
      box-shadow: settings.$shadow-2;
      color: settings.$ink;
    }
  }
}
