@mixin unstyledButton {
  padding: 0;
  background-color: transparent;
  color: inherit;
  @include linkColor;
}

.usa-button {
  display: inline-flex !important;
  align-items: center;
  justify-content: space-between;
  gap: $size-8;
  padding: $size-16 $size-24;

  &.unstyled {
    &:disabled {
      color: $base !important;
      cursor: not-allowed;
    }
  }

  &:not(.unstyled) {
    &:disabled {
      &.cool,
      &.primary,
      &.secondary,
      &.tertiary,
      &.quaternary,
      &.quinary {
        background-color: $base !important;
        cursor: not-allowed;
      }
    }
  }

  &.cool {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: $accent-cool-lighter;
      color: $primary-darker;

      &:hover {
        background: $accent-cool-light;
      }
    }

    &.usa-button--outline {
      background: $white;
      box-shadow: inset 0 0 0 $size-2 $primary;
      color: $primary;
    }

    &:hover {
      @media screen and (min-width: ($tablet)) {
        background-color: $primary-dark;
        color: $primary-darker;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.primary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: $primary;
      color: $white;

      &:hover {
        background: $primary-dark;
      }
    }

    &.usa-button--outline {
      background: $white;
      box-shadow: none;
      outline: $size-2 solid $primary;
      color: $primary;

      &:hover {
        background: $white;
        color: $primary;
        box-shadow: $shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: ($tablet)) {
        background-color: $primary-dark;
        color: $white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.secondary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: $secondary;
      color: $white;

      &:hover {
        background: $secondary-dark;
      }
    }

    &.usa-button--outline {
      background: $white;
      box-shadow: none;
      outline: $size-2 solid $secondary;
      color: $secondary;

      &:hover {
        background: $white;
        color: $secondary;
        box-shadow: $shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: ($tablet)) {
        background-color: $secondary-dark;
        color: $white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.tertiary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: $tertiary;
      color: $white;

      &:hover {
        background: $tertiary-dark;
      }
    }

    &.usa-button--outline {
      background: $white;
      box-shadow: none;
      outline: $size-2 solid $tertiary;
      color: $tertiary;

      &:hover {
        background: $white;
        color: $tertiary;
        box-shadow: $shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: ($tablet)) {
        background-color: $tertiary-dark;
        color: $white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.quaternary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: $info-darker;
      color: $white;

      &:hover {
        background: $info-dark;
      }
    }

    &.usa-button--outline {
      background: $white;
      box-shadow: none;
      outline: $size-2 solid $info-darker;
      color: $info-darker;

      &:hover {
        background: $white;
        color: $info-darker;
        box-shadow: $shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: ($tablet)) {
        background-color: $info-dark;
        color: $white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &.quinary {
    &:not(.usa-button--outline):not(.tag):not(.unstyled) {
      background: $accent-warm;
      color: $white;
    }

    &.usa-button--outline {
      background: $white;
      box-shadow: none;
      outline: $size-2 solid $accent-warm;
      color: $accent-warm;

      &:hover {
        background: $white;
        color: $accent-warm;
        box-shadow: $shadow-3;
      }
    }

    &:hover {
      @media screen and (min-width: ($tablet)) {
        background-color: $accent-warm-dark;
        color: $white;
      }
    }

    &.unstyled {
      @include unstyledButton;
    }
  }

  &[class*="highlight-"] {
    padding: $size-8 $size-16;
    border-radius: $size-10;
    border: $size-2 solid;

    &:hover {
      @media screen and (min-width: ($tablet)) {
        box-shadow: $shadow-3;
      }
    }

    span:not(.svg-container):not(.grouping) {
      display: block;
      width: 100%;
    }

    svg,
    .svg-container {
      height: auto;
      width: 32px;
    }
  }

  &.centered-text {
    text-align: center;
    justify-content: center;
  }

  &.highlight-orange {
    background: $accent-warm-lighter;
    border-color: $accent-warm-light;
    color: $accent-warm-darker;

    &:hover {
      @media screen and (min-width: ($tablet)) {
        border-color: $accent-warm;
      }
    }
  }

  &.highlight-blue {
    background: $primary-lighter;
    border-color: $primary-light;
    color: $primary-darker;

    &:hover {
      @media screen and (min-width: ($tablet)) {
        border-color: $primary-vivid;
      }
    }
  }

  &.highlight-purple {
    background: $tertiary-lighter;
    border-color: $tertiary-light;
    color: $tertiary-darker;

    &:hover {
      @media screen and (min-width: ($tablet)) {
        border-color: $tertiary-vivid;
      }
    }
  }

  &.highlight-green {
    background: $secondary-lighter;
    border-color: $secondary;
    color: $secondary-darker;

    &:hover {
      @media screen and (min-width: ($tablet)) {
        border-color: $secondary-vivid;
      }
    }
  }

  &.highlight-navy {
    background: $info-lighter;
    border-color: $info-light;
    color: $info-darker;

    &:hover {
      @media screen and (min-width: ($tablet)) {
        border-color: $info;
      }
    }
  }

  &.info {
    background: $white;
    font-weight: 500;
  }

  &.info,
  &.svg:not([class*="highlight-"]) {
    padding: $size-8 $size-16;
    color: $ink;
    border-radius: $size-5;
    min-height: $size-50;
    border: $size-2 solid $base-light;

    &:hover {
      background: $white;
      color: $ink;
      border-radius: $size-5;
      border: $size-2 solid $base;
      opacity: 1;

      @media screen and (min-width: ($desktop)) {
        box-shadow: $shadow-2;
      }
    }

    &.fill {
      .svg-container {
        background-color: $primary-lighter;
        border-radius: 100%;
        padding: $size-4;
        height: $size-30;
        width: $size-30;
      }
    }

    svg {
      height: $size-30;
      width: auto;
      color: $ink;
    }
  }
  .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.unstyled {
    @include unstyledButton;
  }

  &.tag {
    background-color: $primary-lighter;
    padding: $size-8 $size-16;
    font-weight: 500;
    color: $ink;

    svg {
      width: $size-20;
    }

    span {
      width: calc(100% - $size-20);
    }

    &:hover {
      background-color: $primary-lighter;
      box-shadow: $shadow-2;
      color: $ink;
    }
  }
}
