@use "../settings" as settings;

.costTable {
  width: 100%;

  th,
  td {
    vertical-align: middle;
    padding: 0;
    font-size: settings.$size-16;
    font-weight: 500;

    + th,
    + td {
      text-align: right;
    }
  }

  thead {
    border-bottom: settings.$size-1 solid settings.$base-lightest;

    th {
      padding-bottom: settings.$size-14;

      + th {
        text-align: right;
        font-size: settings.$size-24;
      }
    }
  }

  tbody {
    tr {
      &:first-of-type {
        td {
          padding-top: settings.$size-14;
        }
      }
    }
  }
}
