@use "../settings" as settings;

.divider {
  width: 100%;

  &.size-sm {
    padding: settings.$size-40 0;
  }
  &.size-md {
    padding: settings.$size-80 0;
  }
  &.size-lg {
    padding: settings.$size-112 0;
  }
}
