@use "../settings" as settings;

.drawer {
  position: absolute;

  .text-xl {
    margin-top: 0;
  }

  .panel {
    position: fixed;
    border-left: settings.$size-4 solid settings.$black;
    top: 0;
    right: -100%;
    background: settings.$white;
    padding: 3rem;
    max-width: settings.$tablet;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: (settings.$tablet - 1)) {
      padding: 3rem settings.$size-16;
    }

    &.open {
      right: 0;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: settings.$size-16;
      cursor: pointer;
      z-index: 11;
    }
  }

  .panel,
  .overlay {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: settings.$ink;
    opacity: 0;
    z-index: 11;

    &.open {
      pointer-events: all;
      opacity: 0.5;
    }
  }

  .image {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: settings.$size-16 0 settings.$size-32;
  }

  .dropContent {
    + .dropContent {
      margin-top: settings.$size-32;
    }
  }

  .learn-more-content {
    @media screen and (min-width: (settings.$tablet-lg)) {
      display: flex;
      gap: settings.$size-32;
    }

    .mobile-only {
      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        display: flex;
        gap: settings.$size-16;
        flex-direction: column;
      }
    }
  }

  .column {
    flex-direction: column;
    gap: settings.$size-32;
    width: 100%;

    @media screen and (min-width: (settings.$tablet-lg)) {
      display: flex;
    }

    .box {
      &:nth-of-type(3n - 2) {
        background-color: settings.$tertiary-lighter;
      }
      &:nth-of-type(3n - 1) {
        background-color: settings.$secondary-lighter;
      }
      &:nth-of-type(3n) {
        background-color: settings.$primary-lighter;
      }
    }

    &:last-of-type {
      .box {
        &:nth-of-type(2n - 1) {
          background-color: settings.$accent-cool-lighter;
        }
        &:nth-of-type(2n) {
          background-color: settings.$accent-warm-lighter;
        }
      }
    }
  }

  .box {
    padding: settings.$size-24;
    border-radius: settings.$size-16;

    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      &:nth-of-type(5n - 4) {
        background-color: settings.$tertiary-lighter;
      }
      &:nth-of-type(5n - 3) {
        background-color: settings.$accent-cool-lighter;
      }
      &:nth-of-type(5n - 2) {
        background-color: settings.$secondary-lighter;
      }
      &:nth-of-type(5n - 1) {
        background-color: settings.$accent-warm-lighter;
      }
      &:nth-of-type(5n) {
        background-color: settings.$primary-lighter;
      }
    }

    .title {
      font-size: settings.$size-18;
      font-weight: bold;
      line-height: 1.3;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: settings.$size-8;
      font-size: settings.$size-12;
    }
  }

  .small {
    p,
    li,
    ul li {
      font-size: settings.$size-12;
    }
  }
}
