@use "../settings" as s;

.drawer {
  position: absolute;

  .heading-tag {
    font-size: s.$size-22;
    font-weight: bold;
    color: s.$black;
  }

  img {
    width: 100%;
    margin: 0;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  * + p,
  p + * {
    margin-top: 0;
    margin-bottom: 0;
  }

  .text-xl {
    margin-top: 0;
  }

  .panel {
    position: fixed;
    border-left: s.$size-4 solid s.$secondary-dark;
    top: 0;
    right: -100%;
    background: s.$secondary-light;
    padding: 3rem;
    max-width: s.$tablet;
    width: 100%;
    height: 100%;
    z-index: 16;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: (s.$tablet - 1)) {
      padding: 3rem s.$size-16;
    }

    &.open {
      right: 0;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: s.$size-16;
      cursor: pointer;
      z-index: 16;
    }
  }

  .panel,
  .overlay {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: s.$ink;
    opacity: 0;
    z-index: 16;

    &.open {
      pointer-events: all;
      opacity: 0.5;
    }
  }

  .image {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: s.$size-16 0 s.$size-32;
  }

  .dropContent {
    + .dropContent {
      margin-top: s.$size-32;
    }
  }

  .box {
    padding: s.$size-24;
    border-radius: s.$size-16;

    @media screen and (max-width: (s.$tablet-lg - 1)) {
      &:nth-of-type(5n - 4) {
        background-color: s.$tertiary-lighter;
      }
      &:nth-of-type(5n - 3) {
        background-color: s.$accent-cool-lighter;
      }
      &:nth-of-type(5n - 2) {
        background-color: s.$secondary-lighter;
      }
      &:nth-of-type(5n - 1) {
        background-color: s.$accent-warm-lighter;
      }
      &:nth-of-type(5n) {
        background-color: s.$primary-lighter;
      }
    }

    .title {
      font-size: s.$size-18;
      font-weight: bold;
      line-height: 1.3;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: s.$size-8;
      font-size: s.$size-12;
    }
  }

  .small {
    font-size: s.$size-12;

    p,
    li,
    ul li {
      font-size: s.$size-12;
    }

    ul {
      list-style-type: disc;
      display: flex;
      flex-direction: column;
      gap: s.$size-8;
      margin: s.$size-16 0 s.$size-16 s.$size-32;
    }
  }
}
