@use "../settings" as settings;

.dropContent {
  border-radius: settings.$border-radius-5;
  border: settings.$size-1 solid settings.$base-lightest;

  button {
    &.usa-button {
      width: 100%;
    }

    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: settings.$size-16;
    }
  }

  .heading-tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: settings.$size-20;
  }

  .content {
    padding: settings.$size-32 settings.$size-16;
    background: settings.$white;
    border-top: settings.$size-1 solid settings.$base-lightest;
    display: none;

    &.open {
      display: block;
    }
  }
}
