@use "../settings" as s;

.errorBox {
  border: s.$size-2 solid s.$base-lighter;
  border-radius: s.$size-20;
  padding: s.$size-24;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: s.$size-24;

  .heading-tag,
  p {
    margin: 0;
  }
}
