@use "../settings" as settings;

.errorBox {
  border: settings.$size-2 solid settings.$base-lighter;
  border-radius: settings.$size-20;
  padding: settings.$size-24;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: settings.$size-24;

  .heading-tag,
  p {
    margin: 0;
  }
}
