.errorBox {
  border: $size-2 solid $base-lighter;
  border-radius: $size-20;
  padding: $size-24;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: $size-24;

  .heading-tag,
  p {
    margin: 0;
  }
}
