@use "../settings" as settings;

.formField {
  position: relative;

  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(
      [type="submit"]
    ),
  textarea,
  select {
    background-color: settings.$white;
    border: settings.$size-1 solid settings.$base-light;
    border-radius: settings.$size-4;
    min-height: settings.$size-48;
    padding: settings.$size-12 settings.$size-8;
    text-align: left;

    &::placeholder {
      color: settings.$base-light;
    }
  }
  select {
    cursor: pointer;
  }

  &.error {
    input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(
        [type="submit"]
      ),
    textarea,
    select {
      border-color: settings.$error;
    }

    span {
      &.error {
        font-weight: bolder;
      }
    }
  }

  &.hideLabel {
    .usa-label {
      height: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
    }
  }

  &.textarea {
    textarea {
      margin-top: settings.$size-4;
      min-height: settings.$size-96;
    }
  }

  &.radio {
    &.error {
      label:before {
        box-shadow: 0 0 0 settings.$size-2 settings.$error;
      }

      span {
        &.error {
          margin-top: settings.$size-20;
        }
      }
    }
  }

  .error {
    color: settings.$error;
    display: flex;
    min-height: none;
    flex-direction: row;
    align-items: flex-start;
    gap: settings.$size-4;
    margin-top: settings.$size-4;

    svg {
      position: relative;
      display: inline-block;
    }
  }

  &.email {
    position: relative;

    input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(
        [type="submit"]
      ) {
      padding-left: settings.$size-52;
    }

    svg {
      &.icon {
        position: absolute;
        bottom: settings.$size-12;
        left: settings.$size-16;
        width: auto;
      }
    }

    &.error {
      svg {
        &.icon {
          bottom: settings.$size-32 + settings.$size-4;
        }
      }
    }
  }
}
