@use "../settings" as s;

select.usa-select,
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(
    [type="submit"]
  ) {
  border-radius: s.$size-4;
}

.usa-checkbox,
.usa-radio {
  background-color: transparent;
}

.usa-radio__input:focus + [class*="__label"]::before,
.usa-checkbox__input:focus + [class*="__label"]::before {
  outline: s.$size-4 solid s.$info-darker;
  outline-offset: s.$size-4;
}

.usa-label {
  margin: 0;
  font-weight: bolder;
}

.usa-checkbox__input:checked + [class*="__label"]::before {
  background-color: s.$info-darker;
  box-shadow: inset 0 0 0 s.$size-2 s.$info-darker;
}

.usa-radio__input:checked + [class*="__label"]::before {
  box-shadow: 0 0 0 s.$size-2 s.$info-darker, inset 0 0 0 s.$size-2 #fff;
}

.usa-radio__input:checked + [class*="__label"]::before {
  background-color: s.$info-darker;
}

.usa-checkbox__label::before,
.usa-radio__label::before {
  background-color: transparent;
  box-shadow: inset 0 0 0 s.$size-2 s.$base-light;
}

.label {
  margin: 0;
}
