select.usa-select,
input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(
    [type="submit"]
  ) {
  border-radius: $size-4;
}

.usa-checkbox,
.usa-radio {
  background-color: transparent;
}

.usa-radio__input:focus + [class*="__label"]::before,
.usa-checkbox__input:focus + [class*="__label"]::before {
  outline: $size-4 solid $info-darker;
  outline-offset: $size-4;
}

.usa-label {
  margin: 0;
  font-weight: bolder;
}

.usa-checkbox__input:checked + [class*="__label"]::before {
  background-color: $info-darker;
  box-shadow: inset 0 0 0 $size-2 $info-darker;
}

.usa-radio__input:checked + [class*="__label"]::before {
  box-shadow:
    0 0 0 $size-2 $info-darker,
    inset 0 0 0 $size-2 #fff;
}

.usa-radio__input:checked + [class*="__label"]::before {
  background-color: $info-darker;
}

.usa-checkbox__label::before,
.usa-radio__label::before {
  background-color: transparent;
}

.label {
  margin: 0;
}
