@use "../settings" as settings;

.iconCard {
  p {
    max-width: none;
    line-height: 1.2;
  }

  a {
    border: settings.$size-2 solid settings.$base-lighter;
    border-radius: settings.$size-16;
    padding: settings.$size-16;
    color: settings.$ink;
    background: settings.$white;
    text-decoration: none;
    display: block;

    &.linkObject {
      display: block;
    }

    @media screen and (min-width: (settings.$desktop)) {
      transition-duration: settings.$transition-speed;
      transition-timing-function: ease-in-out;
      transition-property: transform, box-shadow, background-color, border-color;
    }

    &:hover {
      color: settings.$ink;
      box-shadow: settings.$shadow-3;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .title {
    font-weight: bold;
    margin: settings.$size-12 0;
    font-size: settings.$size-18;
  }

  .description {
    font-size: settings.$size-14;
    line-height: settings.$size-20;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
  }

  &.blue {
    a {
      border: settings.$size-2 solid settings.$primary;
    }

    &.fill {
      a {
        background-color: settings.$primary-lighter;

        &:hover {
          @media screen and (min-width: (settings.$desktop)) {
            color: settings.$white;
            background-color: settings.$primary;

            svg {
              color: settings.$black;
              filter: invert(1) brightness(10);
            }
          }
        }
      }
    }
  }

  &.green {
    a {
      border: settings.$size-2 solid settings.$secondary-light;
    }

    &.fill {
      a {
        background-color: settings.$secondary-lighter;

        &:hover {
          @media screen and (min-width: (settings.$desktop)) {
            color: settings.$white;
            background-color: settings.$secondary-light;

            svg {
              color: settings.$black;
              filter: invert(1) brightness(10);
            }
          }
        }
      }
    }
  }

  &.purple {
    a {
      border: settings.$size-2 solid settings.$tertiary-vivid;
    }

    &.fill {
      a {
        background-color: settings.$tertiary-lighter;

        &:hover {
          @media screen and (min-width: (settings.$desktop)) {
            color: settings.$white;
            background-color: settings.$tertiary-vivid;

            svg {
              color: settings.$black;
              filter: invert(1) brightness(10);
            }
          }
        }
      }
    }
  }

  &.navy {
    a {
      border: settings.$size-2 solid settings.$info-dark;
    }

    &.fill {
      a {
        background-color: settings.$info-lighter;

        &:hover {
          @media screen and (min-width: (settings.$desktop)) {
            color: settings.$white;
            background-color: settings.$info-dark;

            svg {
              color: settings.$black;
              filter: invert(1) brightness(10);
            }
          }
        }
      }
    }
  }

  &.orange {
    a {
      border: settings.$size-2 solid settings.$accent-warm;
    }

    &.fill {
      a {
        background-color: settings.$accent-warm-lighter;

        &:hover {
          @media screen and (min-width: (settings.$desktop)) {
            color: settings.$white;
            background-color: settings.$accent-warm;

            svg {
              color: settings.$black;
              filter: invert(1) brightness(10);
            }
          }
        }
      }
    }
  }

  &.centered {
    text-align: center;

    a {
      padding: settings.$size-20;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        padding: settings.$size-8 settings.$size-16;
        display: flex;
        gap: settings.$size-16;
        align-items: center;
      }

      &:hover {
        @media screen and (min-width: (settings.$desktop)) {
          box-shadow: settings.$shadow-3;
        }
      }
    }

    p {
      margin: settings.$size-16 0 0;
      font-size: settings.$size-20;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        margin-top: 0;
      }
    }

    .icons {
      justify-content: center;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        height: 32px;
      }

      svg {
        height: 46px;
        width: auto;

        @media screen and (max-width: (settings.$tablet-lg - 1)) {
          height: 32px;
        }
      }
    }

    &.hoverFill {
      svg {
        width: auto;
        height: settings.$size-32;
      }

      a {
        &:hover {
          @media screen and (min-width: (settings.$tablet-lg)) {
            background: settings.$tertiary-lighter;
            border-color: settings.$tertiary-vivid;
          }
        }
      }
    }
  }

  &.fill {
    .title {
      font-size: settings.$size-28;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        font-size: settings.$size-22;
      }
    }
  }

  &.noLink {
    background: settings.$primary-lighter;
    border-radius: settings.$size-8;
    padding: settings.$size-24;

    &.blue {
      background-color: settings.$primary-lighter;

      svg {
        color: settings.$primary-dark;
      }
    }

    &.green {
      background-color: settings.$secondary-lighter;

      svg {
        color: settings.$secondary-dark;
      }
    }

    &.purple {
      background-color: settings.$tertiary-lighter;

      svg {
        color: settings.$tertiary-dark;
      }
    }

    &.navy {
      background-color: settings.$info-lighter;

      svg {
        color: settings.$info-dark;
      }
    }

    &.orange {
      background-color: settings.$accent-warm-lighter;

      svg {
        color: settings.$accent-warm-dark;
      }
    }

    .title {
      margin: settings.$size-8 0;
      font-size: settings.$size-22;
    }

    svg {
      height: auto;
      width: 32px;
    }
  }
}
