@use "../settings" as s;

.industryItem {
  border: s.$size-1 solid s.$base-lighter;
  border-radius: s.$size-16;
  overflow: hidden;
  padding: s.$size-16;
  background-color: s.$white;

  * {
    margin: 0;
  }

  .title {
    font-size: s.$size-22;
    font-weight: 700;
    line-height: 1.2;
  }

  .tag-item {
    border: none;
  }

  .image {
    position: relative;
    height: s.$size-146;
    border-radius: s.$size-16;
    width: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  .inner {
    height: 100%;
  }

  .buttons {
    display: flex;
    gap: s.$size-16;
    margin-top: s.$size-16;
    width: 100%;

    @media (max-width: (s.$desktop-md - 1)) and (min-width: (s.$tablet-md)) {
      flex-direction: column;
    }

    @media screen and (max-width: (s.$mobile-lg - 1)) {
      flex-direction: column;
    }

    > * {
      width: 100%;
    }
  }
}

.drawer {
  .industryDrawer {
    img {
      width: 100%;
      height: auto;
    }

    .labelBox {
      .content {
        > div {
          display: flex;
          flex-direction: column;
          gap: s.$size-16;
        }

        h3,
        h4,
        h5 {
          font-size: s.$size-16;
          font-weight: bold;
        }
      }
    }
  }
}
