@use "../settings" as settings;

.infoBox {
  border-radius: 10px;
  padding: settings.$size-8 settings.$size-16;

  p,
  a {
    margin: 0;
  }

  .copy {
    font-size: settings.$size-16;
    font-weight: bold;
    margin-top: settings.$size-6;
  }

  .number {
    font-weight: bold;
  }

  .eyebrow {
    display: flex;
    align-items: center;
    gap: settings.$size-8;
    font-size: settings.$size-16;

    .tooltip,
    .tooltip button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .usa-tooltip__body {
    @media screen and (min-width: (settings.$tablet-md)) {
      white-space: normal;
      width: settings.$size-160;
    }
  }

  .tooltip {
    display: block;
    position: relative;

    .content {
      position: absolute;
      background: settings.$white;
      left: calc(100% + 10px);
      width: 200px;
      padding: settings.$size-4_8 settings.$size-24 settings.$size-4_8
        settings.$size-8;
      line-height: 1.3;
      box-shadow: settings.$shadow-2;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid settings.$white;
        transform: translateY(-50%);
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        background: settings.$white;
        border: none;
        padding: settings.$size-4_8;
        cursor: pointer;
      }
    }
  }

  a {
    color: settings.$primary;
    display: flex;
    align-items: center;
    gap: settings.$size-8;
    width: 100%;

    &:hover {
      color: settings.$primary-dark;
    }
  }

  &.color-blue {
    background-color: settings.$primary-lighter;
  }
  &.color-green {
    background-color: settings.$secondary-lighter;
  }
  &.color-purple {
    background-color: settings.$tertiary-lighter;
  }
  &.color-orange {
    background-color: settings.$accent-warm-lighter;
  }
}
