.labelBox {
  border: $size-1 solid $base-lighter;

  &.large {
    svg {
      width: $size-32;
      height: $size-32;
    }

    .heading-tag {
      font-size: $size-18;
      font-weight: 500;
    }
  }

  .title {
    background: $primary;
    color: $ink;
    padding: 0.625rem $size-16;
    margin: 0;
    font-size: $size-16;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: $size-8;
  }

  .content {
    padding: $size-24 $size-16;
  }

  &.centered {
    .title {
      padding: $size-16;
      font-size: $size-18;
      justify-content: center;
    }
  }

  &.bg-fill {
    background: $base-cool;

    > div {
      background: $base-cool;
    }
  }

  &.color-blue {
    .title {
      background: $primary;
      color: $white;
    }
  }

  &.color-green {
    .title {
      background: $secondary-lighter;
    }
  }

  &.color-purple {
    .title {
      background: $tertiary-lighter;
    }
  }

  &.color-orange {
    .title {
      background: $accent-warm-light;
    }
  }

  &.color-navy {
    .title {
      background: $info-darker;
      color: $white;
    }
  }
}
