@use "../settings" as s;

.labelBox {
  border: s.$size-1 solid s.$base-lighter;

  &.large {
    .heading-tag {
      font-size: s.$size-24;
      font-weight: 700;

      .subheading {
        font-size: s.$size-16;
        font-weight: 400;
        margin-top: s.$size-8;
        display: block;
      }
    }
  }

  &.centered {
    .title {
      padding: s.$size-16;
      font-size: s.$size-18;
      justify-content: center;
    }
  }

  &.bg-fill {
    background: s.$base-cool;

    > div {
      background: s.$base-cool;
    }
  }

  &.color-blue {
    .title {
      background: s.$primary;
      color: s.$white;
    }
  }

  &.color-green {
    .title {
      background: s.$secondary-lighter;
    }
  }

  &.color-purple {
    .title {
      background: s.$tertiary-lighter;
    }
  }

  &.color-orange {
    .title {
      background: s.$accent-warm-light;
    }
  }

  &.color-navy {
    .title {
      background: s.$info-darker;
      color: s.$white;
    }
  }

  .title {
    background: s.$primary;
    color: s.$ink;
    padding: 0.625rem s.$size-16;
    margin: 0;
    font-size: s.$size-16;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: s.$size-8;
  }

  .content {
    padding: s.$size-24 s.$size-16;
  }

  .disclaimer {
    font-size: s.$size-14;
    line-height: 1.1;
  }
}
