@use "../settings" as settings;

.labelBox {
  border: settings.$size-1 solid settings.$base-lighter;

  &.large {
    svg {
      width: settings.$size-32;
      height: settings.$size-32;
    }

    .heading-tag {
      font-size: settings.$size-18;
      font-weight: 500;
    }
  }

  .title {
    background: settings.$primary;
    color: settings.$ink;
    padding: 0.625rem settings.$size-16;
    margin: 0;
    font-size: settings.$size-16;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: settings.$size-8;
  }

  .content {
    padding: settings.$size-24 settings.$size-16;
  }

  &.centered {
    .title {
      padding: settings.$size-16;
      font-size: settings.$size-18;
      justify-content: center;
    }
  }

  &.bg-fill {
    background: settings.$base-cool;

    > div {
      background: settings.$base-cool;
    }
  }

  &.color-blue {
    .title {
      background: settings.$primary;
      color: settings.$white;
    }
  }

  &.color-green {
    .title {
      background: settings.$secondary-lighter;
    }
  }

  &.color-purple {
    .title {
      background: settings.$tertiary-lighter;
    }
  }

  &.color-orange {
    .title {
      background: settings.$accent-warm-light;
    }
  }

  &.color-navy {
    .title {
      background: settings.$info-darker;
      color: settings.$white;
    }
  }
}
