@use "../settings" as settings;

.media-card {
  text-decoration: none;
  color: settings.$ink;
  border: settings.$size-2 solid settings.$ink;
  padding: settings.$size-16;

  &:hover {
    color: settings.$primary;

    > span {
      background-color: settings.$secondary;
    }
  }

  .image {
    height: 200px;
    position: relative;
  }
}
