@use "../settings" as s;

.occupationSelector {
  max-width: 36rem;
  display: block;
  font-weight: bold;
  position: relative;
  margin-bottom: 2.2rem;

  &.inactive {
    > button {
      color: s.$base-light;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: s.$size-16;
    bottom: s.$size-16;
    width: 0;
    height: 0;
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-top: 0.35rem solid s.$ink;
  }

  select {
    margin-top: 0.7rem;
    width: 100%;
    appearance: none;
    padding: 0.7rem 1.5rem 0.7rem 0.7rem;
  }
  .select-button {
    margin-top: 0.7rem;
    width: 100%;
    color: s.$ink;
    appearance: none;
    padding: 0.7rem s.$size-32 0.7rem 0.7rem;
    position: relative;
    border: s.$size-1 solid s.$base-lighter;
    border-radius: 5px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      right: s.$size-16;
      bottom: s.$size-16;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid s.$ink;
    }
  }

  .dropdown-select {
    font-weight: normal;
    margin-top: s.$size-16;
    box-shadow: 0 10px 20px -15px s.$ink;
    position: absolute;
    background-color: s.$white;
    z-index: 1;
    max-height: s.$size-330;
    overflow: auto;
    outline: 1px solid s.$base-lighter;

    border-radius: s.$size-8;
    width: 100%;

    &[aria-expanded="true"] {
      display: block;
    }

    .path-title,
    button {
      display: block;
      width: 100%;
    }

    .path-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: s.$base-lighter;
      padding: 0.5rem s.$size-16;
    }

    button {
      cursor: pointer;
      padding: s.$size-16;

      @media screen and (min-width: (s.$tablet)) {
        padding: s.$size-16;
      }

      &:nth-of-type(2n - 1) {
        background: s.$base-cool;
      }

      &:hover {
        @media screen and (min-width: (s.$tablet)) {
          background: s.$tertiary-lighter;
        }
      }
    }
  }
}
