@use "../settings" as settings;

.occupationListItem {
  padding: settings.$size-8 settings.$size-8 settings.$size-4;
  border: settings.$size-1 solid settings.$base-lighter;
  border-radius: settings.$border-radius-5;

  button {
    width: 100%;
    justify-content: space-between;
    text-decoration: none;

    &:focus {
      outline: none;
    }

    > span {
      display: flex;
      align-items: center;
      gap: settings.$size-16;
    }

    svg {
      width: auto;
      height: settings.$size-24;
      color: settings.$ink;
    }

    .occ-icon {
      svg {
        width: auto;
        height: settings.$size-40;
      }
    }
  }

  ul {
    border-top: settings.$size-1 solid settings.$base-lighter;
    margin-top: settings.$size-8;
    padding: settings.$size-8;
    list-style-type: none;

    @media screen and (min-width: (settings.$tablet)) {
      padding: settings.$size-8 settings.$size-8 settings.$size-8
        settings.$size-80;
    }
  }

  li {
    display: flex;

    @media screen and (min-width: (settings.$tablet)) {
      gap: settings.$size-16;
      align-items: center;
    }

    @media screen and (max-width: (settings.$tablet - 1)) {
      flex-direction: column;
    }

    + li {
      margin-top: settings.$size-6;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
