@use "../settings" as settings;

.occupationSelector {
  max-width: 36rem;
  display: block;
  font-weight: bold;
  position: relative;
  margin-bottom: 2.2rem;

  &.inactive {
    > button {
      color: settings.$base-light;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: settings.$size-16;
    bottom: settings.$size-16;
    width: 0;
    height: 0;
    border-left: 0.35rem solid transparent;
    border-right: 0.35rem solid transparent;
    border-top: 0.35rem solid settings.$ink;
  }

  select {
    margin-top: 0.7rem;
    width: 100%;
    appearance: none;
    padding: 0.7rem 1.5rem 0.7rem 0.7rem;
  }
  .select-button {
    margin-top: 0.7rem;
    width: 100%;
    color: settings.$ink;
    appearance: none;
    padding: 0.7rem settings.$size-32 0.7rem 0.7rem;
    position: relative;
    border: settings.$size-1 solid settings.$base-lighter;
    border-radius: 5px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      right: settings.$size-16;
      bottom: settings.$size-16;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid settings.$ink;
    }
  }

  .dropdown-select {
    font-weight: normal;
    margin-top: settings.$size-16;
    box-shadow: 0 10px 20px -15px settings.$ink;
    position: absolute;
    background-color: settings.$white;
    z-index: 1;
    max-height: settings.$size-330;
    overflow: auto;
    outline: 1px solid settings.$base-lighter;

    border-radius: settings.$size-8;
    width: 100%;

    &[aria-expanded="true"] {
      display: block;
    }

    .path-title,
    button {
      display: block;
      width: 100%;
    }

    .path-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: settings.$base-lighter;
      padding: 0.5rem settings.$size-16;
    }

    button {
      cursor: pointer;
      padding: settings.$size-16;

      @media screen and (min-width: (settings.$tablet)) {
        padding: settings.$size-16;
      }

      &:nth-of-type(2n - 1) {
        background: settings.$base-cool;
      }

      &:hover {
        @media screen and (min-width: (settings.$tablet)) {
          background: settings.$tertiary-lighter;
        }
      }
    }
  }
}
