@use "../settings" as settings;

.relatedHeading {
  display: flex;
  gap: settings.$size-16;
  align-items: center;
  padding-top: settings.$size-16;

  a {
    font-size: settings.$size-16;
    display: flex;
    align-items: center;
  }
}
