@use "../settings" as settings;

.resourceCard {
  border: settings.$size-2 solid #e5e5e5;
  padding: settings.$size-24;

  a.title {
    color: settings.$primary;
    font-size: settings.$size-24;
    margin-bottom: 0;
    text-decoration: none;

    &:hover {
      color: settings.$primary-light;
    }
  }

  .tag-item {
    border: none;
  }
}
