@use "../settings" as s;

.resourceCard {
  border: s.$size-2 solid #e5e5e5;
  padding: s.$size-24;

  a.title {
    color: s.$primary;
    font-size: s.$size-24;
    margin-bottom: 0;
    text-decoration: none;

    &:hover {
      color: s.$primary-light;
    }
  }

  .tag-item {
    border: none;
  }
}
