@use "../settings" as settings;

.resourceLinkBox {
  border-radius: settings.$border-radius-10;
  overflow: hidden;
  padding: settings.$size-48 settings.$size-16;

  .heading-tag {
    color: settings.$white;
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: settings.$size-24;
  }

  .usa-button {
    margin: 0;
  }

  &.color-navy {
    background: settings.$info-darker;
  }
  &.color-blue {
    background: settings.$primary;
  }
  &.color-green {
    background: settings.$secondary-dark;
  }
  &.color-purple {
    background: settings.$tertiary;
  }
  &.color-orange {
    background: settings.$accent-warm-dark;
  }
}
