@use "../settings" as settings;

.sectionHeading {
  margin-bottom: settings.$size-32;

  &.noDivider {
    margin-bottom: settings.$size-16;

    .heading-tag {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .heading-tag {
    color: settings.$ink;
    font-size: settings.$size-32;
    display: inline-block;
    font-weight: 500;
    width: 100%;
    margin-bottom: settings.$size-8;
    border-bottom: settings.$size-1 solid settings.$base-lighter;
    padding-bottom: settings.$size-16;
  }

  &.strikeThrough {
    text-align: center;
    padding-bottom: 0;
    position: relative;

    &:before {
      content: "";
      height: settings.$size-1;
      width: 100%;
      background: settings.$base-lighter;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      border: 0;
      background: settings.$white;
      width: initial;
      position: relative;
      padding: 0 settings.$size-16;
    }

    &.color-blue {
      &:before {
        background: settings.$primary;
      }
    }

    &.color-green {
      &:before {
        background: settings.$secondary;
      }
    }

    &.color-purple {
      &:before {
        background: settings.$tertiary;
      }
    }

    &.color-navy {
      &:before {
        background: settings.$info-darker;
      }
    }

    &.color-orange {
      &:before {
        background: settings.$accent-warm-dark;
      }
    }
  }

  &.color-blue {
    border-color: settings.$primary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: settings.$primary;
    }
  }

  &.color-green {
    border-color: settings.$secondary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: settings.$secondary;
    }
  }

  &.color-purple {
    border-color: settings.$tertiary;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: settings.$tertiary;
    }
  }

  &.color-navy {
    border-color: settings.$info-darker;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: settings.$info-darker;
    }
  }

  &.color-orange {
    border-color: settings.$accent-warm-dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: settings.$accent-warm-dark;
    }
  }

  .description {
    margin: settings.$size-1 0 0;
    font-size: settings.$size-16;
  }
}
