.seeMoreList {
  line-height: 1.6;

  > p {
    font-size: $size-16;
    font-weight: bold;
    margin: 0;
  }

  > ul {
    margin: $size-8 0;
  }

  .hasLink {
    color: $primary-vivid;
  }

  a {
    @include linkColor;
  }

  .usa-button {
    &.show {
      @include linkColor;
    }
  }
}
