@use "../settings" as settings;
@use "../mixins" as mixins;

.showMore {
  button {
    color: settings.$primary;
    display: flex;
    align-items: center;
    gap: settings.$size-4;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
}
