@use "../settings" as settings;

.systemError {
  border-radius: settings.$size-20;
  box-shadow: settings.$shadow-3;
  max-width: settings.$size-560;
  margin: settings.$size-48 auto;
  overflow: hidden;

  &.color-navy {
    .heading {
      background-color: settings.$info-lighter;
    }
  }
  &.color-blue {
    .heading {
      background-color: settings.$primary-lighter;
    }
  }
  &.color-green {
    .heading {
      background-color: settings.$secondary-lighter;
    }
  }
  &.color-purple {
    .heading {
      background-color: settings.$tertiary-lighter;
    }
  }
  &.color-orange {
    .heading {
      background-color: settings.$accent-warm-lighter;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    gap: settings.$size-32;
    padding: settings.$size-32;

    .heading-tag {
      margin: 0;
      font-size: settings.$size-32;
      font-weight: 600;
    }
  }

  .copy {
    padding: settings.$size-32;

    ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: settings.$size-16;

      li {
        margin: 0;
      }
    }
  }
}
