@use "../settings" as s;

.tag-item {
  display: inline-flex;
  align-items: center;
  gap: s.$size-4;
  padding: s.$size-4 s.$size-12;
  border-radius: s.$size-2;
  color: s.$ink;
  border: s.$size-1 solid;

  &.small {
    padding: s.$size-2 s.$size-8;
    font-size: s.$size-14;
    line-height: 1;

    * {
      font-size: s.$size-14;
    }

    svg {
      width: s.$size-14;
      height: s.$size-14;
    }
  }

  &.chip {
    padding: 5px 15px;
    border-radius: s.$size-20;
    border: none;
    font-weight: bold;

    &.color-green {
      background-color: s.$secondary-light;
    }

    &.color-blue {
      background-color: s.$primary-light;
    }

    &.color-purple {
      background-color: s.$tertiary-light;
    }

    &.color-navy {
      background-color: s.$info-light;
    }

    &.color-orange {
      background-color: s.$accent-warm-light;
    }
  }

  &.color-green {
    background-color: s.$secondary-lighter;
    border-color: s.$secondary-light;
  }

  &.color-blue {
    background-color: s.$primary-lighter;
    border-color: s.$primary-light;
  }

  &.color-purple {
    background-color: s.$tertiary-lighter;
    border-color: s.$tertiary-light;
  }

  &.color-navy {
    background-color: s.$info-lighter;
    border-color: s.$info-light;
  }

  &.color-orange {
    background-color: s.$accent-warm-lighter;
    border-color: s.$accent-warm-light;
  }
}

button,
a {
  .tag-item {
    cursor: pointer;
    &:hover {
      color: s.$white;
    }

    &.color-green {
      &:hover {
        background-color: s.$secondary;
      }
    }

    &.color-blue {
      &:hover {
        background-color: s.$primary-light;
      }
    }

    &.color-purple {
      &:hover {
        background-color: s.$tertiary;
      }
    }

    &.color-navy {
      &:hover {
        background-color: s.$info;
      }
    }

    &.color-orange {
      &:hover {
        background-color: s.$accent-warm;
      }
    }
  }
}
