@use "../settings" as settings;

.article {
  padding: settings.$size-48 0;

  .spinner {
    display: flex;
    justify-content: center;

    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      display: none;
    }
  }

  .inner {
    display: flex;
    gap: settings.$size-32;
    align-items: flex-start;
    flex-direction: row-reverse;

    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      flex-direction: column;
    }
  }

  .nav-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    top: settings.$size-16;

    @media screen and (min-width: (settings.$tablet-lg)) {
      width: settings.$size-320;
      top: settings.$size-32;
    }
  }

  nav {
    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      background-color: settings.$white;
      display: none;
      width: 100%;
      max-width: settings.$size-480;
      position: absolute;
      left: 50%;
      top: 100%;
      border-top: 4px solid settings.$base-lighter;
      transform: translateX(-50%);
      box-shadow: settings.$shadow-3;
      max-height: calc(100vh - settings.$size-120);
      overflow: auto;
    }

    &.open {
      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        display: block;
      }
    }

    li {
      margin: 0;
    }
  }

  .toggle-container {
    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .usa-button {
      justify-content: center;
      margin: 0;
    }
  }

  .content {
    @media screen and (min-width: (settings.$tablet-lg)) {
      width: calc(100% - settings.$size-320);
    }
    h2 {
      margin: settings.$size-80 0 settings.$size-48;

      &:first-of-type {
        margin: 0;
      }
    }
  }
}
