@use "../settings" as s;

.article {
  padding: s.$size-48 0;

  .spinner {
    display: flex;
    justify-content: center;

    @media screen and (max-width: (s.$tablet-lg - 1)) {
      display: none;
    }
  }

  .inner {
    display: flex;
    gap: s.$size-32;
    align-items: flex-start;
    flex-direction: row-reverse;

    @media screen and (max-width: (s.$tablet-lg - 1)) {
      flex-direction: column;
    }
  }

  .nav-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    top: s.$size-16;

    @media screen and (min-width: (s.$tablet-lg)) {
      width: s.$size-320;
      top: s.$size-32;
    }
  }

  nav {
    @media screen and (max-width: (s.$tablet-lg - 1)) {
      background-color: s.$white;
      display: none;
      width: 100%;
      max-width: s.$size-480;
      position: absolute;
      left: 50%;
      top: 100%;
      border-top: 4px solid s.$base-lighter;
      transform: translateX(-50%);
      box-shadow: s.$shadow-3;
      max-height: calc(100vh - s.$size-120);
      overflow: auto;
    }

    &.open {
      @media screen and (max-width: (s.$tablet-lg - 1)) {
        display: block;
      }
    }

    li {
      margin: 0;
    }
  }

  .toggle-container {
    @media screen and (max-width: (s.$tablet-lg - 1)) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .usa-button {
      justify-content: center;
      margin: 0;
    }
  }

  .content {
    @media screen and (min-width: (s.$tablet-lg)) {
      width: calc(100% - s.$size-320);
    }
    h2 {
      margin: s.$size-80 0 s.$size-48;

      &:first-of-type {
        margin: 0;
      }
    }
  }
}
