.cardSlider {
  position: relative;
  width: 100%;
  padding: $size-48 0;
  background-color: $white;

  .container {
    padding: 0 $size-16;
    max-width: $desktop-xl + 16px;
    position: relative;
  }

  .inner {
    @media screen and (min-width: ($desktop-lg)) {
      padding: 0 $size-16 $size-6;
      position: relative;
    }
  }

  .sectionHeading {
    margin-bottom: $size-32;

    @media screen and (max-width: ($tablet - 1)) {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: $size-16;
      z-index: 1;
    }
  }

  .slider-container {
    transition: transform $transition-speed ease;
    margin-top: $size-4;
    padding-bottom: $size-16;

    @media screen and (max-width: ($desktop-lg - 1)) {
      transform: none !important;
    }

    .iconCard {
      min-height: $size-160;

      a {
        height: 100%;
      }
    }
  }

  .arrow {
    position: absolute;
    top: calc(50% + $size-40);
    transform: translateY(-50%);
    width: $size-40;
    height: $size-40;
    font-size: $size-24;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: ($desktop-lg - 1)) {
      display: none;
    }

    &.left {
      left: -$size-12;
    }

    &.right {
      right: -$size-12;
    }
  }
}
