@use "../settings" as settings;

.cardSlider {
  position: relative;
  width: 100%;
  padding: settings.$size-48 0;
  background-color: settings.$white;

  .container {
    padding: 0 settings.$size-16;
    max-width: settings.$desktop-xl + 16px;
    position: relative;
  }

  .inner {
    @media screen and (min-width: (settings.$desktop-lg)) {
      padding: 0 settings.$size-16 settings.$size-6;
      position: relative;
    }
  }

  .sectionHeading {
    margin-bottom: settings.$size-32;

    @media screen and (max-width: (settings.$tablet - 1)) {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: settings.$size-16;
      z-index: 1;
    }
  }

  .slider-container {
    transition: transform settings.$transition-speed ease;
    margin-top: settings.$size-4;
    padding-bottom: settings.$size-16;

    @media screen and (max-width: (settings.$desktop-lg - 1)) {
      transform: none !important;
    }

    .iconCard {
      min-height: settings.$size-160;

      a {
        height: 100%;
      }
    }
  }

  .arrow {
    position: absolute;
    top: calc(50% + settings.$size-40);
    transform: translateY(-50%);
    width: settings.$size-40;
    height: settings.$size-40;
    font-size: settings.$size-24;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: (settings.$desktop-lg - 1)) {
      display: none;
    }

    &.left {
      left: -(settings.$size-12);
    }

    &.right {
      right: -(settings.$size-12);
    }
  }
}
