@use "../settings" as settings;

.ctaBanner {
  padding: settings.$size-48 0;
  background: settings.$white;

  &.light {
    @extend .container;
    margin-bottom: settings.$size-48;
    .cta {
      padding-top: settings.$size-52;
      padding-bottom: settings.$size-52;
      background: settings.$info-lighter;
      border-radius: settings.$size-8;
    }

    .heading-tag {
      font-size: settings.$size-22;
      max-width: settings.$size-300;
    }

    .usa-button {
      width: auto;
    }
  }

  &.fullColor {
    background-color: settings.$primary;
    color: settings.$white;

    .heading {
      color: settings.$white;
      font-size: settings.$size-32;
      margin-bottom: 0;
      line-height: 1.2;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        font-size: settings.$size-24;
      }
    }

    .heading {
      @media screen and (min-width: (settings.$desktop)) {
        width: 40%;
      }
    }
    .links {
      @media screen and (min-width: (settings.$desktop)) {
        width: 60%;
      }
    }

    .container {
      display: flex;
      gap: settings.$size-32;
      align-items: center;

      @media screen and (max-width: (settings.$desktop - 1)) {
        flex-direction: column;
      }
    }

    .links {
      display: flex;
      gap: settings.$size-16;
      flex-wrap: wrap;

      @media screen and (max-width: (settings.$tablet - 1)) {
        flex-direction: column;
      }

      .link {
        text-align: left;
        margin: 0;

        @media screen and (min-width: (settings.$tablet)) {
          width: calc(50% - settings.$size-8);
        }
      }
    }

    &.color-blue {
      background: settings.$primary;
    }

    &.color-green {
      background: settings.$secondary-dark;
    }

    &.color-navy {
      background: settings.$info-darker;
    }

    &.color-purple {
      background: settings.$tertiary;
    }
  }

  &.contained {
    max-width: settings.$desktop-lg;
    margin: 0 auto;

    @media screen and (min-width: (settings.$desktop)) {
      border-radius: settings.$size-20;
      padding-left: settings.$size-80;
      padding-right: settings.$size-80;
    }

    @media screen and (min-width: (settings.$desktop-lg)) {
      padding-left: settings.$size-160;
      padding-right: settings.$size-160;
    }

    .heading {
      color: settings.$white;
      font-size: settings.$size-24;
      margin-bottom: 0;
      line-height: 1.2;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        font-size: settings.$size-24;
      }
    }

    .container {
      > * {
        flex: initial;
      }
    }
  }
}
