@use "../settings" as s;

.filterControl {
  &.open {
    @media screen and (max-width: (s.$tablet-lg - 1)) {
      box-shadow: s.$shadow-2;
    }

    .content {
      @media screen and (max-width: (s.$tablet-lg - 1)) {
        display: block;
      }
    }
  }
  .labelBox {
    @media screen and (max-width: (s.$tablet-lg - 1)) {
      border-radius: 0;
    }

    .heading-tag {
      justify-content: center;

      svg {
        @media screen and (min-width: (s.$tablet-lg)) {
          display: none;
        }
      }
    }
  }

  .group-heading {
    font-weight: 500;
    margin: 0;
  }

  .heading {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: s.$size-16 0;
  }

  .clear {
    margin: s.$size-16 0 0;
  }

  .clear-all {
    padding: s.$size-12 s.$size-20_8;
  }

  button {
    width: auto;
  }

  .content {
    @media screen and (max-width: (s.$tablet-lg - 1)) {
      display: none;
    }
  }

  .resourceLinkBox {
    margin-top: s.$size-32;

    @media screen and (max-width: (s.$tablet-lg - 1)) {
      display: none;
    }
  }
}
