@use "../settings" as settings;

.steps {
  background-color: white;
  border-radius: settings.$size-16;
  padding: settings.$size-16;
  max-width: settings.$desktop-lg - 50;
  margin: settings.$size-32 auto;

  @media screen and (min-width: (settings.$tablet-lg + 1)) {
    border-radius: settings.$size-80;
  }

  .list-num {
    align-items: center;
    background-color: settings.$secondary;
    border-radius: 100%;
    color: settings.$white;
    display: flex;
    font-size: settings.$size-16;
    font-weight: bold;
    height: settings.$size-24;
    justify-content: center;
    width: settings.$size-24;
  }

  .container {
    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      align-items: flex-start;
      gap: settings.$size-16;
    }
  }

  li {
    margin: 0;

    p {
      line-height: 1.2;
      font-size: settings.$size-16;

      @media screen and (min-width: (settings.$tablet-lg + 1)) {
        font-size: settings.$size-18;
        font-weight: 600;
      }
    }
  }
}
