@use "../settings" as s;

.steps {
  display: flex;
  justify-content: center;
  > div {
    display: inline-block;
    padding: 0 s.$size-16;

    .inner {
      background-color: s.$secondary-lighter;
      border-radius: s.$size-16;
      padding: s.$size-16 s.$size-32;
      margin: 0 auto;

      @media screen and (min-width: (s.$tablet-lg + 1)) {
        border-radius: s.$size-80;
      }

      .list-num {
        align-items: center;
        background-color: s.$secondary;
        border-radius: 100%;
        color: s.$white;
        display: flex;
        font-size: s.$size-16;
        font-weight: bold;
        justify-content: center;
        height: s.$size-24;
        width: s.$size-24;

        span {
          display: block;
          position: relative;
          top: 0.5px;
        }
      }

      .container {
        @media screen and (max-width: (s.$tablet-lg - 1)) {
          align-items: flex-start;
          gap: s.$size-16;
        }
      }

      li {
        margin: 0;

        p {
          line-height: 1.2;
          font-size: s.$size-16;
          font-weight: bold;

          @media screen and (min-width: (s.$tablet-lg + 1)) {
            font-size: s.$size-18;
          }
        }
      }
    }
  }

  &.theme-base {
    > div {
      .inner {
        background-color: s.$base-lighter;
        .list-num {
          background-color: s.$base;
        }
      }
    }
  }
  &.theme-navy {
    > div {
      .inner {
        background-color: s.$info-lighter;
        .list-num {
          background-color: s.$info-dark;
        }
      }
    }
  }
  &.theme-blue {
    > div {
      .inner {
        background-color: s.$primary-lighter;
        .list-num {
          background-color: s.$primary;
        }
      }
    }
  }
  &.theme-green {
    > div {
      .inner {
        background-color: s.$secondary-lighter;
        .list-num {
          background-color: s.$secondary;
        }
      }
    }
  }
  &.theme-purple {
    > div {
      .inner {
        background-color: s.$tertiary-lighter;
        .list-num {
          background-color: s.$tertiary;
        }
      }
    }
  }
  &.theme-orange {
    > div {
      .inner {
        background-color: s.$accent-warm-lighter;
        .list-num {
          background-color: s.$accent-warm;
        }
      }
    }
  }
}
