@use "../settings" as s;

.steps {
  background-color: white;
  border-radius: s.$size-16;
  padding: s.$size-16;
  max-width: s.$desktop-lg - 50;
  margin: s.$size-32 auto;

  @media screen and (min-width: (s.$tablet-lg + 1)) {
    border-radius: s.$size-80;
  }

  .list-num {
    align-items: center;
    background-color: s.$secondary;
    border-radius: 100%;
    color: s.$white;
    display: flex;
    font-size: s.$size-16;
    font-weight: bold;
    height: s.$size-24;
    justify-content: center;
    width: s.$size-24;
  }

  .container {
    @media screen and (max-width: (s.$tablet-lg - 1)) {
      align-items: flex-start;
      gap: s.$size-16;
    }
  }

  li {
    margin: 0;

    p {
      line-height: 1.2;
      font-size: s.$size-16;

      @media screen and (min-width: (s.$tablet-lg + 1)) {
        font-size: s.$size-18;
        font-weight: 600;
      }
    }
  }
}
