@use "../settings" as s;

.introBlocks {
  @media screen and (min-width: (s.$tablet-md)) {
    display: flex;
  }

  .box {
    background-color: s.$info-lighter;

    @media screen and (min-width: (s.$tablet-md)) {
      width: 50%;
    }

    h2 {
      font-size: s.$size-40;
      font-weight: 700;

      @media screen and (max-width: (s.$tablet-lg - 1)) {
        font-size: s.$size-32;
      }

      @media screen and (max-width: (s.$tablet - 1)) {
        font-size: s.$size-24;
      }
    }

    &:nth-child(2n) {
      background-color: s.$primary-lighter;

      h2 {
        @media screen and (min-width: (s.$tablet-lg)) {
          font-size: s.$size-32;
        }
      }

      .inner {
        margin: 0 auto 0 0;

        @media screen and (min-width: (s.$tablet)) {
          padding: s.$size-48 s.$size-16 s.$size-48 s.$size-56;
        }
        @media screen and (min-width: (s.$tablet-lg)) {
          padding: s.$size-96 s.$size-16 s.$size-96 s.$size-48;
        }
      }
    }

    .inner {
      max-width: s.$size-640;
      margin: 0 0 0 auto;
      padding: s.$size-96 s.$size-48 s.$size-96 s.$size-16;

      @media screen and (max-width: (s.$tablet-md - 1)) {
        margin: 0 auto;
      }

      @media screen and (max-width: (s.$tablet-lg - 1)) {
        padding: s.$size-48 s.$size-56 s.$size-48 s.$size-16;
      }

      @media screen and (max-width: (s.$tablet - 1)) {
        padding: s.$size-48 s.$size-16;
      }

      p {
        &.heading {
          font-size: s.$size-22;
          font-weight: 700;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: s.$size-16;
        margin: s.$size-16 0;
      }

      .usa-button {
        width: auto;
        display: inline-block;
      }

      button {
        appearance: none;
        cursor: pointer;
        background-color: s.$base-cool;
        border-radius: s.$size-100;
        color: s.$ink;
        text-align: center;
        padding: s.$size-8 s.$size-16;

        &:nth-of-type(4n-1) {
          outline: s.$size-2 solid s.$primary;

          &:hover {
            @media screen and (min-width: (s.$tablet-md)) {
              outline: s.$size-4 solid s.$primary;
            }
          }
        }
        &:nth-of-type(4n-2) {
          outline: s.$size-2 solid s.$tertiary;

          &:hover {
            @media screen and (min-width: (s.$tablet-md)) {
              outline: s.$size-4 solid s.$tertiary;
            }
          }
        }
        &:nth-of-type(4n-3) {
          outline: s.$size-2 solid s.$secondary;

          &:hover {
            @media screen and (min-width: (s.$tablet-md)) {
              outline: s.$size-4 solid s.$secondary;
            }
          }
        }
        &:nth-of-type(4n) {
          outline: s.$size-2 solid s.$info;

          &:hover {
            @media screen and (min-width: (s.$tablet-md)) {
              outline: s.$size-4 solid s.$info;
            }
          }
        }

        &.active {
          color: s.$white;

          &:nth-of-type(4n-1) {
            outline: none;
            background-color: s.$primary;
          }
          &:nth-of-type(4n-2) {
            outline: none;
            background-color: s.$tertiary;
          }
          &:nth-of-type(4n-3) {
            outline: none;
            background-color: s.$secondary;
          }
          &:nth-of-type(4n) {
            outline: none;
            background-color: s.$info;
          }
        }

        &:focus {
          &:focus {
            outline: 0.25rem solid s.$primary-darker;
          }
        }
      }
    }
  }
}
