@use "../settings" as settings;

.introBlocks {
  @media screen and (min-width: (settings.$tablet-md)) {
    display: flex;
  }

  .box {
    background-color: settings.$info-lighter;

    @media screen and (min-width: (settings.$tablet-md)) {
      width: 50%;
    }

    h2 {
      font-size: settings.$size-40;
      font-weight: 700;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        font-size: settings.$size-32;
      }

      @media screen and (max-width: (settings.$tablet - 1)) {
        font-size: settings.$size-24;
      }
    }

    &:nth-child(2n) {
      background-color: settings.$primary-lighter;

      h2 {
        @media screen and (min-width: (settings.$tablet-lg)) {
          font-size: settings.$size-32;
        }
      }

      .inner {
        margin: 0 auto 0 0;

        @media screen and (min-width: (settings.$tablet)) {
          padding: settings.$size-48 settings.$size-16 settings.$size-48
            settings.$size-56;
        }
        @media screen and (min-width: (settings.$tablet-lg)) {
          padding: settings.$size-96 settings.$size-16 settings.$size-96
            settings.$size-48;
        }
      }
    }

    .inner {
      max-width: settings.$size-640;
      margin: 0 0 0 auto;
      padding: settings.$size-96 settings.$size-48 settings.$size-96
        settings.$size-16;

      @media screen and (max-width: (settings.$tablet-md - 1)) {
        margin: 0 auto;
      }

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        padding: settings.$size-48 settings.$size-56 settings.$size-48
          settings.$size-16;
      }

      @media screen and (max-width: (settings.$tablet - 1)) {
        padding: settings.$size-48 settings.$size-16;
      }

      p {
        &.heading {
          font-size: settings.$size-22;
          font-weight: 700;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: settings.$size-16;
        margin: settings.$size-16 0;
      }

      .usa-button {
        width: auto;
        display: inline-block;
      }

      button {
        appearance: none;
        cursor: pointer;
        background-color: settings.$base-cool;
        border-radius: settings.$size-100;
        color: settings.$ink;
        text-align: center;
        padding: settings.$size-8 settings.$size-16;

        &:nth-of-type(4n-1) {
          outline: settings.$size-2 solid settings.$primary;

          &:hover {
            @media screen and (min-width: (settings.$tablet-md)) {
              outline: settings.$size-4 solid settings.$primary;
            }
          }
        }
        &:nth-of-type(4n-2) {
          outline: settings.$size-2 solid settings.$tertiary;

          &:hover {
            @media screen and (min-width: (settings.$tablet-md)) {
              outline: settings.$size-4 solid settings.$tertiary;
            }
          }
        }
        &:nth-of-type(4n-3) {
          outline: settings.$size-2 solid settings.$secondary;

          &:hover {
            @media screen and (min-width: (settings.$tablet-md)) {
              outline: settings.$size-4 solid settings.$secondary;
            }
          }
        }
        &:nth-of-type(4n) {
          outline: settings.$size-2 solid settings.$info;

          &:hover {
            @media screen and (min-width: (settings.$tablet-md)) {
              outline: settings.$size-4 solid settings.$info;
            }
          }
        }

        &.active {
          color: settings.$white;

          &:nth-of-type(4n-1) {
            outline: none;
            background-color: settings.$primary;
          }
          &:nth-of-type(4n-2) {
            outline: none;
            background-color: settings.$tertiary;
          }
          &:nth-of-type(4n-3) {
            outline: none;
            background-color: settings.$secondary;
          }
          &:nth-of-type(4n) {
            outline: none;
            background-color: settings.$info;
          }
        }

        &:focus {
          &:focus {
            outline: 0.25rem solid settings.$primary-darker;
          }
        }
      }
    }
  }
}
