.minimalBanner {
  padding: $size-32 0 $size-64;

  @media screen and (max-width: ($tablet - 1)) {
    padding: $size-16 0 $size-32;
  }

  .heading-tag {
    margin: 0;
  }
  .tag-item {
    position: relative;
    bottom: $size-4;
    margin-left: $size-16;
  }

  .heading-tag {
    font-size: $size-32;
    margin: 0;
    display: inline;
    font-weight: 500;

    @media screen and (max-width: ($tablet-md - 1)) {
      font-size: $size-24;
      font-weight: bold;
    }
  }

  p {
    margin: 0;
  }

  .usa-tooltip__body {
    @media screen and (min-width: ($tablet-md)) {
      white-space: normal;
      margin: 0 !important;
      width: $size-216;
      transform: translateX(calc(-50% + $size-8));
      top: auto !important;
      bottom: calc(100% + $size-4);
    }
  }
}
