@use "../settings" as settings;

.occupationList {
  display: flex;
  flex-direction: column;
  gap: settings.$size-8;

  .occupation-search {
    margin-bottom: settings.$size-22;

    > div {
      > div {
        gap: settings.$size-8;
      }
    }
  }
}
