@use "../settings" as s;

.occupation-box {
  border: 0;
  border-radius: 0;
  background: white;
  padding: s.$size-32 0;

  @media screen and (min-width: (s.$tablet + 1)) {
    padding: s.$size-32 0;
  }

  .usa-breadcrumb {
    margin-bottom: s.$size-16;

    .usa-breadcrumb__list-item {
      &:not(:last-child) {
        &::after {
          content: "/";
          background-color: transparent;
          mask: none;
          bottom: 0;
          left: s.$size-5;
          margin: 0;

          @media screen and (max-width: (s.$mobile-lg - 1)) {
            margin: 0 s.$size-6;
          }
        }
      }
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 1.5rem;
    max-width: 100%;
    gap: s.$size-32;
    flex-wrap: nowrap;

    @media screen and (max-width: (s.$desktop - 1)) {
      display: block;
    }

    @media screen and (max-width: (s.$mobile-lg - 1)) {
      flex-direction: column;
    }

    h3 {
      margin: 0;
      font-size: 1.3rem;
      font-weight: bold;
    }

    p {
      margin-top: 0.5rem;
      width: 100%;
      margin: 0;
      width: 100%;

      @media screen and (min-width: (s.$desktop)) {
        margin-right: 1.5rem;
      }
    }

    > div:not(.meta) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: s.$size-16;
      max-width: s.$size-720;

      @media screen and (min-width: (s.$desktop)) {
        width: calc(100% - s.$size-520);
      }
    }

    .meta {
      padding: s.$size-16 0;
      gap: s.$size-16;
      width: 100%;
      max-width: s.$size-520;
    }

    .tag {
      @media screen and (min-width: (s.$mobile-lg)) {
        margin-left: s.$size-16;
      }
      @media screen and (max-width: (s.$mobile-lg - 1)) {
        margin: 0 0 0.5rem;
      }
    }

    + .single-path {
      padding: 0.5rem s.$size-16 0.5rem 0.2rem;

      @media screen and (max-width: (s.$tablet - 1)) {
        padding: 0.5rem s.$size-16;
      }
    }
  }

  .occu-row {
    display: flex;
    width: 100%;
    gap: s.$size-32;
    align-items: flex-start;

    @media screen and (max-width: (s.$tablet - 1)) {
      flex-direction: column;
    }

    @media screen and (min-width: (s.$tablet)) {
      max-width: s.$desktop-xl;
      margin: 0 auto;
    }

    > div {
      width: 100%;

      @media screen and (min-width: (s.$tablet)) {
        max-width: s.$size-520;
      }

      &:first-of-type {
        @media screen and (min-width: (s.$tablet-xl)) {
          max-width: calc(100% - s.$size-520);
        }
      }

      @media screen and (min-width: (s.$tablet)) {
        width: 100%;
      }
    }

    &.info {
      @media screen and (max-width: (s.$tablet-xl - 1)) {
        flex-direction: column-reverse;
      }

      > div {
        @media screen and (max-width: (s.$tablet-xl - 1)) {
          width: 100%;
        }
      }

      .box {
        @media screen and (min-width: (s.$tablet-xl)) {
          width: calc(100% - s.$size-520);
        }
      }
    }
  }

  .meta {
    display: flex;
    gap: s.$size-32;

    @media screen and (max-width: (s.$mobile-lg - 1)) {
      gap: s.$size-16;
      flex-direction: column;
    }

    @media screen and (min-width: (s.$tablet-xl)) {
      width: 25rem;
    }

    @media screen and (max-width: (s.$tablet - 1)) {
      padding: 0 s.$size-16;
    }

    .infoBox {
      width: 100%;
    }
  }

  .labelBox {
    width: 100%;
    margin-bottom: s.$size-32;

    @media screen and (min-width: (s.$tablet)) {
      overflow: hidden;
      border-radius: s.$size-10;
    }

    @media screen and (max-width: (s.$tablet - 1)) {
      display: flex;
      flex-direction: column;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .content {
      padding: s.$size-16;

      @media screen and (min-width: (s.$tablet)) {
        border-left: s.$size-1 solid s.$base-lightest;
        border-right: s.$size-1 solid s.$base-lightest;
        border-bottom: s.$size-1 solid s.$base-lightest;
        border-bottom-left-radius: s.$size-10;
        border-bottom-right-radius: s.$size-10;
      }
    }
  }

  .related-jobs {
    .content {
      a {
        &.usa-button {
          background-color: s.$primary-lighter;
          border: s.$size-2 solid s.$primary-light;
        }
      }
    }
  }

  .related-training,
  .related-occupations {
    a:not(.usa-button) {
      color: s.$primary;
      text-decoration: none;
      display: block;
    }
  }

  .related-training {
    ul {
      display: flex;
      flex-direction: column;
      gap: s.$size-24;
      margin: s.$size-16 0 s.$size-32;
    }

    li {
      margin: 0;
    }

    a:not(.usa-button) {
      border: 2px solid s.$base-lighter;
      border-radius: s.$size-8;
      padding: s.$size-16;
      transition-duration: s.$transition-speed;

      &:hover {
        @media screen and (min-width: (s.$tablet-md)) {
          box-shadow: s.$shadow-2;
        }
      }

      .title-bar {
        line-height: 1.2;
        font-size: s.$size-16;
        margin-bottom: s.$size-16;
        font-weight: bold;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        svg {
          color: s.$ink;
        }
      }

      .span-grid {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: s.$size-16;

        span {
          color: s.$ink;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          &.last-line {
            justify-content: space-between;
          }

          &.salary {
            color: s.$white;
            background-color: s.$base;
            padding: s.$size-4 s.$size-8 s.$size-2;
          }
        }
      }
    }
  }
}
