@use "../settings" as s;

.occupationList {
  display: flex;
  flex-direction: column;
  gap: s.$size-8;

  .occupation-search {
    margin-bottom: s.$size-22;

    > div {
      > div {
        gap: s.$size-8;
      }
    }
  }
}
