@use "../settings" as settings;

.river {
  padding: settings.$size-48 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: settings.$size-100;

    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      gap: settings.$size-48;
    }

    &:before,
    &:after {
      content: none;
    }
  }

  .item {
    display: flex;
    gap: settings.$size-32;

    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      flex-direction: column-reverse;
    }

    .image {
      @media screen and (min-width: (settings.$tablet-lg)) {
        width: 60%;
      }

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        padding-bottom: 56.25%;
      }
    }

    .content {
      @media screen and (min-width: (settings.$tablet-lg)) {
        width: 40%;
      }
    }

    &:nth-child(2n) {
      @media screen and (min-width: (settings.$tablet-lg)) {
        flex-direction: row-reverse;
      }
    }
  }

  .image {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .heading {
    font-weight: bold;
    color: settings.$tertiary-dark;
    font-size: settings.$size-32;
    line-height: 1.2;
    margin-bottom: settings.$size-20;

    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      font-size: settings.$size-20;
    }
  }

  .content {
    @media screen and (min-width: (settings.$tablet-lg)) {
      padding: settings.$size-80 0;
    }
  }
}
