@use "../settings" as settings;

.searchFilter {
  background-color: settings.$secondary-lighter;
  display: flex;
  flex-direction: column;
  gap: settings.$size-20;
  padding: settings.$size-16 settings.$size-48;

  @media screen and (max-width: (settings.$tablet-md - 1)) {
    padding: settings.$size-16;
    display: none;
  }

  &.open {
    @media screen and (max-width: (settings.$tablet-md - 1)) {
      display: flex;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: settings.$size-8;
  }

  .search {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: settings.$size-8;

    &.section {
      margin-bottom: settings.$size-16;

      @media screen and (max-width: (settings.$tablet-md - 1)) {
        margin-top: 0;
      }
    }
  }

  input,
  select {
    border: settings.$size-1 solid settings.$base-light;
  }

  .usa-select {
    &:disabled,
    &[aria-disabled="true"] {
      background-color: settings.$disabled-light;
      color: settings.$disabled-dark;
      border: none;
    }
  }

  .MuiSwitch-colorPrimary.Mui-checked {
    color: settings.$secondary;
  }

  .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: settings.$secondary;
  }

  .MuiSwitch-root {
    margin-left: -(settings.$size-10);
  }

  .usa-button {
    margin: 0;
  }

  .label,
  .usa-label {
    font-weight: bold;
    margin: 0;
  }

  .language {
    a {
      margin-top: settings.$size-16;
      display: inline-flex;
      align-items: center;
      gap: settings.$size-8;
      justify-content: flex-start;
    }
    .items {
      display: flex;
      flex-wrap: wrap;

      .formField {
        width: 50%;
      }
    }
  }

  .usa-checkbox__input {
    &:checked {
      + [class*="__label"] {
        &::before {
          background-color: settings.$secondary;
          box-shadow: inset 0 0 0 0.125rem settings.$secondary;
        }
      }
    }
    &:focus {
      + [class*="__label"] {
        &::before {
          outline-color: settings.$secondary;
        }
      }
    }
  }

  .input-row {
    display: flex;
    align-items: center;
    width: 100%;

    span:not(.formField) {
      display: block;
      text-align: center;
      width: settings.$size-52;
    }

    .formField {
      width: calc(50% - settings.$size-26);
    }
  }

  .errorMessage {
    color: settings.$error;
    margin-top: settings.$size-8;
  }
}
