@use "../settings" as s;

.stepper {
  .step {
    background-color: s.$base-cool;
    padding: s.$size-32;
    border-radius: 5px;

    @media screen and (max-width: (s.$tablet-lg - 1)) {
      padding: s.$size-16;
    }

    .title {
      display: block;
      font-size: s.$size-22;
      font-weight: bold;
      margin: s.$size-8 0;
    }
  }

  &.theme-green {
    strong {
      color: s.$secondary-dark;
    }
  }

  &.theme-blue {
    strong {
      color: s.$primary;
    }
  }

  &.theme-purple {
    strong {
      color: s.$tertiary-dark;
    }
  }

  &.theme-navy {
    strong {
      color: s.$info;
    }
  }
}
