@use "../settings" as settings;

.training-explorer-heading {
  background-color: settings.$base-lightest;

  .subheading,
  .message {
    margin: settings.$size-16 auto;
    max-width: settings.$tablet-lg;
    text-align: center;

    * {
      line-height: 1.2;
    }
  }

  .subheading {
    font-size: settings.$size-24;
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  .usa-breadcrumb {
    padding: settings.$size-32 0;
  }

  .heading-tag {
    &.main {
      text-align: center;
      font-size: settings.$size-48;
      margin: 0;
      font-weight: 600;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        font-size: settings.$size-32;
        margin-bottom: settings.$size-32;
      }
    }
  }

  .usa-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .learn-more {
    margin: settings.$size-32 0;

    @media screen and (min-width: (settings.$tablet-lg + 1)) {
      text-align: center;
    }

    p {
      background-color: white;
      border-radius: settings.$size-16;
      padding: settings.$size-16;
      display: inline-block;

      @media screen and (min-width: (settings.$tablet-lg + 1)) {
        text-align: center;
        font-size: settings.$size-18;
        border-radius: settings.$size-80;
      }
    }
  }

  .cta {
    padding: settings.$size-32 0;
  }
}
