@use "../settings" as s;

.training-explorer-heading {
  background-color: s.$base-lightest;

  .subheading,
  .message {
    margin: s.$size-16 auto;
    max-width: s.$tablet-lg;
    text-align: center;

    * {
      line-height: 1.2;
    }
  }

  .subheading {
    font-size: s.$size-24;
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  .usa-breadcrumb {
    padding: s.$size-32 0;
  }

  .heading-tag {
    &.main {
      text-align: center;
      font-size: s.$size-48;
      margin: 0;
      font-weight: 600;

      @media screen and (max-width: (s.$tablet-lg - 1)) {
        font-size: s.$size-32;
        margin-bottom: s.$size-32;
      }
    }
  }

  .usa-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .learn-more {
    margin: s.$size-32 0;

    @media screen and (min-width: (s.$tablet-lg + 1)) {
      text-align: center;
    }

    p {
      background-color: white;
      border-radius: s.$size-16;
      padding: s.$size-16;
      display: inline-block;

      @media screen and (min-width: (s.$tablet-lg + 1)) {
        text-align: center;
        font-size: s.$size-18;
        border-radius: s.$size-80;
      }
    }

    a {
      color: s.$primary-dark;
      text-decoration: underline;
    }
  }

  .cta {
    padding: s.$size-32 0;
  }
}
