@use "../settings" as settings;

.update-notifier {
  margin: settings.$size-48 0;

  .input-wrapper {
    svg {
      position: absolute;
      top: settings.$size-45;
      left: settings.$size-12;
      z-index: 1;
    }
  }

  .overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: settings.$black;
    opacity: 0;
    transition-duration: settings.$transition-speed;
    transition-timing-function: ease-in-out;

    &.open {
      opacity: 0.4;
      pointer-events: all;
    }
  }

  .usa-button {
    margin-right: 0;
    justify-content: center;
    margin-top: settings.$size-16;

    &:disabled,
    &.submitting {
      background-color: settings.$base;
      color: settings.$white;
      min-height: settings.$size-64;
      cursor: not-allowed;
    }
  }

  .update-content {
    background-color: settings.$base-lightest;
    position: relative;
    border-radius: settings.$size-24;
    padding: settings.$size-48 0;

    &.fixed {
      z-index: 1000;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      max-width: settings.$size-1400;
      position: fixed;
      transition-duration: settings.$transition-speed;
      border-radius: settings.$size-24 settings.$size-24 0 0;
      transition-timing-function: ease-in-out;
      bottom: -(settings.$size-880);

      &.open {
        bottom: 0;
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: settings.$size-24;
      position: relative;
      z-index: 1;

      @media screen and (min-width: (settings.$tablet-xl)) {
        padding-right: settings.$size-48;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: settings.$size-20;
      padding: 0 settings.$size-24;
      max-width: settings.$size-880;

      @media screen and (min-width: (settings.$tablet-xl)) {
        padding: 0 settings.$size-48;
        width: calc(100% - settings.$size-240);
      }

      .heading-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: settings.$size-20;

        &.status {
          gap: settings.$size-12;
        }

        .status-message {
          margin-top: 0;
          text-align: left;
          font-size: settings.$size-20;
          line-height: settings.$size-28;
        }
      }

      .heading-tag {
        font-size: settings.$size-22;
        margin: 0;
        text-align: center;
      }

      p {
        font-size: settings.$size-16;
        text-align: center;

        &.copy {
          width: 100%;
          font-size: settings.$size-14;
          text-align: left;
        }
      }

      a {
        color: settings.$primary;

        &:hover {
          @media screen and (min-width: (settings.$tablet-xl)) {
            color: settings.$primary-dark;
          }
        }
      }

      form {
        text-align: center;
        width: 100%;
        max-width: none;
        margin: settings.$size-8;

        .usa-form-group {
          margin: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: settings.$size-24;
          align-items: center;

          .input-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: settings.$size-32;

            @media screen and (min-width: (settings.$tablet-xl)) {
              flex-direction: row;
            }
          }

          .input-wrapper {
            width: 100%;
            position: relative;
            padding: 0;

            &.error {
              input,
              .select-button {
                border-color: settings.$error;
              }
            }

            input {
              padding-left: settings.$size-45;
            }
          }

          > * {
            margin-top: 0;
          }
        }
      }

      label {
        font-weight: bold;
        text-align: left;

        .require-mark {
          margin-left: settings.$size-4;
        }
      }

      input {
        height: settings.$size-56;
        width: 100%;
        padding-left: settings.$size-45;
        border-width: settings.$size-2;
        border-radius: settings.$size-4;
        border-color: settings.$base;
      }
    }
  }

  .close-update-drawer {
    position: absolute;
    top: settings.$size-24;
    right: settings.$size-24;
    width: settings.$size-32;
    height: settings.$size-32;
    z-index: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error-message {
    color: settings.$error;
    text-align: left;
    margin-top: settings.$size-16;
    font-weight: bold;
  }

  .description-selector {
    display: block;
    font-weight: bold;
    position: relative;
    border-color: settings.$base;

    &.open {
      &:after {
        border-left: 0.35rem solid transparent;
        border-right: 0.35rem solid transparent;
        border-bottom: 0.35rem solid settings.$ink;
        border-top: 0;
      }
    }

    &:after {
      content: "";
      position: absolute;
      right: settings.$size-16;
      bottom: settings.$size-24;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid settings.$ink;
    }

    select {
      margin-top: settings.$size-12;
      width: 100%;
      appearance: none;
      padding: settings.$size-12 settings.$size-24 settings.$size-12
        settings.$size-12;
    }
  }

  .select-button {
    margin-top: settings.$size-8;
    width: 100%;
    color: settings.$ink;
    background: settings.$white;
    appearance: none;
    padding: settings.$size-12 settings.$size-32 settings.$size-12
      settings.$size-12;
    position: relative;
    height: settings.$size-56;
    font-weight: normal;
    text-align: left;
    width: 100%;
    border: settings.$size-2 solid settings.$base;
    border-radius: settings.$size-4;

    &.greyed-out {
      color: settings.$base;
    }
  }

  .dropdown-select {
    font-weight: normal;
    margin-top: settings.$size-16;
    box-shadow: 0 10px 20px -15px settings.$ink;
    position: absolute;
    background-color: settings.$base-cool;
    z-index: 1;
    max-height: settings.$size-300;
    overflow: auto;
    outline: 1px solid settings.$base-lighter;
    border-radius: settings.$size-8;
    width: 100%;

    &[aria-expanded="true"] {
      display: block;
    }

    button {
      display: block;
      width: 100%;
    }

    button {
      padding: settings.$size-16;
      text-align: left;

      @media screen and (min-width: (settings.$tablet)) {
        padding: settings.$size-16;
      }

      &:nth-of-type(2n - 1) {
        background: settings.$base-lighter;
      }

      &:hover {
        @media screen and (min-width: (settings.$tablet)) {
          background: settings.$tertiary-lighter;
        }
      }
    }
  }

  .require-mark {
    display: inline-block;
    color: settings.$error;
  }
}
