# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/
.DS_store

# Python Environments
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Seed Data Files
backend/data/programs_*.csv
backend/data/providers_*.csv

# Old ETPL File when running through etpl table seed guide
backend/data/standardized_etpl_old.csv
