$grey: #dbdada;
$navy: #12263a;
$light-green: #ebf5ee;
$blue: #1668b4;
$light-grey: #e5e5e5;
$light-red: #fadee3;
$orange: #fcdbb6;
$light-purple: #f4eafe;
$lighter-purple: #f9f4fe;
$lightest-purple: #fcf9ff;
$red: #b11818;

.bg-light-green {
  background-color: $light-green;
}

.bg-light-purple {
  background-color: $light-purple;
}

.bg-lighter-purple {
  background-color: $lighter-purple;
}

.bg-lightest-purple {
  background-color: $lightest-purple;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.bg-orange {
  background-color: $orange;
}
