$grey: #dadada;
$navy: #12263a;
$indigo: #21456a;
$light-green: #e7f9ee;
$light-yellow: #fff1e2;
$lighter-green: #f9fbfb;
$dark-green: #243413;
$green: #198042;
$teal: #e7f6f8;
$black: #000000;
$off-white: #f2f4f7;
$white: #ffffff;

// Purple
$lightest-purple: #3c3641;
$lighter-purple: #f9f4fe;
$lightest-purple: #f0edff;
$light-purple: #f4eafe;
$purple: #cdc9e6;
$mid-purple: #d3caff;
$dark-purple: #5240aa;
$bright-purple: #a795ff;
$darker-purple: #292055;
$deep-purple: #422d53;
$vibrant-purple: #7b61ff;

// Gray
$lightest-grey: #f0f0f0;
$light-grey: #e5e5e5;
$grey: #dadada;
$middlest-gray: #adadad;
$middle-gray: #909090;
$medium-gray: #71767b;
$footer-grey: #53535d;
$text: #5c5c5c;
$darkest-gray: #757575;
$accessible-gray: #5c5858;
$header-black: #363636;
$tag-gray: #4d6a63;

// Red
$light-red: #fadee3;
$tag-red: #dc5f53;
$red: #b11818;

// Blue
$light-blue: #e2f3ff;
$sky-blue: #aaddff;
$teal: #e7f6f8;
$bright-blue: #99deea;
$blue: #1668b4;
$dark-blue: #194185;
$indigo: #21456a;
$darker-blue: #003355;
$map-blue: #0099ff;
$dark-navy: #12263a;
$navy: #2e6276;
$dark-navy: #134c57;
$tag-navy: #4d6a80;
$tag-drk-navy: #25495d;

// Orange
$light-orange: #fff1e2;
$orange: #fcdbb6;
$warm-orange: #ffd7aa;
$tag-yellow: #ebaa46;
$bright-orange: #ff8700;
$tag-orange: #f58501;
$dark-orange: #a6441a;
$darker-orange: #552d00;

// Green
$light-green: #e7f9ee;
$mint: #ebf5ee;
$lighter-green: #f9fbfb;
$bright-green: #29cc6a;
$green: #198042;
$dark-green: #243413;
$darker-green: #0d4423;

.bg-footer-grey {
  background-color: $footer-grey;
}

.bg-light-yellow {
  background-color: $light-yellow;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-light-purple {
  background-color: $light-purple;
}

.bg-light-purple-30 {
  background: rgba($light-purple, 0.3);
}

.bg-light-purple-50 {
  background: rgba($light-purple, 0.5);
}

.bg-lighter-purple {
  background-color: $lighter-purple;
}

.bg-lightest-purple {
  background-color: $lightest-purple;
}

.bg-purple {
  background-color: $purple;
}

.bg-blue {
  background-color: $navy;
}

.bg-white {
  background-color: white;
}

.black {
  color: $black;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.white {
  color: white;
}

.indigo {
  color: $indigo;
}

.accessible-gray {
  color: $accessible-gray;
}

.bg-orange-tag {
  background-color: $orange;
}
