$grey: #dbdada;
$navy: #12263a;
$indigo: #21456a;
$light-green: #e7f9ee;
$lighter-green: #f9fbfb;
$dark-green: #243413;
$green: #428100;
$blue: #1668b4;
$dark-blue: #194185;
$light-grey: #e5e5e5;
$lightest-grey: #f0f0f0;
$accessible-gray: #5c5858;
$light-red: #fadee3;
$orange: #fcdbb6;
$light-purple: #f4eafe;
$lighter-purple: #f9f4fe;
$lightest-purple: #fcf9ff;
$purple: #cdc9e6;
$red: #b11818;
$footer-grey: #53535d;
$header-black: #363636;
$text: #5c5c5c;

$medium-gray: #71767b;

$tag-gray: #4d6a63;
$tag-red: #dc5f53;
$tag-yellow: #ebaa46;
$tag-orange: #f58501;
$tag-navy: #4d6a80;
$tag-drk-navy: #25495d;

$light-blue: #e2f3ff;

.bg-footer-grey {
  background-color: $footer-grey;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-light-purple {
  background-color: $light-purple;
}

.bg-light-purple-30 {
  background: rgba($light-purple, 0.3);
}

.bg-light-purple-50 {
  background: rgba($light-purple, 0.5);
}

.bg-lighter-purple {
  background-color: $lighter-purple;
}

.bg-lightest-purple {
  background-color: $lightest-purple;
}

.bg-purple {
  background-color: $purple;
}

.bg-blue {
  background-color: $navy;
}

.bg-white {
  background-color: white;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.white {
  color: white;
}

.indigo {
  color: $indigo;
}

.accessible-gray {
  color: $accessible-gray;
}

.bg-orange-tag {
  background-color: $orange;
}
