.footer {
  height: $footer-height;
  position: absolute;
  bottom: 0;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 1rem;
    align-items: center;
  }

  .made-by-ooi {
    justify-content: center;
  }

  @media (max-width: $xs) {
    height: $footer-height-mobile;
  }
}
