.nj-logo-header {
  width: 2.5rem;
}

.header {
  background-color: $navy;
  line-height: 1.2;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 10;
}

.beta-banner {
  background-color: $light-red;
  line-height: $beta-banner-height;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: $beta-banner-height;
  margin-top: $header-height;
  z-index: 10;
}

.no-header-margin {
  margin-top: 0;
}

.below-banners {
  margin-top: $below-banners-height;
}
