@import "sizes";
@import "colors";
@import "spacing";
@import "borders";
@import "flex";
@import "typography";
@import "variables";
@import "table";
@import "css/bootstrap.css";
@import "landing-page";
@import "header";
@import "search-results-page";
@import "training-page";
@import "not-found-page";
@import "in-demand-page";
@import "occupation-page";
@import "training-comparison";
@import "faq-breadcrumb";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  height: 100%;
}

#root > div {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
}

button {
  font: unset;
  text-align: unset;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

p {
  max-width: none !important;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.visually-hidden {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

a.link-format-black {
  color: black !important;
  text-decoration: none;
}

button.link-format-blue,
a.link-format-blue {
  color: $blue !important;
  text-decoration: none !important;
}

.button-size-full {
  min-width: 100%;
}

.contextual-info-panel {
  width: 33vw;
  padding-left: 3em;
  padding-right: 2em;
}

@media (max-width: $xs) {
  .contextual-info-panel {
    width: 66vw;
    padding-left: 2em;
    padding-right: 1.5em;
  }
}

.contextual-link-button {
  font-weight: inherit !important;
  font-style: inherit !important;
  cursor: pointer;
  color: #000000;
}

.contextual-link-text {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-color: #000000;
}

.two-column-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tag {
  border-radius: 10px;
  width: max-content;
}

.MuiOutlinedInput.input {
  padding: 0px 0px;
}
