@import "sizes";
@import "colors";
@import "spacing";
@import "borders";
@import "flex";
@import "typography";
@import "css/bootstrap.css";
@import "landing-page";
@import "header";
@import "search-results-page";
@import "training-page";
@import "not-found-page";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
  margin: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

a {
  color: $blue;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.height-full {
  height: 100vh;
}

.align-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

a.no-link-format {
  color: inherit;
  text-decoration: inherit;
}

a.link-format-blue {
  color: $blue;
  text-decoration: inherit;
}

.button-size {
  min-width: 100%;
}

@media (min-width: $xs) {
  .button-size {
    min-width: 114px;
  }
}