@import "sizes";
@import "colors";

.search-container {
  max-width: 580px;
}

.landing-image {
  img {
    width: 60px;
  }
}

.options-desc {
  max-width: 320px;
}

@media (min-width: $sm) {
  .title {
    font-size: 1.5rem;
  }
}
