@import "sizes";
@import "colors";

.nj-logo-landing {
  width: 7rem;
  height: 100%;
}

.gutter-filler-left {
  position: absolute;
  height: 100vh;
  width: 50%;
}

.col-adjust {
  padding-bottom: 6rem;
}

.grey-line {
  height: 2px;
  width: 100%;
  background-color: $grey;
}

.adjustable-margin-left {
  margin-left: 5rem;
}

@media (max-width: $sm) {
  .gutter-filler-left {
    display: none;
  }

  .landing-container {
    width: 100%;
    padding: 0;
  }

  .landing-row {
    margin: 0;
    height: 100vh;
  }

  .section-header {
    text-align: center;
  }

  .nj-logo-landing {
    width: 5.5rem;
    height: 100%;
  }

  .col-adjust {
    padding: 0 3rem;

    &.height-100 {
      height: auto;
    }
  }

  .adjustable-margin-left {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: $xs) {
  .col-adjust {
    padding: 0;
  }
}