@import "sizes";
@import "header";

$filterbox-height: 11.5rem;

.search-container {
  margin-top: $header-height;
}

.card {
  border: 1px solid #E5E5E5;
  border-radius: 5px;

  .material-icons {
    line-height: 1.2rem;
    font-size: 1rem;
    display: inline-flex;
    vertical-align: text-bottom;
  }
}

.filterbox {
  position: fixed;
  width: 100%;
  height: $filterbox-height;
  z-index: 10;
  margin-left: -15px;
}

.hover-shadow:hover {
  box-shadow: 0 0 10px $grey;
}

.space-for-filterbox {
  margin-top: $filterbox-height;
}

.full {
  height: 100%;
}

.label-height {
  line-height: 2.5;
}

// small and up
@media (min-width: $xs) {
  .filterbox {
    width: 235px;
    height: calc(100vh - (#{$header-height} * 2 + 30px));
    margin-left: 0;
  }

  .space-for-filterbox {
    margin-top: 0;
  }

  .results-count-container {
    margin-top: $header-height;
    height: $header-height;
    margin-bottom: 1.5rem;
  }

  .fixed-wrapper {
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100%;
  }

  .search-container {
    margin-top: 0;
  }
}

// medium and up
@media (min-width: $sm) {
  .filterbox {
    width: 307px;
  }

  .align-right-when-lg {
    text-align: right;
  }

  .hide-when-lg {
    display: none !important;
  }
}

// large and up
@media (min-width: $md) {
  .filterbox {
    width: 375px;
  }
}