.bar {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.inline {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.tooltip {
  box-shadow: 0 0 10px $grey !important;
  border: 1px solid $grey !important;
  opacity: 1 !important;
  font-size: 1rem !important;
  width: 250px !important;
  padding: 12px !important;
  line-height: 1.3rem !important;
}

.stat-block {
  width: 33%;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.stat-block-number {
  padding-top: 0.5rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}

.break-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

// small and up
@media (min-width: $xs) {
  .stat-block {
    width: 167px;
  }

  .bar {
    margin-left: 0;
    margin-right: 0;
  }

  .grouping {
    border: 1px solid $light-grey;
    border-radius: 5px;
  }

  .group-padding {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}
