.training-comparison {
  position: fixed;
  bottom: 0;
  z-index: 10; // overlap fixed-wrapper

  &.expanded {
    width: 100%;
    height: calc(100% - #{$header-height});
    overflow: hidden scroll;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 5.75%;

    &:not(.expanded) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .comparison-item {
    position: relative;
    background: white;
    border: 1px solid $light-grey;
    padding: 8px;
    min-width: 100%;
    width: 100%;
    height: 75px;

    &.empty {
      background: rgba(white, 0.4);
    }

    .btn-remove {
      position: absolute;
      top: -8px;
      right: -8px;
      min-width: auto;
      padding: 0;
      font-size: 20px;
    }
  }

  .truncated {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
  }

  .button-container {
    grid-column: 1 / -1;
  }

  .btn-compare,
  .btn-collapse {
    margin-bottom: 16px;
  }

  @media (max-width: $xs) {
    .icon-flip {
      transform: scaleX(-1);
    }

    .table-scroll {
      margin-left: -50%;
    }
  }

  @media (min-width: $xs) {
    &.expanded {
      max-height: 85%;
      height: auto;

      .button-container {
        grid-column: 2;
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 80px;
      grid-column-gap: 5.75%;

      &.expanded {
        grid-template-columns: 1fr 80px;
      }
    }

    .comparison-item {
      height: auto;
    }

    .btn-compare,
    .btn-collapse {
      margin-bottom: 16px;
    }

    .button-container {
      grid-column: 4;
    }
  }
}

.comparison-table {
  .table-header {
    font-weight: 500;
    padding: 8px;
    background: $purple;
    column-span: 3;
  }

  .table-cell {
    padding: 8px 8px 24px;
    border: 0;
    width: 30%;
    vertical-align: top;
  }

  .cell-bottom {
    padding-bottom: 0;
    vertical-align: bottom;
  }

  @media (max-width: $xs) {
    &.wide {
      width: 150%;
    }

    .table-cell {
      width: 35%;
    }

    .cell-bottom {
      padding: 0;
    }

    .table-button {
      min-width: 113px;
    }
  }
}
