.bar {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.inline {
  display: inline-block;
}

.tooltip {
  box-shadow: 0 0 10px $base-lighter !important;
  border: 1px solid $base-lighter !important;
  opacity: 1 !important;
  font-size: $size-16 !important;
  width: 250px !important;
  padding: 12px !important;
  line-height: 1.3rem !important;
}

.stat-block {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.stat-block-stack {
  display: flex;
  flex-direction: column;
}

.stat-block-number {
  padding-top: 0.5rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}

.break-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

// small and up
@media (min-width: $tablet-md) {
  .stat-block {
    margin-top: 0rem;
    width: 190px;
  }

  .stat-block-stack {
    flex-direction: row;
  }

  .bar {
    margin-left: 0;
    margin-right: 0;
  }

  .grouping {
    border: 1px solid $light-grey;
    border-radius: 5px;
  }

  .group-padding {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}
