@use "../settings" as settings;

.popup-tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 100;

  &:hover {
    span {
      display: block;
    }
  }

  span {
    display: none;
    background-color: settings.$black;
    color: settings.$white;
    font-size: settings.$size-14;
    position: absolute;
    bottom: calc(100% + settings.$size-5);
    left: 50%;
    min-width: settings.$size-200;
    line-height: 1.2;
    padding: settings.$size-8;
    transform: translateX(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      border-width: settings.$size-8;
      border-style: solid;
      border-color: settings.$black transparent transparent transparent;
      transform: translateX(-50%);
    }
  }
}
