.careerPathways {
  .map-block {
    background-color: $base-lightest;
    border-radius: $size-16;
    padding: $size-16;
  }
  .industries,
  .stepCards {
    padding: $size-80 0;
  }

  .buttons {
    gap: $size-16;
    margin-bottom: $size-32;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: ($tablet-md - 1)) {
      flex-direction: column;
    }

    .usa-button {
      min-width: $size-320;
      justify-content: center;
      text-align: left;
      text-align: center;

      @media screen and (max-width: ($tablet-md - 1)) {
        margin: 0;
        min-width: auto;
        justify-content: flex-start;
      }

      span {
        max-width: none;
        text-align: left;

        @media screen and (max-width: ($tablet-md - 1)) {
          width: calc(100% - $size-40);
        }

        &:not(.svg-container) {
          width: auto;

          @media screen and (max-width: ($tablet-md - 1)) {
            width: calc(100% - $size-30);
          }
        }
      }

      svg {
        width: $size-30;
      }
    }
    .stack {
      display: flex;
      gap: $size-16;
      flex-direction: column;
    }

    .highlight-purple {
      min-height: $size-50;
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
    margin-bottom: $size-48;
  }

  .errorBox {
    max-width: $tablet-md;
    margin: 0 auto $size-48;
  }
}

.careerPathwaysLanding {
  .body-copy {
    &.container {
      max-width: $size-880;
      margin: 0 auto;
      padding-top: $size-96;
      padding-bottom: $size-96;

      h2,
      h3,
      h4,
      h5 {
        font-weight: 600;
      }

      h2 {
        font-size: $size-32;

        @media screen and (max-width: ($tablet-md - 1)) {
          font-size: $size-22;
          font-weight: bold;
        }
      }

      h3 {
        font-size: $size-22;

        @media screen and (max-width: ($tablet-md - 1)) {
          font-size: $size-18;
          font-weight: bold;
        }
      }
    }
  }
}
