.contact-page {
  margin-top: $size-48;
  margin-bottom: $size-48;

  .address {
    width: 100%;
    padding: $size-24;

    @media screen and (min-width: ($desktop)) {
      max-width: $size-480;
    }
  }

  .form-container {
    padding: $size-24;
    width: 100%;

    @media screen and (min-width: ($desktop)) {
      width: calc(100% - $size-480);
      max-width: $size-640;
    }

    form {
      input,
      textarea {
        max-width: none;
        width: 100%;
      }

      .usa-radio__label {
        margin: 0;
      }

      * + p,
      p + * {
        margin-top: 0;
      }
    }
  }
}
