@use "../settings" as settings;

.faq {
  .faqSection {
    padding: settings.$size-50 0;

    .inner {
      display: flex;
      gap: settings.$size-28;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        gap: settings.$size-20;
        flex-direction: column;
      }
    }
  }

  .dropNav,
  nav {
    @media screen and (min-width: (settings.$tablet-lg - 1)) {
      width: settings.$size-300;
    }
  }

  .accordion-block {
    width: 100%;

    .container {
      padding: 0;
    }
  }

  p.title {
    font-size: settings.$size-18;
    font-weight: 700;
    margin-bottom: settings.$size-16;
  }

  hr {
    background-color: settings.$base-cool;
    margin: 0 settings.$size-8;
  }

  .spinner {
    margin: 0 auto;
  }
}
