@use "../settings" as settings;
@use "../mixins" as mixins;

.home {
  .tools {
    @include mixins.sectionPadding;

    .container {
      max-width: settings.$desktop-xl;
    }

    .iconCard {
      width: 100%;

      @media screen and (min-width: (settings.$tablet-lg)) {
        max-width: 200px;
      }

      a {
        height: 100%;
      }
    }

    .row {
      display: flex;
      gap: settings.$size-32;

      @media screen and (min-width: (settings.$tablet-lg)) {
        justify-content: center;
      }

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        gap: settings.$size-16;
        flex-direction: column;
      }
    }
  }

  .cardSlider {
    &:nth-child(2n) {
      background-color: settings.$base-cool;

      .inner {
        &:before {
          background: linear-gradient(
            to right,
            settings.$base-cool,
            transparent
          );
        }
        &:after {
          border-right: 1rem solid settings.$base-cool;
          background: linear-gradient(
            to left,
            settings.$base-cool,
            transparent
          );
        }
      }
    }
  }
}
