@use "../settings" as settings;

.inDemandList {
  .hero {
    padding-top: settings.$size-32;

    .heading-tag {
      font-size: settings.$size-32;
    }
  }

  .listBlock {
    padding: settings.$size-22 0 settings.$size-48;
  }

  .usa-breadcrumb {
    border-bottom: settings.$size-1 solid settings.$base-lighter;
    padding-bottom: settings.$size-8;
  }
}
