@use "../settings" as settings;

.occupationPage {
  .pageBanner {
    background: settings.$white;
  }

  .related {
    margin: 0 0 settings.$size-48;

    .inner {
      max-width: settings.$size-880;
      display: flex;
      flex-direction: column;
      gap: settings.$size-16;
    }

    .container-full {
      margin-top: settings.$size-72;
    }
  }

  .body-copy {
    margin: settings.$size-32 0;

    .openingsLink {
      margin: 0 0 settings.$size-32 0;
    }

    .relatedBox {
      a {
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: settings.$size-8;
      }
    }

    .inner {
      display: flex;
      gap: settings.$size-16;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        flex-direction: column;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: settings.$size-16;

        &:first-of-type {
          @media screen and (min-width: (settings.$tablet-lg)) {
            width: calc(100% - settings.$size-360);
          }
        }
        &:last-of-type {
          @media screen and (min-width: (settings.$tablet-lg)) {
            width: settings.$size-360;
          }
        }
      }
    }
  }
}
