@use "../settings" as s;

.search {
  margin-top: s.$size-24;

  .inner {
    display: flex;
    align-items: flex-start;
    gap: s.$size-32;
    padding: 0 0 s.$size-48;

    @media screen and (max-width: (s.$tablet-md - 1)) {
      flex-direction: column;
    }
  }

  .resultsHeader {
    display: flex;
    flex-direction: column;
    gap: s.$size-16;
    margin-bottom: s.$size-16;

    .headingContainer {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: (s.$tablet-md - 1)) {
        flex-direction: column;
        gap: s.$size-16;
      }

      .heading-tag,
      .searchFormContainer {
        width: 100%;
      }

      .heading-tag {
        margin: 0;

        @media screen and (max-width: (s.$tablet-xl - 1)) {
          font-size: s.$size-24;
        }
      }

      .searchFormContainer {
        @media screen and (min-width: (s.$tablet-md)) {
          max-width: s.$size-411;
        }

        @media screen and (max-width: (s.$tablet-md - 1)) {
          display: flex;
          gap: s.$size-16;
          align-items: center;
        }

        .searchForm {
          flex-grow: 1;

          @media screen and (max-width: (s.$tablet-md - 1)) {
            width: calc(100% - s.$size-60);

            input {
              min-width: auto;
            }
          }
        }

        button {
          margin: 0;
          padding: 0;
        }
      }

      .editSearchToggle {
        padding: 0;
        width: calc(s.$size-40 - s.$size-2);
        height: calc(s.$size-40 - s.$size-2);
        justify-content: center;
        outline-color: s.$disabled-dark;
        color: s.$disabled-dark;

        @media screen and (min-width: (s.$tablet-md)) {
          display: none !important;
        }
      }
    }

    .formField {
      margin: 0;
      width: 100%;
      input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not(
          [type="submit"]
        ),
      select {
        max-width: none;
        width: 100%;
        padding: s.$size-8;
        border-width: s.$size-2;
        min-height: auto;
      }
    }

    .resultsHeaderControls {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .sortBy {
        display: flex;
        gap: s.$size-20;
        width: 100%;

        @media screen and (min-width: (s.$tablet-md)) {
          max-width: s.$size-411;
        }

        .formField {
          width: 100%;
        }
      }
    }
  }

  aside {
    width: 100%;

    @media screen and (min-width: (s.$tablet-md)) {
      width: s.$size-400;
    }

    input,
    select {
      max-width: none;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: s.$size-16;
    width: 100%;

    @media screen and (min-width: (s.$tablet-md)) {
      width: calc(100% - s.$size-400);

      &.wide {
        width: 100%;
      }
    }

    .spinner {
      margin: 0 auto;
    }
  }

  .usa-button.primary.usa-button--outline.editSearch {
    justify-content: center;
    outline-color: s.$disabled-dark;
    color: s.$disabled-dark;

    @media screen and (max-width: (s.$tablet-md - 1)) {
      display: none !important;
    }
  }
}
