@use "../settings" as settings;

.search {
  margin-top: settings.$size-24;

  .inner {
    display: flex;
    align-items: flex-start;
    gap: settings.$size-32;
    padding: 0 0 settings.$size-48;

    @media screen and (max-width: (settings.$tablet-md - 1)) {
      flex-direction: column;
    }
  }

  .resultsHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: settings.$size-16;
    gap: settings.$size-16;

    @media screen and (max-width: (settings.$mobile-lg - 1)) {
      align-items: flex-start;
      flex-direction: column;
      gap: 0;
      margin-top: settings.$size-16;
    }

    .heading-tag {
      @media screen and (max-width: (settings.$tablet-md - 1)) {
        font-size: settings.$size-22;
      }

      @media screen and (max-width: (settings.$mobile-lg - 1)) {
        font-size: settings.$size-16;
      }
    }

    .resultsCount {
      margin: settings.$size-30 0 0 0;
    }

    .sortBy {
      width: 100%;
      @media screen and (min-width: (settings.$mobile-lg)) {
        width: settings.$size-200;
      }

      label {
        font-size: settings.$size-12;
        margin-left: settings.$size-8;
        margin-top: 0;
        display: inline-block;
        position: relative;
        bottom: -(settings.$size-10);
        user-select: none;
        z-index: 1;
        pointer-events: none;
        padding: 0 settings.$size-4;
        background-color: settings.$white;
      }
      select {
        margin: 0;
      }
    }
  }

  aside {
    width: 100%;

    @media screen and (min-width: (settings.$tablet-md)) {
      width: settings.$size-400;
    }

    input,
    select {
      max-width: none;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    gap: settings.$size-16;
    width: 100%;

    @media screen and (min-width: (settings.$tablet-md)) {
      width: calc(100% - settings.$size-400);
    }

    .spinner {
      margin: 0 auto;
    }
  }

  .editSearch {
    justify-content: center;
    padding-left: settings.$size-8;
    padding-right: settings.$size-8;
    @media screen and (min-width: (settings.$tablet-md)) {
      display: none !important;
    }
  }
}
