@use "../settings" as s;

.supportResources {
  .categories {
    padding: s.$size-48 0;

    .inner {
      display: flex;
      flex-wrap: wrap;
      gap: s.$size-32;
      justify-content: center;
    }
  }

  .iconCard {
    width: 100%;
    max-width: s.$size-240;

    a {
      display: block;
      height: 100%;
    }
  }
}
