@use "../settings" as settings;

.supportResources {
  .categories {
    padding: settings.$size-48 0;

    .inner {
      display: flex;
      flex-wrap: wrap;
      gap: settings.$size-32;
      justify-content: center;
    }
  }

  .iconCard {
    width: 100%;
    max-width: settings.$size-240;

    a {
      display: block;
      height: 100%;
    }
  }
}
