@use "../settings" as settings;
@use "../mixins" as mixins;

.trainingPage {
  padding-bottom: settings.$size-48;

  .pageBanner {
    background: settings.$white;
  }

  .occupations {
    .content {
      .indent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: settings.$size-8;
      }
    }
  }

  .provider,
  .services {
    p {
      display: flex;
      gap: settings.$size-8;
      align-items: flex-start;

      span {
        width: calc(100% - settings.$size-24);
      }

      svg {
        width: settings.$size-20;
        margin-top: settings.$size-4;
      }
    }
  }

  .body-copy {
    margin: 0 0 settings.$size-32;
    overflow-x: hidden;

    @media screen and (min-width: (settings.$tablet-lg)) {
      margin: settings.$size-32 0;
    }

    .inner {
      display: flex;
      gap: settings.$size-32;

      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        flex-direction: column;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: settings.$size-32;

        &:first-of-type {
          @media screen and (min-width: (settings.$tablet-lg)) {
            width: calc(100% - settings.$size-411);
          }
        }
        &:last-of-type {
          @media screen and (min-width: (settings.$tablet-lg)) {
            width: settings.$size-411;
          }
        }
      }
    }

    .container {
      @media screen and (max-width: (settings.$tablet-lg - 1)) {
        padding: 0;
      }
    }
  }

  .labelBox {
    @media screen and (max-width: (settings.$tablet-lg - 1)) {
      border-radius: 0;
      border: none;
    }

    strong {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: settings.$size-5;

      .popup-tooltip {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    button {
      &.unstyled {
        @include mixins.underDash;
        font-weight: bold;
      }
    }

    &.cost {
      .link {
        margin-top: settings.$size-32;
        text-align: center;
      }

      .usa-button {
        font-size: settings.$size-14;
      }

      p {
        margin-top: settings.$size-8;
        font-size: settings.$size-14;
        line-height: 1.2;
      }
    }

    + .usa-button {
      &.highlight-orange {
        border: none;
        padding: settings.$size-16;

        @media screen and (max-width: (settings.$tablet-lg - 1)) {
          max-width: calc(100% - settings.$size-32);
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .indent {
    margin: settings.$size-16 0 0 settings.$size-16;
  }
}
