.trainingExplorer {
  .howTo {
    padding: $size-48 0;
  }

  .faq {
    padding: $size-48 0 0;

    + .ctaBanner {
      padding-top: 0;
    }
  }

  .stepper {
    margin-top: $size-48;
  }

  .accordion {
    > div {
      background-color: $base-cool;
    }
  }
}
