@use "./settings" as settings;
@use "./mixins" as mixins;

html {
  background-color: settings.$njBlack;
}

* {
  &::selection {
    background-color: settings.$primary-light;
    color: settings.$white;
    text-shadow: settings.$size-2 settings.$size-2 settings.$size-2
      rgba(0, 0, 0, 0.5);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: settings.$font-size;
  line-height: settings.$line-height;
  color: settings.$ink;
  background-color: settings.$white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.usa-alert {
  + .usa-alert {
    margin-top: 0;
  }

  .usa-alert__body {
    display: flex;
    align-items: flex-start;
    max-width: none;

    > div {
      width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .heading-tag {
      font-weight: bold;
      font-size: settings.$size-22;
    }
  }

  button {
    cursor: pointer;

    &.toggle {
      position: relative;
      width: 100%;
      height: auto;
      margin: 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:focus {
        outline: none;

        svg {
          display: block;
          outline: settings.$primary settings.$size-4 solid;
        }
      }

      &.show {
        margin-bottom: settings.$size-16;
      }

      p,
      svg {
        margin: 0;
      }

      svg {
        position: relative;
        top: 0;
        right: -(settings.$size-45);
      }
    }
  }

  &.collapsable {
    .heading-tag {
      width: calc(100% - settings.$size-60);
    }
  }
}

.skip-to-content {
  position: absolute;
  transform: translateY(-300%);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: settings.$white;
  color: settings.$ink;
  border-radius: 5px;
  padding: 10px settings.$size-20;
  z-index: 0;
  top: settings.$size-8;
  left: settings.$size-8;

  &:focus {
    transform: translateY(0);
    z-index: 99;
  }
}

.hide {
  pointer-events: none;
  position: absolute !important;
  height: settings.$size-1;
  width: settings.$size-1;
  overflow: hidden;
  clip: rect(
    settings.$size-1 settings.$size-1 settings.$size-1 settings.$size-1
  ); /* IE6, IE7 */
  clip: rect(
    settings.$size-1,
    settings.$size-1,
    settings.$size-1,
    settings.$size-1
  );
}

.desktop-only {
  @media screen and (max-width: (settings.$tablet-lg - 1)) {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: (settings.$tablet-lg)) {
    display: none;
  }
}

.highlight {
  display: inline-block;
  color: settings.$accent-warm;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

hr {
  height: settings.$size-2;
  background-color: settings.$ink;
}

.container {
  max-width: settings.$desktop-xl;
  margin: 0 auto;
  padding: 0 settings.$size-16;

  &.narrow {
    max-width: settings.$desktop;
  }
}

ul {
  &.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
    }
  }
}

a {
  @include mixins.linkColor;
}

button:not([disabled]):focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
[contentEditable="true"]:focus,
[href]:focus,
[tabindex]:focus,
iframe:focus {
  outline: settings.$size-4 solid settings.$primary;
}

.spinner {
  svg {
    display: inline-block;
    animation: spin 1s steps(8) infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.gap-none {
  gap: 0;
}

.gap-micro {
  gap: settings.$size-4;
}

.gap-xxs {
  gap: settings.$size-8;
}

.gap-xs {
  gap: settings.$size-16;
}

.gap-sm {
  gap: settings.$size-24;
}

.gap-md {
  gap: settings.$size-32;
}

.gap-lg {
  gap: settings.$size-40;
}

.gap-xl {
  gap: settings.$size-52;
}

.gap-xxl {
  gap: settings.$size-72;
}

.gap-mega {
  gap: settings.$size-80;
}

.bg-base-cool {
  background-color: settings.$base-cool;
}
.bg-base-lightest {
  background-color: settings.$base-lightest;
}
.bg-base-lighter {
  background-color: settings.$base-lighter;
}
.bg-base-light {
  background-color: settings.$base-light;
}
.bg-base-extra-light {
  background-color: settings.$base-extra-light;
}
.bg-base {
  background-color: settings.$base;
}
.bg-base-dark {
  background-color: settings.$base-dark;
}
.bg-base-darker {
  background-color: settings.$base-darker;
}
.bg-base-darkest {
  background-color: settings.$base-darkest;
}
.bg-ink {
  background-color: settings.$ink;
}
.bg-primary {
  background-color: settings.$primary;
}
.bg-primary-vivid {
  background-color: settings.$primary-vivid;
}
.bg-primary-light {
  background-color: settings.$primary-light;
}
.bg-primary-lighter {
  background-color: settings.$primary-lighter;
}
.bg-primary-extra-light {
  background-color: settings.$primary-extra-light;
}
.bg-primary-dark {
  background-color: settings.$primary-dark;
}
.bg-primary-darker {
  background-color: settings.$primary-darker;
}
.bg-secondary {
  background-color: settings.$secondary;
}
.bg-secondary-light {
  background-color: settings.$secondary-light;
}
.bg-secondary-lighter {
  background-color: settings.$secondary-lighter;
}
.bg-secondary-extra-light {
  background-color: settings.$secondary-extra-light;
}
.bg-secondary-vivid {
  background-color: settings.$secondary-vivid;
}
.bg-secondary-dark {
  background-color: settings.$secondary-dark;
}
.bg-secondary-darker {
  background-color: settings.$secondary-darker;
}
.bg-tertiary {
  background-color: settings.$tertiary;
}
.bg-tertiary-light {
  background-color: settings.$tertiary-light;
}
.bg-tertiary-lighter {
  background-color: settings.$tertiary-lighter;
}
.bg-tertiary-extra-light {
  background-color: settings.$tertiary-extra-light;
}
.bg-tertiary-vivid {
  background-color: settings.$tertiary-vivid;
}
.bg-tertiary-dark {
  background-color: settings.$tertiary-dark;
}
.bg-tertiary-darker {
  background-color: settings.$tertiary-darker;
}
.bg-accent-cool {
  background-color: settings.$accent-cool;
}
.bg-accent-cool-light {
  background-color: settings.$accent-cool-light;
}
.bg-accent-cool-lighter {
  background-color: settings.$accent-cool-lighter;
}
.bg-accent-cool-extra-light {
  background-color: settings.$accent-cool-extra-light;
}
.bg-accent-cool-dark {
  background-color: settings.$accent-cool-dark;
}
.bg-accent-cool-darker {
  background-color: settings.$accent-cool-darker;
}
.bg-accent-warm {
  background-color: settings.$accent-warm;
}
.bg-accent-warm-light {
  background-color: settings.$accent-warm-light;
}
.bg-accent-warm-lighter {
  background-color: settings.$accent-warm-lighter;
}
.bg-accent-warm-extra-light {
  background-color: settings.$accent-warm-extra-light;
}
.bg-accent-warm-dark {
  background-color: settings.$accent-warm-dark;
}
.bg-accent-warm-darker {
  background-color: settings.$accent-warm-darker;
}
.bg-info-lighter {
  background-color: settings.$info-lighter;
}
.bg-info-light {
  background-color: settings.$info-light;
}
.bg-info {
  background-color: settings.$info;
}
.bg-info-dark {
  background-color: settings.$info-dark;
}
.bg-info-darker {
  background-color: settings.$info-darker;
}
.bg-error-lighter {
  background-color: settings.$error-lighter;
}
.bg-error-light {
  background-color: settings.$error-light;
}
.bg-error {
  background-color: settings.$error;
}
.bg-error-dark {
  background-color: settings.$error-dark;
}
.bg-error-darker {
  background-color: settings.$error-darker;
}
.bg-warning-lighter {
  background-color: settings.$warning-lighter;
}
.bg-warning-light {
  background-color: settings.$warning-light;
}
.bg-warning {
  background-color: settings.$warning;
}
.bg-warning-dark {
  background-color: settings.$warning-dark;
}
.bg-warning-darker {
  background-color: settings.$warning-darker;
}
.bg-success-lighter {
  background-color: settings.$success-lighter;
}
.bg-success-light {
  background-color: settings.$success-light;
}
.bg-success {
  background-color: settings.$success;
}
.bg-success-dark {
  background-color: settings.$success-dark;
}
.bg-success-darker {
  background-color: settings.$success-darker;
}
.bg-disabled-light {
  background-color: settings.$disabled-light;
}
.bg-disabled {
  background-color: settings.$disabled;
}
.bg-disabled-dark {
  background-color: settings.$disabled-dark;
}
.bg-emergency {
  background-color: settings.$emergency;
}
.bg-emergency-dark {
  background-color: settings.$emergency-dark;
}
.bg-njBlack {
  background-color: settings.$njBlack;
}
.bg-white {
  background-color: settings.$white;
}
.bg-black {
  background-color: settings.$black;
}

.text-base-cool {
  color: settings.$base-cool;
}
.text-base-lightest {
  color: settings.$base-lightest;
}
.text-base-lighter {
  color: settings.$base-lighter;
}
.text-base-light {
  color: settings.$base-light;
}
.text-base-extra-light {
  color: settings.$base-extra-light;
}
.text-base {
  color: settings.$base;
}
.text-base-dark {
  color: settings.$base-dark;
}
.text-base-darker {
  color: settings.$base-darker;
}
.text-base-darkest {
  color: settings.$base-darkest;
}
.text-ink {
  color: settings.$ink;
}
.text-primary {
  color: settings.$primary;
}
.text-primary-vivid {
  color: settings.$primary-vivid;
}
.text-primary-light {
  color: settings.$primary-light;
}
.text-primary-lighter {
  color: settings.$primary-lighter;
}
.text-primary-extra-light {
  color: settings.$primary-extra-light;
}
.text-primary-dark {
  color: settings.$primary-dark;
}
.text-primary-darker {
  color: settings.$primary-darker;
}
.text-secondary {
  color: settings.$secondary;
}
.text-secondary-light {
  color: settings.$secondary-light;
}
.text-secondary-lighter {
  color: settings.$secondary-lighter;
}
.text-secondary-extra-light {
  color: settings.$secondary-extra-light;
}
.text-secondary-vivid {
  color: settings.$secondary-vivid;
}
.text-secondary-dark {
  color: settings.$secondary-dark;
}
.text-secondary-darker {
  color: settings.$secondary-darker;
}
.text-tertiary {
  color: settings.$tertiary;
}
.text-tertiary-light {
  color: settings.$tertiary-light;
}
.text-tertiary-lighter {
  color: settings.$tertiary-lighter;
}
.text-tertiary-extra-light {
  color: settings.$tertiary-extra-light;
}
.text-tertiary-vivid {
  color: settings.$tertiary-vivid;
}
.text-tertiary-dark {
  color: settings.$tertiary-dark;
}
.text-tertiary-darker {
  color: settings.$tertiary-darker;
}
.text-accent-cool {
  color: settings.$accent-cool;
}
.text-accent-cool-light {
  color: settings.$accent-cool-light;
}
.text-accent-cool-lighter {
  color: settings.$accent-cool-lighter;
}
.text-accent-cool-extra-light {
  color: settings.$accent-cool-extra-light;
}
.text-accent-cool-dark {
  color: settings.$accent-cool-dark;
}
.text-accent-cool-darker {
  color: settings.$accent-cool-darker;
}
.text-accent-warm {
  color: settings.$accent-warm;
}
.text-accent-warm-light {
  color: settings.$accent-warm-light;
}
.text-accent-warm-lighter {
  color: settings.$accent-warm-lighter;
}
.text-accent-warm-extra-light {
  color: settings.$accent-warm-extra-light;
}
.text-accent-warm-dark {
  color: settings.$accent-warm-dark;
}
.text-accent-warm-darker {
  color: settings.$accent-warm-darker;
}
.text-info-lighter {
  color: settings.$info-lighter;
}
.text-info-light {
  color: settings.$info-light;
}
.text-info {
  color: settings.$info;
}
.text-info-dark {
  color: settings.$info-dark;
}
.text-info-darker {
  color: settings.$info-darker;
}
.text-error-lighter {
  color: settings.$error-lighter;
}
.text-error-light {
  color: settings.$error-light;
}
.text-error {
  color: settings.$error;
}
.text-error-dark {
  color: settings.$error-dark;
}
.text-error-darker {
  color: settings.$error-darker;
}
.text-warning-lighter {
  color: settings.$warning-lighter;
}
.text-warning-light {
  color: settings.$warning-light;
}
.text-warning {
  color: settings.$warning;
}
.text-warning-dark {
  color: settings.$warning-dark;
}
.text-warning-darker {
  color: settings.$warning-darker;
}
.text-success-lighter {
  color: settings.$success-lighter;
}
.text-success-light {
  color: settings.$success-light;
}
.text-success {
  color: settings.$success;
}
.text-success-dark {
  color: settings.$success-dark;
}
.text-success-darker {
  color: settings.$success-darker;
}
.text-disabled-light {
  color: settings.$disabled-light;
}
.text-disabled {
  color: settings.$disabled;
}
.text-disabled-dark {
  color: settings.$disabled-dark;
}
.text-emergency {
  color: settings.$emergency;
}
.text-emergency-dark {
  color: settings.$emergency-dark;
}
.text-njBlack {
  color: settings.$njBlack;
}
.text-white {
  color: settings.$white;
}
.text-black {
  color: settings.$black;
}
