@use "./settings" as settings;

main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    max-width: none;
    margin: settings.$size-20 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin: settings.$size-8 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }

  .text-4xl {
    font-size: settings.$size-64;
  }

  .text-3xl {
    font-size: settings.$size-48;
  }

  h1,
  .text-2xl {
    font-size: settings.$size-40;
  }

  h2,
  .text-xl {
    font-size: settings.$size-32;
  }

  h3,
  .text-lrg {
    font-size: settings.$size-24;
  }

  h4,
  .text-md {
    font-size: settings.$size-20;
  }

  h5,
  .text-base {
    font-size: settings.$size-16;
  }

  h6,
  .text-sm {
    font-size: settings.$size-12;
  }

  .text-xs {
    font-size: settings.$size-8;
  }

  p,
  li {
    font-size: settings.$size-16;
  }

  ul,
  ol {
    padding-left: settings.$size-20;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  em,
  i,
  cite,
  var,
  address {
    font-style: italic;
  }

  strong,
  b,
  dfn,
  th {
    font-weight: 800;
  }

  a {
    color: settings.$primary;
    text-decoration: underline;
    display: inline;
    align-items: center;
    gap: settings.$size-2;
    position: relative;
    text-decoration: none;

    &.linkObject {
      display: inline-flex;
    }

    &:visited {
      color: settings.$primary;
    }

    &:hover {
      text-decoration: underline;
      color: settings.$tertiary;
    }
  }

  .sr-only {
    position: absolute;
    width: settings.$size-1;
    height: settings.$size-1;
    padding: 0;
    margin: -(settings.$size-1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .lrg-txt {
    font-weight: 600;
    font-size: settings.$size-22;

    @media screen and (max-width: (settings.$tablet-md - 1)) {
      font-size: settings.$size-18;
    }
  }
}
