.contact-us-content {
  padding: 5rem 0;

  h2 {
    font-size: $size-24;
    font-weight: 500;
    margin-bottom: $size-12;
  }

  .required {
    color: $red;
  }

  .required-instructions {
    font-size: $size-14;
    margin: $size-20 0;
  }

  .error-textarea {
    border: 1px solid #F44336;
    border-radius: $size-8;
  }
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1104px;

  section + section {
    margin-left: $size-24;
  }
}

.info-block {
  background-color: $base-lightest;
  border-radius: $size-24;
  padding: $size-24;
  min-width: 500px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: $size-12;

  label {
    font-size: $size-16;
    font-weight: 700;
  }

  .form-error-message {
    color: $red;
    font-weight: 700;
  }

  .radio-error {
    color: #F44336;
  }
}

.input-container + .input-container {
  margin-top: $size-24;
}

.contact-form-container {
  border-radius: $size-24;
  padding: $size-24;
}

.contact-form {
  background-color: $cyan-5;
}

.contact-success {
  background-color: $green-cool-5;
}

.contact-error {
  background-color: $red-warm-10;
}

.contact-form {
  .MuiOutlinedInput-input {
    background-color: $white;
  }
}

.clear-button {
  color: $blue-60v;
  font-weight: 700;
}

.button-container {
  margin: $size-24 0;

  button + button {
    margin-left: $size-48;
  }

  .usa-button {
    background-color: $blue-60v;

    &:hover {
      background-color: $blue-70v;
    }
  }
}

@media screen and (max-width: $desktop-lg) {
  .contact-us-content {
    padding: 0 1rem;
  }
}

@media screen and (max-width: $desktop) {
  .info-block {
    min-width: $mobile;
  }
}

@media screen and (max-width: $tablet-lg) {
  .contact-us-content {
    padding: 3rem;
  }

  .contact-us-container {
    flex-direction: column;

    section + section {
      margin-top: 1rem;
      margin-left: 0;
    }

    section {
      margin: 0 auto;
    }

    div + div {
      margin-left: 0;
      margin-top: $size-24;
    }
  }

  .info-block {
    min-width: 0;
    width: 100%;
  }
}