.contact-us-content {
  padding: 5rem 0;

  h2 {
    font-size: $size-20;
    font-weight: 550;
    margin-bottom: $size-12;
  }

  .required {
    color: $red;
  }

  .required-instructions {
    font-size: $size-14;
    margin: $size-20 0;
  }
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1104px;

  section + section {
    margin-left: $size-24;
  }
}

.info-block {
  background-color: $base-lightest;
  border-radius: $size-24;
  padding: $size-24;
  max-width: 500px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: $size-12;

  label {
    font-size: $size-16;
    font-weight: 700;
  }

  .form-error-message {
    color: $red;
    font-weight: 700;
  }
}

.input-container + .input-container {
  margin-top: $size-24;
}

.contact-form-container {
  background-color: $cyan-5;
  border-radius: $size-24;
  padding: $size-24;
}

.contact-form {
  .MuiOutlinedInput-input {
    background-color: $white;
  }
}

.button-container {
  margin: $size-24 0;

  button + button {
    margin-left: $size-48;
  }
}

@media screen and (max-width: $tablet) {
  .contact-us-content {
    padding: 3rem 0;
  }

  .contact-us-container {
    flex-direction: column;

    div + div {
      margin-left: 0;
      margin-top: $size-24;
    }
  }
}