@import "../global/header";
@import "../colors";

#search-results-page {
  a {
    &.back-link {
      color: $primary;
      position: relative;
      display: inline-block;
      margin-left: $size-32;
      margin-top: $size-16;
      margin-bottom: $size-16;
      text-decoration: none;
      border-bottom: $size-1 solid $primary;
  
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -$size-32;
        z-index: 10;
      }
  
      &:visited {
        color: $primary;
      }
    }
  }

  label {
    margin: 0;
    font-weight: bold;
  }

  .card {
    border: 1px solid $light-grey;
    border-radius: 5px;
    margin-top: $size-16;
  }
}

#drawer-btn-container {
  position: fixed;
  z-index: 1000;
  bottom: 0;

  background-color: $green-cool-20;
  display: flex;
  justify-content: space-between;
  padding: $size-16;
  width: 320px;

  button {
    border: 2px solid $green-cool-50v;
    border-radius: 8px;
    font-weight: 700;
    padding: $size-16 $size-32;
    text-align: center;
  }

  button + button {
    margin-left: $size-16;
  }
}

#filter-button-container {
  align-items: center;
  margin: $size-24 auto;
  width: 21.4375rem;

  button {
    align-items: center;
    border: 2px solid $blue-60v;
    border-radius: 0.25rem;
    color: $blue-60v;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    width: 100%;

    &:hover {
      color: $blue-warm-70v;
      border: 2px solid $blue-warm-70v;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10);;
    }
  }
}

#filter-drawer-container {
  background-color: $green-cool-5;
  min-height: 100vh;
  overflow: auto;
  padding: $size-16;
  width: 100%;

  .field-group {
    input {
      height: 50px;
      box-sizing:border-box;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
    }

    .input-container {
      margin-bottom: $size-16;
      max-width: $mobile;
      position: relative;
    }

    .filter-input {
      width: 100%;

      .MuiOutlinedInput-root {
        background-color: $white;
        min-height: 4.25rem;
        width: 100%;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  .label-container {
    padding: $size-12 0 $size-8 0;
    label {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $size-16;

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  button {
    background-color: $green-cool-5;
    border: none;
    color: $blue-60v;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0;
  }
}

#results-container {
  margin: $size-20 0;
}

#results-heading {
  display: flex;
  flex-direction: column;

  .results-count {
    margin: auto 0;
  }
}

#selects-container {
  display: flex;

  .input-container + .input-container {
    margin-left: $size-16;
  }
}

.breadcrumb-container {
  .usa-breadcrumb {
    padding-top: $size-16;
    margin-bottom: $size-16;
  }

  .usa-breadcrumb__list {
    display: none;
  }
}

@media (min-width: $tablet-md) {
  #filter-button-container {
    margin: $size-24 0;
    max-width: 21.4375rem;
    min-width: 6.25rem;

    button {
      justify-content: left;
      width: auto;
    }
  }

  #filter-drawer-container {
    width: $mobile-md;
  }

  #results-heading {
    flex-direction: row;
    justify-content: space-between;
  }

  .breadcrumb-container {
    margin-top: $size-16;

    .usa-breadcrumb__list {
      display: block;
    }

    .back-link {
      display: none !important;
    }
  }
}