@import "../global/header";
@import "../colors";

#search-results-page {
  a {
    &.back-link {
      color: $primary;
      position: relative;
      display: inline-block;
      margin-left: $size-32;
      margin-top: $size-16;
      text-decoration: none;
      border-bottom: $size-1 solid $primary;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -$size-32;
        z-index: 10;
      }

      &:visited {
        color: $primary;
      }
    }
  }

  label {
    font-weight: 700;
  }

  nav {
    padding: $size-16 0;
  }

  .card {
    border: 1px solid $light-grey;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 $size-8 $size-4 rgba(0, 0, 0, 0.1);
    }
  }

  .usa-breadcrumb__list {
    display: none;
  }
}

#results-selects-container {
  display: flex;
  flex-direction: column;
  margin-bottom: $size-16;
}

#sort-limit-selects-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: $size-16;

  select {
    padding: $size-8 $size-16;
    border: 2px solid $gray-90;
    border-radius: 5px;
    font-size: $size-16;
  }

  .input-wrapper {
    width: 100%;
  }

  .input-wrapper + .input-wrapper {
    margin-left: $size-16;
  }
}

@media screen and (min-width: $tablet-md) {
  #search-results-page {
    a {
      &.back-link {
        display: none;
      }
    }

    .usa-breadcrumb__list {
      display: block;
    }
  }

  #results-selects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: $mobile-md;
  }

  .per-page-wrapper {
    max-width: 135px;
  }

  .sorting-wrapper {
    min-width: 200px;
  }
}