.tools-page {
  .toolRow {
    padding: $size-64 0 $size-64;

    &:nth-child(2n) {
      background-color: $base-cool;
    }

    h3 {
      font-size: $size-32;
      line-height: 1.2;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: $size-32;

      &:before,
      &:after {
        content: none;
      }
    }

    &.theme-blue {
      h3 {
        color: $primary;
      }
    }
    &.theme-green {
      h3 {
        color: $secondary;
      }
    }
    &.theme-purple {
      h3 {
        color: $tertiary;
      }
    }
    &.theme-navy {
      h3 {
        color: $info-darker;
      }
    }

    .inner {
      display: flex;
      align-items: start;
      gap: $size-24;

      @media (max-width: $desktop) {
        flex-direction: column;
        gap: $size-16;
      }
    }

    .main {
      width: 100%;
      max-width: $size-411;
      @media (max-width: $tablet) {
        max-width: none;
      }
    }

    .cards {
      width: 100%;
      flex-grow: 1;
      display: flex;
      gap: $size-24;

      @media (max-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: $tablet-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $tablet) {
        grid-template-columns: repeat(1, 1fr);
      }

      .itemCard {
        width: 33.3333%;
        @media (max-width: $desktop) {
          width: 100%;
        }
      }

      &.wide {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: $desktop) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: $tablet-md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $tablet) {
          grid-template-columns: repeat(1, 1fr);
        }

        .itemCard {
          width: 100%;
        }
      }
    }
  }
}
