.bar {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.inline {
  display: inline-block;
}

.tooltip {
  box-shadow: 0 0 10px $base-lighter !important;
  border: 1px solid $base-lighter !important;
  opacity: 1 !important;
  font-size: $size-16 !important;
  width: 250px !important;
  padding: 12px !important;
  line-height: 1.3rem !important;
}

.stat-block {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.countyBlock {
  background-color: #f2e4d4;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  a {
    &:visited {
      color: $blue;
    }
    color: $blue;
  }
}

.stat-block-stack {
  display: flex;
  flex-direction: column;
}

.stat-block-number {
  padding-top: 1rem;
  text-align: left;
  font-weight: 700;
}

.break-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.custom-tooltip {
  text-transform: none;
  max-width: 300px;
}
// small and up
@media (min-width: $tablet-md) {
  .stat-block {
    margin-top: 0rem;
    width: 190px;
  }

  .stat-block-stack {
    flex-direction: row;
  }

  .bar {
    margin-left: 0;
    margin-right: 0;
  }

  .grouping {
    border: 1px solid $light-grey;
    border-radius: 5px;
  }

  .group-padding {
    padding: 1em;
  }
}

.training-detail {
  button {
    &.toggle {
      border-bottom: $size-2 dashed $black;
      padding: 0;
      margin-bottom: $size-8;
    }
  }

  .panel,
  .overlay {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .panel {
    position: fixed;
    border-left: $size-4 solid $secondary-dark;
    top: 0;
    right: -100%;
    background: $secondary-lighter;
    padding: 3rem;
    max-width: $size-520;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: ($tablet - 1)) {
      padding: 3rem $size-16;
    }

    &.open {
      right: 0;
    }

    h4 {
      font-size: $size-22;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: $size-16;
      cursor: pointer;
      z-index: 11;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: $ink;
    opacity: 0;
    z-index: 9;

    &.open {
      pointer-events: all;
      opacity: 0.5;
    }
  }
}
