.bar {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.inline {
  display: inline-block;
}

.tooltip {
  box-shadow: 0 0 10px $base-lighter !important;
  border: 1px solid $base-lighter !important;
  opacity: 1 !important;
  font-size: $size-16 !important;
  width: 250px !important;
  padding: 12px !important;
  line-height: 1.3rem !important;
}

.stat-block {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.countyBlock {
  background-color: #f2e4d4;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  a {
    &:visited {
      color: $blue;
    }
    color: $blue;
  }
}

.stat-block-stack {
  display: flex;
  flex-direction: column;
  max-width: $mobile-lg;
}

.stat-block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stat-block-number {
  padding-top: 1rem;
  text-align: left;
  font-weight: 700;
}

.break-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.custom-tooltip {
  text-transform: none;
  max-width: 300px;
}

#contact-provider-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 0.85rem;
  
  .provider-btn-container {
    text-align: center;
  }

  .provider-no-url {
    display: flex;
  }

  .icon-container {
    margin: auto 0;
    margin-right: 0.75rem;
    svg {
      font-size: 35px;
    }
  }

  .usa-button {
    font-size: 0.8rem;
    background-color: $blue-60v;
    margin-bottom: 0.5rem;
  }
}

// small and up
@media (min-width: $tablet-md) {
  .stat-block {
    margin-top: 0rem;
    width: 190px;
  }

  .bar {
    margin-left: 0;
    margin-right: 0;
  }

  .grouping {
    border: 1px solid $light-grey;
    border-radius: 5px;
  }

  .group-padding {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}
