.bar {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.inline {
  display: inline-block;
}

.tooltip {
  box-shadow: 0 0 10px $base-lighter !important;
  border: 1px solid $base-lighter !important;
  opacity: 1 !important;
  font-size: $size-16 !important;
  width: 250px !important;
  padding: 12px !important;
  line-height: 1.3rem !important;
}

.stat-block {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.countyBlock {
  background-color: #f2e4d4;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  a {
    &:visited {
      color: $blue;
    }
    color: $blue;
  }
}

.stat-block-stack {
  display: flex;
  flex-direction: column;
}

.stat-block-number {
  padding-top: 1rem;
  text-align: left;
  font-weight: 700;
}

.break-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.custom-tooltip {
  text-transform: none;
  max-width: 300px;
}
// small and up
@media (min-width: $tablet-md) {
  .stat-block {
    margin-top: 0rem;
    width: 190px;
  }

  .stat-block-stack {
    flex-direction: row;
  }

  .bar {
    margin-left: 0;
    margin-right: 0;
  }

  .grouping {
    border: 1px solid $light-grey;
    border-radius: 5px;
  }

  .group-padding {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}
.title-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: ($tablet-md - 1)) {
    flex-direction: column-reverse;
  }
}

.save-controls {
  display: flex;
  align-items: center;
  gap: $size-32;
  padding-top: $size-32;
  text-align: center;

  @media screen and (max-width: ($tablet-md - 1)) {
    padding-top: $size-8;
  }

  li {
    button {
      gap: $size-4;
      display: flex;
      flex-direction: column;
      font-weight: 400;

      &:hover {
        svg,
        span {
          color: $black;
        }
      }
    }
  }
}
