.beta-banner {
  height: $beta-banner-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-green;
  width: 100%;
  font-size: 0.9rem;
  color: black;

  @media print {
    position: static;
  }

  a {
    background-color: $blue;
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 2px 10px 2px 30px;
    margin-left: 1rem;
    border-radius: 2px;

    &:visited {
      color: white;
    }

    &:hover {
      background-color: $indigo;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 12px;
      width: 13px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEQSURBVHgBdVDLTcNAEH0ziuMcfcUnp4LQQjpwOqAEciQcEoQMEhegAqeDQAXQgdMBucRInHK0JbzDrpHj9cYZabWfN+/tewOcKZUnmfw8XfZh3BzkaxXYAIECVGXQhx9J8IdptU/SllbNUVTbmvD9uBTf+2iQQStNc4JsdEOkRGK9JuKxUV+LqJiIZ60LN8s+yfSrlYU+OVxMu9at+s3vYwZvXCEiNa2tjvyALm52VOUP19rWMwTvAmyJsHRJIrhjoolAYoGJ8R80QlEeMPJi3ZCe/ASaUbh467Vnxir+MNOnyHrecXg77oq4Vsz0lLpq7sy8NjnsngF6qpOrKF9cnE8IWlWUeq1/1TuNVwe35w+S3mz0prnVUwAAAABJRU5ErkJggg==");
    }
  }
}
