header {
  &.header {
    background-color: $white;
    width: 100%;
    z-index: 12;
    min-height: 187px;

    @media screen and (max-width: ($tablet-md)) {
      min-height: 135px;

      background-color: $dark-blue;
      color: $white;
    }
  }

  .basic-logo {
    a {
      display: flex;
      align-items: center;
      color: $ink;
      text-decoration: none;
      padding: $size-16 0;
      width: calc(100% - 55px);

      @media screen and (min-width: ($tablet-md + 1)) {
        width: 50%;
      }
    }

    h1 {
      font-size: 28px;

      @media screen and (min-width: ($tablet-md + 1)) {
        width: calc(100% - 45px);
        margin-left: 10px;
      }

      @media screen and (max-width: ($tablet-md)) {
        color: $white;
        font-size: $size-14;
      }
    }

    img {
      width: $size-48;
      height: auto;

      @media screen and (max-width: ($tablet-md)) {
        display: none;
      }
    }

    button {
      width: 55px;
      border: $size-2 solid $white;
      padding: $size-2;
      border-radius: 5px;

      span {
        margin: 0 auto;
        font-size: 2rem;
      }
    }

    button {
      .toggle {
        height: $size-32;
        width: 51px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transform-origin: center;
        &.open {
          transform: rotate(90deg);
          > span {
            &:nth-child(1) {
              transform: rotate(45deg);
              top: 7px;
            }

            &:nth-child(2) {
              transform: scale(0);
            }

            &:nth-child(3) {
              transform: rotate(-45deg);
              top: -7px;
            }
          }
        }

        > span {
          display: block;
          width: 25px;
          height: $size-3;
          position: relative;
          border-radius: 5px;
          top: 0;
          background-color: $white;
          margin: $size-2 auto;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
        }
      }
    }
  }

  .mobile-menu {
    padding: $size-8 $size-16;
  }

  .main-nav {
    background-color: $dark-blue;
    min-height: 54px;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;

      @media screen and (min-width: ($tablet-md + 1)) {
        gap: 2.5rem;
      }

      @media screen and (max-width: ($tablet-md)) {
        flex-direction: column;
      }
    }
  }

  .main-nav__container {
    background-color: $dark-blue;

    a,
    button {
      color: $white;
      display: block;
      text-decoration: none;
      padding: 1.18rem 0;
      font-size: 0.9rem;
      position: relative;

      @media screen and (max-width: ($tablet-md)) {
        padding: 0.95rem 0;
      }

      > span {
        display: flex;
        align-items: center;

        span {
          font-size: $size-16;
          margin-top: -$size-2;
          margin-left: $size-2;
        }

        + .indicator {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: $size-20;
          right: 0;

          @media screen and (min-width: ($tablet-md + 1)) {
            right: -$size-20;
          }
        }
      }

      &:hover {
        @media screen and (min-width: ($tablet-md + 1)) {
          &::after {
            content: "";
            position: absolute;
            bottom: 10px;
            width: 100%;
            left: 0;
            height: $size-2;
            background-color: $white;
          }
        }
      }
    }

    .main-nav__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      max-width: $desktop-xl;

      .contact-us {
        margin-right: 2rem;
      }

      @media screen and (max-width: ($tablet-md)) {
        flex-direction: column;
      }
    }
  }

  li {
    &.has-sub {
      position: relative;
      z-index: 1;

      .sub-menu {
        background: $white;
        box-shadow: $shadow-1;
        flex-direction: column;
        gap: 0;

        @media screen and (min-width: ($desktop + 1)) {
          width: 300px;
          position: absolute;
        }

        @media screen and (max-width: ($desktop)) {
          margin-bottom: $size-16;
        }

        a {
          color: $header-black;
          padding: 0.5rem $size-16;

          &:hover {
            @media screen and (min-width: ($desktop + 1)) {
              background-color: $header-black;
              color: $white;
            }

            &:after {
              @media screen and (min-width: ($desktop + 1)) {
                content: none;
              }
            }
          }
        }
      }

      button {
        @media screen and (max-width: ($desktop)) {
          width: 100%;
        }
      }
    }
  }
}

.below-banners {
  min-height: calc(100% - #{$footer-height});
  padding: 0 0 5rem;

  @media print {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-banner,
  .footer-cta {
    margin: 5rem 0 -5rem;
  }
}

.skip-nav {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  background-color: $white;
  color: $ink;
  padding: $size-16;
  z-index: 100;

  &:focus, &:hover, &:active {
    top: 0;
  }
}
