.card-slider {
  position: relative;
  width: 100%;
  padding: 3rem 0;

  .container {
    padding: $size-16;
    position: relative;
  }

  .inner {
    @media screen and (min-width: ($desk)) {
      padding: $size-16;
      position: relative;

      overflow: hidden;
    }

    @media screen and (max-width: ($tabPort - 1)) {
      display: flex;
      flex-direction: column;
    }

    &:before,
    &:after {
      @media screen and (min-width: ($desk)) {
        content: "";
        position: absolute;
        bottom: 0;
        height: 100%;
        pointer-events: none;
        width: $size-32;
        height: 220px;
        z-index: 1;
      }
    }

    &:before {
      left: -$size-16;
      border-left: $size-16 solid white;
      background: linear-gradient(to right, white, transparent);
    }
    &:after {
      right: 0rem;
      border-right: $size-16 solid white;
      background: linear-gradient(to left, white, transparent);
    }
  }

  .sectionHeading {
    @media screen and (max-width: ($tabPort - 1)) {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: $size-16;
      z-index: 1;
    }
  }

  .slider-container {
    display: flex;
    gap: 2rem;
    transition: transform 0.3s ease;
    margin-top: 4rem;

    @media screen and (max-width: ($desk - 1)) {
      flex-wrap: wrap;
      transform: none !important;
    }

    .iconCard {
      @media screen and (min-width: ($desk)) {
        flex: 0 0 calc(100% / 4.5 - 2rem);
      }

      @media screen and (max-width: ($desk - 1)) {
        width: calc(33.333% - 2rem);
      }

      @media screen and (max-width: ($tabPort - 1)) {
        width: calc(50% - 2rem);
      }

      @media screen and (max-width: ($mobMed - 1)) {
        width: 100%;
      }

      a {
        height: 100%;
      }
    }
  }

  .arrow {
    position: absolute;
    top: calc(50% + 4rem);
    transform: translateY(-50%);
    width: $size-40;
    height: $size-40;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    z-index: 2;

    @media screen and (max-width: ($desk - 1)) {
      display: none;
    }

    &.left {
      left: -2rem;
    }

    &.right {
      right: -2rem;
    }
  }
}
