.career-pathways {
  background-color: $lighter-green;
  padding: 6rem 0;

  .container {
    @media screen and (max-width: ($tablet - 1)) {
      padding: 0;
    }
  }

  .heading {
    border-bottom: 0.5rem solid $ink;
    padding-bottom: 0.8rem;
    margin-bottom: 2.5rem;

    h3 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .select {
    display: none;
    margin: $size-16 0 2rem 3rem;
    max-width: 36rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 2.2rem;

    @media screen and (max-width: ($tablet - 1)) {
      margin-left: 0;
    }
  }

  input[type="radio"] {
    &:checked {
      + label {
        + .select {
          display: block;
        }
      }
    }
  }

  .groups {
    background: white;
    padding: $size-16;

    .select-button {
      margin-top: 0.7rem;
      width: 100%;
      appearance: none;
      padding: 0.7rem 2rem 0.7rem 0.7rem;
      position: relative;
      border: $size-1 solid $base-lighter;
      border-radius: 5px;

      &:after {
        content: "";
        position: absolute;
        right: $size-16;
        bottom: $size-16;
        width: 0;
        height: 0;
        border-left: 0.35rem solid transparent;
        border-right: 0.35rem solid transparent;
        border-top: 0.35rem solid $ink;
      }
    }

    .dropdown-select {
      font-weight: normal;
      margin-top: $size-16;
      box-shadow: 0 10px 20px -15px $ink;

      &[aria-expanded="true"] {
        display: block;
      }

      .path-title,
      button {
        display: block;
        width: 100%;
      }

      .path-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: $base-lighter;
        padding: 0.5rem $size-16;
      }

      button {
        padding: $size-16;

        @media screen and (min-width: ($tablet)) {
          padding: $size-16 $size-16 $size-16 5rem;
        }

        &:nth-of-type(2n - 1) {
          background: $lighter-green;
        }

        &:hover {
          @media screen and (min-width: ($tablet)) {
            background: $purple;
          }
        }
      }
    }
  }

  .path-selector {
    > .heading {
      @media screen and (max-width: ($tablet - 1)) {
        margin-left: $size-16;
        margin-right: $size-16;
      }
    }
  }
}
