$gap: 60px;
$boxHeight: 100px;
$boxWidth: 120px;
$fontSize: 14px;
$borderWidth: 6px;

.career-map-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  width: 100%;
  max-width: 1170px;
  -webkit-overflow-scrolling: touch;
}

.career-map {
  width: 1100px;
  display: flex;
  align-items: center;
  gap: $gap;
  position: relative;
  margin: $boxWidth / 2 0;

  .medium-map & {
    margin: $boxWidth 0 $boxWidth / 2;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: start;
  }

  li {
    align-items: center;
    display: flex;
    gap: $gap;
    position: relative;

    &:not(.level-2) {
      align-items: flex-start;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: #909090;
      height: calc(100% - ($boxWidth - $gap / 3));
      left: $boxWidth + ($boxWidth / 2) - $gap / 2;
      top: 50%;
      transform: translateY(-50%);
      width: $borderWidth;
      display: block;
    }

    &.level-2 {
      gap: $gap;

      > .info {
        > .box {
          &:before {
            width: $boxWidth + $borderWidth - $borderWidth / 2;
          }
        }
      }

      &:first-of-type,
      &:last-of-type {
        margin-left: -$boxWidth - $gap;

        > .info {
          > .box {
            &:before {
              content: none;
            }
          }
        }

        .small-map & {
          margin-left: 0;

          > .info {
            > .box {
              &:before {
                content: "";
              }
            }
          }
        }
      }

      &:first-of-type {
        .medium-map & {
          bottom: $boxWidth / 2 + $gap / 2;
        }
      }
      &:last-of-type {
        .medium-map & {
          bottom: $boxWidth / 2 + $gap / 2;
          margin-left: 0;

          > .info {
            > .box {
              &:before {
                content: "";
              }
            }
          }
        }
      }
    }

    &.no-children {
      gap: 0;
      .box {
        &:after {
          content: none;
        }
      }
    }
  }

  .box {
    height: $boxHeight;
    width: $boxWidth;
    background-color: #ebf5ee;
    border-radius: 10px;
    border: $borderWidth / 2 solid black;
    font-size: $fontSize;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;

    position: relative;
    align-items: center;
    z-index: 1;

    .inner {
      p {
        font-size: 0.6rem;
      }
    }

    &.main {
      z-index: 2;
      background: black;
      color: white;
      border-radius: 100%;
      height: $boxWidth;
      &:before,
      &:after {
        content: none;
      }

      svg {
        width: auto;
        height: 45px;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: #909090;
      height: $borderWidth;
      width: ($boxWidth / 2) - $gap / 2;

      display: block;
      z-index: -1;
    }
    &:before {
      right: calc(100% + $borderWidth / 2);
    }
    &:after {
      left: calc(100% + $borderWidth / 2);
    }

    .filler {
      position: absolute;
      background-color: #909090;
      display: block;
      width: $borderWidth;
      left: 50%;
      top: calc(100% + $borderWidth / 2);
      transform: translateX(-50%);
    }
  }

  .line {
    width: ($boxWidth / 2) + $borderWidth;
    position: absolute;
    height: $borderWidth;
    background-color: #909090;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    &.above {
      > div {
        bottom: calc(50% - 3px);
        top: auto;
      }
    }
    &.below {
      > div {
        top: calc(50% - 3px);
        bottom: auto;
      }
    }

    &.left {
      left: auto;
      right: 100%;
    }

    > div {
      display: block;
      background-color: #909090;
      position: absolute;
      bottom: 50%;
      width: $borderWidth;
    }
  }
}
