.faq-collection {
  margin-top: 4rem;

  @media screen and (max-width: ($tabPort)) {
    margin-top: $size-16;
  }

  .container {
    @media screen and (min-width: ($tabPort + 1)) {
      display: flex;
    }
  }

  nav {
    @media screen and (min-width: ($tabPort + 1)) {
      width: 262px;
    }

    @media screen and (max-width: ($tabPort)) {
      position: relative;
      margin-bottom: 2rem;
    }

    ul {
      padding: 0;
      margin-top: 0;
      list-style-type: none;

      @media screen and (max-width: ($tabPort)) {
        display: none;
      }

      &.open {
        @media screen and (max-width: ($tabPort)) {
          @include mobileDropItems;
        }
      }
    }

    li {
      &.heading {
        @include boldItem;

        @media screen and (max-width: ($tabPort)) {
          display: none;
        }
      }
      &.active {
        button {
          background: $light-green;
        }
      }
    }
    button {
      @include boldItem;
    }
  }

  .questions {
    @media screen and (min-width: ($tabPort + 1)) {
      width: calc(100% - 262px);
      padding-left: 1.8rem;
    }
  }

  .support-theme & {
    .accordion,
    li.active {
      button {
        background-color: $light-blue;
      }
    }
  }

  .jobs-theme & {
    .accordion,
    li.active {
      button {
        color: $blue;
      }
    }
  }
  .training-theme & {
    .accordion,
    li.active {
      button {
        background-color: $light-green;
      }
    }
  }

  .explore-theme & {
    .accordion,
    li.active {
      button {
        color: $light-purple;
      }
    }
  }
}
