.filterControls {
  .content {
    display: flex;
    flex-direction: column;
    gap: $size-30;
    align-items: flex-start;

    > div {
      width: 100%;
    }
  }

  button {
    &.usa-button--unstyled {
      border-radius: 0;

      font-weight: normal;
      color: $base-darker;
      text-underline-offset: $size-4;
    }
  }

  .toggle-heading {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .clear-all {
    padding: $size-12 $size-20;
    border-radius: $size-4;
    font-size: $size-16;
    font-weight: bold;
    box-shadow: inset 0 0 0 $size-2 $info-darker;
    color: $info-darker;

    &:hover {
      background-color: $info-darker;
      color: $white;
    }
  }

  .content,
  .usa-checkbox {
    background-color: $base-extra-light;
  }

  .usa-checkbox__label::before {
    box-shadow: 0 0 0 2px $base-light;
  }

  .usa-label {
    margin-top: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: $size-8;
  }

  .input-wrapper {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: $size-16;
      transform: translateY(-50%);
      pointer-events: none;
    }

    input {
      width: 100%;
      border: $size-2 solid $base-light;
      border-radius: $size-4;
      margin: 0;
      padding: $size-16 $size-16 $size-16 $size-48;
      min-height: fit-content;
    }
  }

  .usa-button {
    &.clear {
      margin-top: $size-16;
      font-weight: normal;
    }
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading-tag {
      font-size: $size-22;
    }

    svg {
      transform: rotate(0deg);
    }
  }

  .group {
    .items {
      display: none;
      margin-left: $size-26;
    }

    &.open {
      .heading {
        svg {
          transform: rotate(90deg);
        }
      }

      .items {
        display: block;
      }
    }
  }
}
