.heroBanner {
  padding: $size-64 0 $size-48;

  .container {
    display: flex;
    flex-direction: column;
    gap: $size-32;
    &:before,
    &:after {
      content: none;
    }
  }

  .inner {
    display: flex;
    gap: $size-64;
    align-items: center;

    @media (max-width: $tablet-lg) {
      gap: $size-32;
      flex-direction: column;
    }
  }

  .image {
    overflow: hidden;
    border-radius: $size-16;
    position: relative;
    width: 100%;
    min-height: $size-300;
    max-width: $size-520;

    @media (max-width: $tablet-lg) {
      max-width: none;
    }

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  .copy {
    display: flex;
    flex-direction: column;
    gap: $size-16;
    width: 100%;

    * {
      margin: 0;
      line-height: 1.3;
      text-wrap: pretty;
    }

    .usa-button {
      margin-top: $size-8;
    }
  }

  .eyebrow {
    font-size: $size-24;
    font-weight: 700;
  }

  .heading-tag {
    font-size: $size-32;
    font-weight: 500;
    margin: 0;
  }
  .subheading {
    font-size: $size-20;
  }

  .message {
    margin: 0;
  }

  .buttons {
    display: flex;
    gap: $size-16;

    .usa-button--outline {
      &.usa-button--outline {
        background-color: $white;
        color: $primary;
        border: $size-2 solid;

        &:hover {
          background-color: $white;
          box-shadow: $shadow-3;
        }
      }
    }
  }

  .steps {
    background-color: $base-lightest;
    padding: $size-16;
    margin: $size-32 auto 0;
    border-radius: $size-16;
    width: 100%;

    @media screen and (min-width: ($tablet-md + 1)) {
      width: auto;
      border-radius: $size-80;
    }

    ol {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: $size-16;

      @media screen and (max-width: ($tablet-md)) {
        align-items: flex-start;
        flex-direction: column;
      }

      li {
        display: flex;
        align-items: center;
        gap: $size-8;
        font-size: $size-16;

        @media screen and (min-width: ($tablet-md + 1)) {
          font-size: $size-18;
          font-weight: 600;
        }

        p {
          line-height: 1;
        }
      }

      .list-num {
        align-items: center;
        background-color: $base;
        border-radius: 100%;
        color: $white;
        display: flex;
        font-size: $size-16;
        font-weight: bold;
        height: $size-24;
        justify-content: center;
        padding-top: $size-3;
        width: $size-24;
      }
    }
  }

  &.theme-blue {
    .eyebrow {
      color: $primary;
    }

    .usa-button {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: $primary-darker;
      }
    }

    .steps {
      background-color: $primary-lighter;

      .list-num {
        background-color: $primary;
      }
    }
  }

  &.theme-green {
    .eyebrow {
      color: $secondary;
    }

    .usa-button {
      background-color: $secondary;
      color: $white;

      &:hover {
        background-color: $secondary-darker;
      }

      &.usa-button--outline {
        color: $secondary;
      }
    }

    .steps {
      background-color: $secondary-lighter;

      .list-num {
        background-color: $secondary;
      }
    }
  }

  &.theme-purple {
    .eyebrow {
      color: $tertiary;
    }

    .usa-button {
      background-color: $tertiary;
      color: $white;

      &:hover {
        background-color: $tertiary-darker;
      }

      &.usa-button--outline {
        color: $tertiary;
      }
    }

    .steps {
      background-color: $tertiary-lighter;

      .list-num {
        background-color: $tertiary;
      }
    }
  }

  &.theme-navy {
    .eyebrow {
      color: $info-darker;
    }

    .usa-button {
      background-color: $info-darker;
      color: $white;

      &:hover {
        background-color: $primary-darker;
      }

      &.usa-button--outline {
        color: $info-darker;
      }
    }

    .steps {
      background-color: $info-lighter;

      .list-num {
        background-color: $info-darker;
      }
    }
  }
}
