.homeBanner {
  padding: $size-64 0 $size-48;
  color: $primary-dark;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size-32;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  .copy {
    width: 51%;
    display: flex;
    flex-direction: column;
    gap: $size-16;

    @media (max-width: $tablet) {
      width: 100%;
    }

    * {
      margin: 0;
      text-wrap: pretty;
    }
  }

  h1 {
    font-size: $size-72;
    line-height: 1.2;

    @media (max-width: $tablet-xl) {
      font-size: $size-48;
    }
  }

  .subheading {
    font-size: $size-40;
    line-height: 1.2;

    @media (max-width: $tablet-xl) {
      font-size: $size-24;
    }
  }

  .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $size-24;
    width: 49%;

    @media (max-width: $tablet) {
      width: 100%;
    }

    .image {
      overflow: hidden;
      border-radius: $size-16;

      img {
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      &:nth-child(1) {
        grid-row: span 2;
      }
    }
  }
}
