.industry-field-drawer {
  .explore-button {
    margin-top: $size-16;
    width: 100%;
  }
  .panel {
    position: fixed;
    border-left: $size-4 solid $tertiary-vivid;
    top: 0;
    right: -100%;
    background: $white;
    padding: 3rem;
    max-width: 800px;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: ($tablet - 1)) {
      padding: 3rem $size-16;
    }

    &.open {
      right: 0;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: $size-16;
      cursor: pointer;
      z-index: 11;
    }
  }

  .panel,
  .overlay {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: $ink;
    opacity: 0;
    z-index: 9;

    &.open {
      pointer-events: all;
      opacity: 0.5;
    }
  }

  .content {
    @media screen and (min-width: ($tablet-md)) {
      display: flex;
      gap: $size-32;
    }

    .mobile-only {
      @media screen and (max-width: ($tablet-md - 1)) {
        display: flex;
        gap: $size-16;
        flex-direction: column;
      }
    }
  }

  .column {
    flex-direction: column;
    gap: $size-32;
    width: 100%;

    @media screen and (min-width: ($tablet-md)) {
      display: flex;
    }

    .box {
      &:nth-of-type(3n - 2) {
        background-color: $tertiary-lighter;
      }
      &:nth-of-type(3n - 1) {
        background-color: $secondary-lighter;
      }
      &:nth-of-type(3n) {
        background-color: $primary-lighter;
      }
    }

    &:last-of-type {
      .box {
        &:nth-of-type(2n - 1) {
          background-color: $accent-cool-lighter;
        }
        &:nth-of-type(2n) {
          background-color: $accent-warm-lighter;
        }
      }
    }
  }

  .box {
    padding: $size-24;
    border-radius: $size-16;

    @media screen and (max-width: ($tablet-md - 1)) {
      &:nth-of-type(5n - 4) {
        background-color: $tertiary-lighter;
      }
      &:nth-of-type(5n - 3) {
        background-color: $accent-cool-lighter;
      }
      &:nth-of-type(5n - 2) {
        background-color: $secondary-lighter;
      }
      &:nth-of-type(5n - 1) {
        background-color: $accent-warm-lighter;
      }
      &:nth-of-type(5n) {
        background-color: $primary-lighter;
      }
    }

    .title {
      font-size: $size-18;
      font-weight: bold;
      line-height: 1.3;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: $size-8;
      font-size: $size-12;
    }
  }
}
