.industry-selector {
  padding: 2rem 0;

  .heading {
    text-align: center;
    position: relative;
    margin-bottom: 1.2rem;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
      background-color: black;
      height: 0.5rem;
      z-index: -1;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0;
      text-align: center;
      background-color: white;
      display: inline-block;
      padding: 0 1rem;
    }
  }

  ul {
    @media screen and (min-width: ($mobTab + 1)) {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 1rem;
    }
  }

  li {
    width: 100%;
    text-align: center;
    max-width: 200px;

    + li {
      @media screen and (max-width: ($mobTab)) {
        margin-top: 1rem;
      }
    }

    a {
      color: $footer-grey;
      text-decoration: none;
      padding: 1.2rem;
      display: block;
      border: 2px solid $light-grey;
      border-radius: 20px;

      @media screen and (min-width: ($mobTab + 1)) {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1.2rem;
      }

      span {
        @media screen and (min-width: ($mobTab + 1)) {
          display: block;
          padding-bottom: 1.2rem;
          height: calc(100% - 77px);
        }
      }
    }
  }

  .icon {
    @media screen and (min-width: ($mobTab + 1)) {
      height: 157px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  svg {
    display: block;
    margin: 0 auto;
    background: $light-purple;
    border-radius: 100%;
    overflow: hidden;
    padding: 0.4rem;
    box-sizing: content-box;
    margin-bottom: 1.3rem;
    @media screen and (min-width: ($mobTab + 1)) {
      margin-bottom: 0;
    }
  }
}
