.industry-block {
  margin-top: -1rem;

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: ($mobTab - 1)) {
      flex-direction: column;
      padding: 0 1rem;
    }
  }

  .explore-button {
    display: inline-block;
    border-radius: 20px;
    border: 2px solid $grey;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 1.2rem;
    color: $text;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    max-width: 310px;
    width: 100%;

    @media screen and (max-width: ($mobTab)) {
      max-width: 360px;
    }

    &:hover {
      @media screen and (min-width: ($mobTab)) {
        box-shadow: 5px 4px 12px -3px $grey;
        transform: scale(1.03);
      }
    }

    svg {
      display: block;
      margin: 0 auto;
      background: $teal;
      border-radius: 100%;
      overflow: hidden;
      padding: 0.4rem;
      width: 30px;
      height: 30px;
      box-sizing: content-box;
    }

    > span {
      display: block;
      width: calc(100% - 50px);
    }
  }

  .panel,
  .overlay {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .panel {
    position: fixed;
    top: 0;
    right: -100%;
    background: $light-purple;
    padding: 3rem;
    max-width: 800px;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: ($mobTab - 1)) {
      padding: 3rem 1rem;
    }

    &.open {
      right: 0;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      cursor: pointer;
      z-index: 11;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 9;

    &.open {
      pointer-events: all;
      opacity: 0.5;
    }
  }

  .container {
    margin-top: 3.1rem;
  }

  .photo {
    margin: 1.5rem 0;
    width: 100%;

    @media screen and (max-width: ($mobTab)) {
      margin-bottom: 1rem;
    }
  }

  .accordion {
    border: 1px solid black;
    border-radius: 7px;
    overflow: hidden;
    background: white;

    &.closed {
      button {
        &:before {
          transform: rotate(-45deg);
          right: 18px;
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }

    button {
      font-size: 1.2rem;
      padding: 0.7rem 3rem 0.7rem 1.2rem;
      font-weight: normal;

      img,
      svg {
        height: 32px;
        width: auto;
      }

      span {
        width: calc(100% - 32px);
      }

      &:before,
      &:after {
        width: 10px;
      }
      &:before {
        transform: rotate(45deg);
        right: 18px;
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .content {
    .inner {
      padding: 1rem;
      max-width: none;

      ol {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          gap: 1.5rem;
          align-items: center;

          @media screen and (max-width: ($mobMed - 1)) {
            flex-direction: column;
            align-items: flex-start;
          }

          + li {
            margin-top: 1rem;
          }

          b {
            display: block;
          }

          > * {
            @media screen and (min-width: ($mobMed)) {
              width: calc(100% - 3.5rem);
            }
          }

          &:before {
            content: attr(data-number);
            color: black;
            font-size: 1.2rem;
            display: block;
            background: $light-green;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .heading {
    position: relative;
    margin-bottom: 3rem;

    @media screen and (min-width: ($mobTab)) {
      text-align: center;
    }

    @media screen and (max-width: ($mobTab)) {
      margin-bottom: 1.5rem;
    }

    &:before {
      @media screen and (min-width: ($mobTab)) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 100%;
        background-color: black;
        height: 0.5rem;
        z-index: -1;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0;
      background-color: $light-purple;
      display: inline-block;

      @media screen and (min-width: ($mobTab)) {
        padding: 0 1rem;
        text-align: center;
      }

      @media screen and (max-width: ($mobTab - 1)) {
        font-size: 1.5rem;
      }
    }
  }
}
