.industry-selector {
  nav {
    padding: $size-32 0;
  }

  ul {
    display: flex;
    gap: $size-32;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    align-items: center;
    gap: $size-8;
    text-decoration: none;
    border: $size-2 solid $ink;
    justify-content: center;
    border-radius: $size-8;
    padding: $size-16;
    min-width: 300px;
    max-width: 400px;

    &.active,
    &:hover {
      background-color: $tertiary-lighter;
      border-color: $tertiary;
    }

    svg {
      height: $size-24;
    }

    span {
      color: $ink;
    }
  }
}
