.introBlocks {
  display: flex;

  .box {
    background-color: $info-lighter;
    width: 50%;

    h2 {
      font-size: $size-40;
    }

    &:nth-child(2n) {
      background-color: $primary-lighter;

      h2 {
        font-size: $size-32;
      }

      .inner {
        margin: 0 auto 0 0;
        padding: $size-96 $size-16 $size-96 $size-48;
      }
    }

    .inner {
      max-width: $size-640;
      margin: 0 0 0 auto;
      padding: $size-96 $size-48 $size-96 $size-16;
    }
  }
}
