.itemCard {
  padding: $size-24;
  border-radius: $size-16;
  display: block;
  color: $black;
  text-decoration: none;
  text-wrap: pretty;
  cursor: pointer;

  &:visited {
    color: $black;
  }

  &:hover {
    color: $white;
    box-shadow: $shadow-2;
  }

  .heading {
    display: inline-flex;
    align-items: center;
    gap: $size-8;
    justify-content: space-between;
    width: 100%;

    > * {
      margin: 0;
    }

    p {
      font-size: $size-20;
      font-weight: 700;
      text-wrap: pretty;
      width: calc(100% - $size-36);
    }

    svg {
      width: $size-32;
    }
  }

  span {
    display: flex;
    font-weight: 700;
    gap: $size-4;
    text-wrap: pretty;
    justify-content: end;
    align-items: center;
  }

  &.theme-blue {
    border: 1px solid $primary;
    background-color: $accent-cool-lighter;

    &:hover {
      background-color: $primary-darker;

      svg {
        fill: $accent-cool-light;
      }
    }

    &.outline {
      color: $primary;

      &:hover {
        background-color: $primary-lighter;
        color: $primary-darker;

        svg {
          fill: $primary-darker;
        }
      }
    }
  }

  &.theme-green {
    border: 1px solid $secondary;
    background-color: $secondary-light;

    &:hover {
      background-color: $secondary-darker;

      svg {
        fill: $secondary-light;
      }
    }

    &.outline {
      color: $secondary;

      &:hover {
        background-color: $secondary-lighter;
        color: $secondary-darker;

        svg {
          fill: $secondary-darker;
        }
      }
    }
  }

  &.theme-purple {
    border: 1px solid $tertiary;
    background-color: $tertiary-light;

    &:hover {
      background-color: $tertiary-darker;

      svg {
        fill: $tertiary-light;
      }
    }

    &.outline {
      color: $tertiary;

      &:hover {
        background-color: $tertiary-lighter;
        color: $tertiary-darker;

        svg {
          fill: $tertiary-darker;
        }
      }
    }
  }

  &.theme-navy {
    border: 1px solid $info-darker;
    background-color: $info-light;

    &:hover {
      background-color: $info-darker;

      svg {
        fill: $info;
      }
    }

    &.outline {
      color: $info-darker;

      &:hover {
        background-color: $info-lighter;
        color: $info-darker;

        svg {
          fill: $info-darker;
        }
      }
    }
  }

  &.outline {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading {
      > * {
        line-height: 1.1;
      }
    }
  }
}
