.occupation-block {
  margin-top: 6rem;

  @media screen and (min-width: ($mobTab + 1)) {
    margin-top: 6.5rem;
  }

  button {
    &.usa-button--unstyled {
      color: $blue;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .container {
    + .container {
      @media screen and (max-width: ($mobTab - 1)) {
        padding: 0;
      }
    }
  }

  .section-heading {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.6rem;
    margin-bottom: 2.2rem;
    border-bottom: 0.5rem solid black;

    @media screen and (max-width: ($mobTab)) {
      line-height: 1.2;
      margin-bottom: 2.5;
    }
  }
  .occupation-selector {
    max-width: 36rem;
    display: block;
    font-weight: bold;
    position: relative;
    margin-bottom: 2.2rem;

    &:after {
      content: "";
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid black;
    }

    select {
      margin-top: 0.7rem;
      width: 100%;
      appearance: none;
      padding: 0.7rem 1.5rem 0.7rem 0.7rem;
    }
  }

  .occupation-box {
    @media screen and (min-width: ($mobTab + 1)) {
      border: 1px solid black;
      border-radius: 10px;
      padding: 4.5rem 2rem;
    }

    .heading {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      gap: 0.5rem;
      max-width: 42rem;
      margin-bottom: 3rem;

      @media screen and (max-width: ($mobTab - 1)) {
        padding: 0 1rem;
      }

      @media screen and (max-width: ($mobMed - 1)) {
        flex-direction: column;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.7rem;
      }

      p {
        margin: 0;
        width: 100%;
      }
    }

    .tag {
      display: flex;
      border-radius: 40px;
      align-items: center;
      background: $orange;
      padding: 5px 9px;
      font-size: 0.9rem;
      font-weight: bold;

      @media screen and (max-width: ($mobMed - 1)) {
        margin: 0 0 0.5rem;
      }
    }
  }
  .occu-row {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: start;

    @media screen and (max-width: ($mobTab - 1)) {
      flex-direction: column;
    }

    > div {
      width: 100%;
      @media screen and (min-width: ($mobTab)) {
        width: 50%;
      }
    }

    &.info {
      @media screen and (max-width: ($sm - 1)) {
        flex-direction: column-reverse;
      }

      > div {
        @media screen and (max-width: ($sm - 1)) {
          width: 100%;
        }
      }

      .box {
        @media screen and (min-width: ($sm)) {
          width: calc(100% - 25rem);
        }
      }

      .meta {
        display: flex;
        gap: 2rem;

        @media screen and (max-width: ($mobMed - 1)) {
          gap: 1rem;
          flex-direction: column;
        }

        @media screen and (min-width: ($sm)) {
          width: 25rem;
        }

        @media screen and (max-width: ($mobTab - 1)) {
          padding: 0 1rem;
        }

        > div {
          width: 100%;
          background-color: $light-purple;
          border-radius: 10px;
          overflow: hidden;
          padding: 0.5rem;

          @media screen and (min-width: ($mobMed)) {
            width: 50%;
          }

          p {
            font-size: 1.5rem;
            margin: 0;

            &.title {
              font-size: 1rem;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              margin-bottom: 0.6rem;
            }
          }
        }
      }
    }
  }

  .box {
    width: 100%;
    margin-bottom: 2rem;

    @media screen and (min-width: ($mobTab)) {
      overflow: hidden;
      border-radius: 10px;
    }

    @media screen and (max-width: ($mobTab - 1)) {
      display: flex;
      flex-direction: column;
    }

    .content {
      padding: 1rem;

      @media screen and (min-width: ($mobTab)) {
        border: 1px solid $light-grey;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      a {
        &.usa-button {
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: center;
          text-align: left;

          + .usa-button {
            margin-top: 1rem;
          }
        }
      }

      &.related-training,
      &.related-occupations {
        a {
          color: $blue;
          text-decoration: none;
          display: block;
        }
      }

      &.related-occupations {
        li {
          + li {
            margin-top: 1rem;
          }
        }
      }

      &.related-training {
        a {
          font-weight: bold;
          &.outline {
            display: flex;
            color: $green;
          }
        }

        .span-grid {
          display: flex;
          align-items: end;
          width: 100%;
          justify-content: space-between;
          padding: 0 0.2rem 1rem;
          border-bottom: 2px solid;
          margin-bottom: 1.5rem;

          .left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }

        .salary {
          background: $medium-gray;
          color: white;
          font-size: 1rem;
          padding: 0.2rem 0.3rem;
          border-radius: 2px;
        }
      }
    }
  }

  .heading-bar {
    background-color: $light-green;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 0.6rem;

    @media screen and (max-width: ($mobTab - 1)) {
      position: sticky;
      top: 0;
    }
  }
}
