.occupation-block {
  margin: $size-60 0;

  button {
    &.usa-button--unstyled {
      color: $primary;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .container {
    + .container {
      @media screen and (max-width: ($tablet - 1)) {
        padding: 0;
      }
    }
  }

  .map-toggle {
    color: $primary;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
    margin-bottom: 2rem;
  }

  .sectionHeading {
    margin-bottom: 2.2rem;
  }

  .occupation-selector {
    max-width: 36rem;
    display: block;
    font-weight: bold;
    position: relative;
    margin-bottom: 2.2rem;

    &:after {
      content: "";
      position: absolute;
      right: $size-16;
      bottom: $size-16;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid $ink;
    }

    select {
      margin-top: 0.7rem;
      width: 100%;
      appearance: none;
      padding: 0.7rem 1.5rem 0.7rem 0.7rem;
    }
  }

  .occupation-box {
    @media screen and (min-width: ($tablet + 1)) {
      padding: $size-32 0 0;
    }

    .heading {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding-bottom: 0;
      border-bottom: none;

      @media screen and (max-width: ($mobile-lg - 1)) {
        flex-direction: column;
      }

      @media screen and (max-width: ($tablet - 1)) {
        padding: 0 $size-16;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.7rem;
      }

      p {
        margin: 0;
        width: 100%;
      }

      + .single-path {
        padding: 0.5rem $size-16 0.5rem 0.2rem;

        @media screen and (max-width: ($tablet - 1)) {
          padding: 0.5rem $size-16;
        }
      }
    }

    .tag {
      @media screen and (min-width: ($mobile-lg)) {
        margin-left: $size-16;
      }
      @media screen and (max-width: ($mobile-lg - 1)) {
        margin: 0 0 0.5rem;
      }
    }
  }
  .occu-row {
    display: flex;
    width: 100%;
    gap: $size-32;
    align-items: flex-start;

    @media screen and (max-width: ($tablet - 1)) {
      flex-direction: column;
    }

    > div {
      width: 100%;

      &:first-of-type {
        @media screen and (min-width: ($tablet-xl)) {
          width: calc(100% - $size-400);
        }
      }

      @media screen and (min-width: ($tablet)) {
        width: 50%;
      }
    }

    &.info {
      @media screen and (max-width: ($tablet-xl - 1)) {
        flex-direction: column-reverse;
      }

      > div {
        @media screen and (max-width: ($tablet-xl - 1)) {
          width: 100%;
        }
      }

      .box {
        @media screen and (min-width: ($tablet-xl)) {
          width: calc(100% - $size-400);
        }
      }
    }
  }

  .meta {
    display: flex;
    gap: $size-32;

    @media screen and (max-width: ($mobile-lg - 1)) {
      gap: $size-16;
      flex-direction: column;
    }

    @media screen and (min-width: ($tablet-xl)) {
      width: 25rem;
    }

    @media screen and (max-width: ($tablet - 1)) {
      padding: 0 $size-16;
    }

    > div {
      width: 100%;
      background-color: $tertiary-lighter;
      margin-bottom: $size-32;
      border-radius: $size-10;
      overflow: hidden;
      min-height: $size-120;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: $size-16;

      @media screen and (min-width: ($mobile-lg)) {
        width: 50%;
      }

      &:first-of-type {
        @media screen and (max-width: ($mobile-lg - 1)) {
          margin-bottom: 0;
        }

        p {
          text-align: right;
        }
      }

      p {
        line-height: 1;
        font-size: 1.5rem;
        margin: 0;

        &.title {
          font-size: $size-16;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          text-align: left;
          gap: 0.5rem;
          margin-bottom: 0.6rem;

          strong {
            font-size: $size-22;
            width: 100%;
            display: block;
          }
        }
      }

      a {
        color: $primary;
        font-size: $size-16;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          line-height: 1.5;
          display: block;
          width: 80%;
        }
      }
    }
  }

  .box {
    width: 100%;
    margin-bottom: $size-32;

    @media screen and (min-width: ($tablet)) {
      overflow: hidden;
      border-radius: $size-10;
    }

    @media screen and (max-width: ($tablet - 1)) {
      display: flex;
      flex-direction: column;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .content {
      padding: $size-16;

      @media screen and (min-width: ($tablet)) {
        border-left: $size-1 solid $base-lightest;
        border-right: $size-1 solid $base-lightest;
        border-bottom: $size-1 solid $base-lightest;
        border-bottom-left-radius: $size-10;
        border-bottom-right-radius: $size-10;
      }

      a {
        &.usa-button {
          display: flex;
          align-items: center;
          gap: $size-16;
          justify-content: center;
          text-align: left;

          + .usa-button {
            margin-top: $size-16;
          }
        }
      }

      &.related-training,
      &.related-occupations {
        a:not(.usa-button) {
          color: $primary;
          text-decoration: none;
          display: block;
        }
      }

      &.related-occupations {
        li {
          + li {
            margin-top: $size-16;
          }
        }
      }

      &.related-training {
        a {
          font-weight: bold;
          &.outline {
            display: flex;
            color: $green;
          }
        }

        .span-grid {
          display: flex;
          align-items: flex-end;
          width: 100%;
          justify-content: space-between;
          padding: 0 0.2rem $size-16;
          border-bottom: $size-2 solid;
          margin-bottom: 1.5rem;

          .left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }

        .salary {
          background: $medium-gray;
          color: white;
          font-size: $size-16;
          padding: 0.2rem 0.3rem;
          border-radius: $size-2;
        }
      }
    }
  }

  .heading-bar {
    background-color: $secondary-lighter;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 0.6rem;

    @media screen and (max-width: ($tablet - 1)) {
      position: sticky;
      top: 0;
    }
  }

  .heading-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: $size-32;

    @media screen and (max-width: ($desktop - 1)) {
      flex-direction: column;
    }

    .heading {
      max-width: $size-720;
      @media screen and (min-width: ($desktop)) {
        width: calc(100% - $size-520);
        margin-bottom: $size-32;
      }
    }

    .meta {
      width: 100%;
      max-width: $size-520;
    }
  }

  &.career-detail {
    margin-top: 2rem;

    .occupation-box {
      border: 0;
      border-radius: 0;
      background: white;
      padding: 2rem 0;

      @media screen and (min-width: ($tablet)) {
        padding: 2rem;
      }

      .heading {
        margin-bottom: 1.5rem;
        max-width: 100%;

        @media screen and (max-width: ($desktop - 1)) {
          display: block;
        }

        h3 {
          margin: 0;
        }

        p {
          margin-top: 0.5rem;
          width: 100%;
          @media screen and (min-width: ($desktop)) {
            margin-right: 1.5rem;
          }
        }

        > div:not(.meta) {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          @media screen and (min-width: ($desktop)) {
            width: calc(100% - 38rem);
          }
        }

        .meta {
          padding: $size-16 0;
          gap: $size-16;

          @media screen and (min-width: ($desktop)) {
            width: 37rem;
          }

          div {
            padding: 0.5rem $size-16;
            margin-bottom: 0;

            p {
              margin: 0;
            }

            a {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .box {
      line-height: 1.6;

      p {
        margin-bottom: $size-16;
      }

      ul:not(.unstyled) {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          margin: 0;
          background: $off-white;
          padding: 0.5rem;
        }
      }

      .content {
        &.related-training {
          li {
            border: $size-2 solid $base-lightest;
            border-radius: $size-10;
            overflow: hidden;
            padding: $size-16;
            margin-bottom: $size-16;
          }
          .span-grid {
            border: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .breadcrumbs {
      color: $ink;
      font-size: 0.9rem;
      margin-bottom: 2rem;

      @media screen and (max-width: ($tablet - 1)) {
        padding: 0 $size-16;
      }
    }
  }

  .full-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
    padding: 2rem;
    overflow: auto;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &.open {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }

    .map-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .single-path {
      overflow: unset;
    }

    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }
  }

  .select-button {
    margin-top: 0.7rem;
    width: 100%;
    appearance: none;
    padding: 0.7rem 2rem 0.7rem 0.7rem;
    position: relative;
    border: $size-1 solid $base-lighter;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      right: $size-16;
      bottom: $size-16;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid $ink;
    }
  }

  .dropdown-select {
    font-weight: normal;
    margin-top: $size-16;
    box-shadow: 0 10px 20px -15px $ink;
    position: absolute;
    background-color: $base-cool;
    z-index: 1;
    max-height: $size-330;
    overflow: auto;
    outline: 1px solid $base-lighter;
    border-radius: $size-8;
    width: 100%;

    &[aria-expanded="true"] {
      display: block;
    }

    .path-title,
    button {
      display: block;
      width: 100%;
    }

    .path-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: $base-lighter;
      padding: 0.5rem $size-16;
    }

    button {
      padding: $size-16;

      @media screen and (min-width: ($tablet)) {
        padding: $size-16;
      }

      &:nth-of-type(2n - 1) {
        background: $base-lightest;
      }

      &:hover {
        @media screen and (min-width: ($tablet)) {
          background: $purple;
        }
      }
    }
  }
}
