.occupation-block {
  margin-top: 6rem;

  @media screen and (min-width: ($mobTab + 1)) {
    margin-top: 6.5rem;
  }

  button {
    &.usa-button--unstyled {
      color: $blue;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .container {
    + .container {
      @media screen and (max-width: ($mobTab - 1)) {
        padding: 0;
      }
    }
  }

  .map-toggle {
    color: $blue;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
    margin-bottom: 2rem;
  }

  .section-heading {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.6rem;
    margin-bottom: 2.2rem;
    border-bottom: 0.5rem solid black;

    @media screen and (max-width: ($mobTab)) {
      line-height: 1.2;
      margin-bottom: 2.5;
    }
  }
  .occupation-selector {
    max-width: 36rem;
    display: block;
    font-weight: bold;
    position: relative;
    margin-bottom: 2.2rem;

    &:after {
      content: "";
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 0;
      height: 0;
      border-left: 0.35rem solid transparent;
      border-right: 0.35rem solid transparent;
      border-top: 0.35rem solid black;
    }

    select {
      margin-top: 0.7rem;
      width: 100%;
      appearance: none;
      padding: 0.7rem 1.5rem 0.7rem 0.7rem;
    }
  }

  .occupation-box {
    @media screen and (min-width: ($mobTab + 1)) {
      border: 1px solid black;
      border-radius: 10px;
      padding: 4.5rem 2rem;
    }

    .heading {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0.5rem;
      max-width: 42rem;
      margin-bottom: 3rem;
      padding-bottom: 0;
      border-bottom: none;

      @media screen and (max-width: ($mobMed - 1)) {
        flex-direction: column;
      }

      @media screen and (max-width: ($mobTab - 1)) {
        padding: 0 1rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.7rem;
      }

      p {
        margin: 0;
        width: 100%;
      }

      + .single-path {
        padding: 0.5rem 1rem 0.5rem 0.2rem;

        @media screen and (max-width: ($mobTab - 1)) {
          padding: 0.5rem 1rem;
        }
      }
    }

    .tag {
      display: flex;
      border-radius: 0;
      align-items: center;
      background: $light-orange;
      border: 1px solid $warm-orange;
      padding: 4px 6px;
      font-size: 0.8rem;

      @media screen and (max-width: ($mobMed - 1)) {
        margin: 0 0 0.5rem;
      }
    }
  }
  .occu-row {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: flex-start;

    @media screen and (max-width: ($mobTab - 1)) {
      flex-direction: column;
    }

    > div {
      width: 100%;
      @media screen and (min-width: ($mobTab)) {
        width: 50%;
      }
    }

    &.info {
      @media screen and (max-width: ($sm - 1)) {
        flex-direction: column-reverse;
      }

      > div {
        @media screen and (max-width: ($sm - 1)) {
          width: 100%;
        }
      }

      .box {
        @media screen and (min-width: ($sm)) {
          width: calc(100% - 25rem);
        }
      }
    }
  }

  .meta {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: ($mobMed - 1)) {
      gap: 1rem;
      flex-direction: column;
    }

    @media screen and (min-width: ($sm)) {
      width: 25rem;
    }

    @media screen and (max-width: ($mobTab - 1)) {
      padding: 0 1rem;
    }

    > div {
      width: 100%;
      background-color: $light-purple;
      margin-bottom: 2rem;
      border-radius: 10px;
      overflow: hidden;
      padding: 0.5rem;

      @media screen and (min-width: ($mobMed)) {
        width: 50%;
      }

      p {
        font-size: 1.5rem;
        margin: 0;

        &.title {
          font-size: 1rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 0.6rem;
        }
      }

      a {
        color: $blue;
      }
    }
  }

  .box {
    width: 100%;
    margin-bottom: 2rem;

    @media screen and (min-width: ($mobTab)) {
      overflow: hidden;
      border-radius: 10px;
    }

    @media screen and (max-width: ($mobTab - 1)) {
      display: flex;
      flex-direction: column;
    }

    .content {
      padding: 1rem;

      @media screen and (min-width: ($mobTab)) {
        border: 1px solid $light-grey;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      a {
        &.usa-button {
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: center;
          text-align: left;

          + .usa-button {
            margin-top: 1rem;
          }
        }
      }

      &.related-training,
      &.related-occupations {
        a:not(.usa-button) {
          color: $blue;
          text-decoration: none;
          display: block;
        }
      }

      &.related-occupations {
        li {
          + li {
            margin-top: 1rem;
          }
        }
      }

      &.related-training {
        a {
          font-weight: bold;
          &.outline {
            display: flex;
            color: $green;
          }
        }

        .span-grid {
          display: flex;
          align-items: flex-end;
          width: 100%;
          justify-content: space-between;
          padding: 0 0.2rem 1rem;
          border-bottom: 2px solid;
          margin-bottom: 1.5rem;

          .left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }

        .salary {
          background: $medium-gray;
          color: white;
          font-size: 1rem;
          padding: 0.2rem 0.3rem;
          border-radius: 2px;
        }
      }
    }
  }

  .heading-bar {
    background-color: $light-green;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 0.6rem;

    @media screen and (max-width: ($mobTab - 1)) {
      position: sticky;
      top: 0;
    }
  }

  &.career-detail {
    margin-top: 2rem;

    .occupation-box {
      border: 0;
      border-radius: 0;
      background: white;
      padding: 2rem 0;

      @media screen and (min-width: ($mobTab)) {
        padding: 2rem;
      }

      .heading {
        margin-bottom: 1.5rem;
        max-width: 100%;

        @media screen and (max-width: ($tabLand - 1)) {
          display: block;
        }

        h3 {
          margin: 0;
        }

        p {
          margin-top: 0.5rem;
          width: 100%;
          @media screen and (min-width: ($tabLand)) {
            margin-right: 1.5rem;
          }
        }

        > div:not(.meta) {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          @media screen and (min-width: ($tabLand)) {
            width: calc(100% - 38rem);
          }
        }

        .meta {
          padding: 1rem 0;
          gap: 1rem;

          @media screen and (min-width: ($tabLand)) {
            width: 37rem;
          }

          div {
            padding: 0.5rem 1rem;
            margin-bottom: 0;

            p {
              margin: 0;
            }

            a {
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .box {
      line-height: 1.6;

      p {
        margin-bottom: 1rem;
      }

      ul:not(.unstyled) {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          margin: 0;
          background: $off-white;
          padding: 0.5rem;
        }
      }

      .content {
        &.related-training {
          li {
            border: 2px solid $light-grey;
            border-radius: 10px;
            overflow: hidden;
            padding: 1rem;
            margin-bottom: 1rem;
          }
          .span-grid {
            border: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .breadcrumbs {
      color: $text;
      font-size: 0.9rem;
      margin-bottom: 2rem;

      @media screen and (max-width: ($mobTab - 1)) {
        padding: 0 1rem;
      }
    }
  }

  .full-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
    padding: 2rem;
    overflow: auto;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &.open {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }

    .map-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .single-path {
      overflow: unset;
    }

    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }
  }
}
