.page-banner {
  background-color: $lighter-green;
  padding: 3.1rem 0 0.7rem;

  @media screen and (max-width: ($mobTab)) {
    padding: 1rem 0;
  }

  .top-nav {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;

    @media screen and (min-width: ($mobMed + 1)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    @media screen and (max-width: ($mobMed)) {
      padding-bottom: 0;
    }
  }

  .usa-breadcrumb {
    padding: 0;
    display: flex;
    background-color: transparent;
    gap: 1rem;
    align-items: center;

    @media screen and (min-width: ($mobMed + 1)) {
      width: calc(100% - 140px);
    }

    @media screen and (max-width: ($mobMed)) {
      gap: 0.5rem;
    }

    .material-icons {
      color: $accessible-gray;
      font-size: 1.2rem;
      @media screen and (min-width: ($mobMed + 1)) {
        display: none;
      }
    }

    svg {
      height: auto;
      width: 32px;
      position: relative;
    }

    .usa-breadcrumb__list {
      .usa-breadcrumb__list-item {
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            @media screen and (max-width: ($mobMed)) {
              padding-top: 0.8rem;
              padding-bottom: 0.8rem;
            }

            &:before {
              content: none;
            }
            .support-theme & {
              color: $indigo;
            }
            .jobs-theme & {
              color: $blue;
            }
            .training-theme & {
              color: $green;
            }
            .explore-theme & {
              color: $purple;
            }
          }
        }
      }
    }
  }

  .date {
    width: 140px;
    font-size: 0.8rem;
    line-height: 1.5;

    @media screen and (max-width: ($mobMed)) {
      padding: 0 0 0.5rem;
      width: 100%;
    }
  }

  h1 {
    font-size: 3.7rem;
    font-weight: bold;
    margin: 0 0 0.2rem;
    padding: 0;
    @media screen and (max-width: ($mobMed)) {
      font-size: 2.45rem;
      margin-bottom: 1rem;
    }
  }

  .copy {
    padding: 4.2rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 3rem;

    @media screen and (max-width: ($sm - 1)) {
      display: block;
    }

    @media screen and (max-width: ($mobMed)) {
      padding: 1.8rem 0;
      font-size: 1rem;
    }
  }

  .heading {
    width: calc(100% - 260px);
    @media screen and (max-width: ($sm - 1)) {
      width: 100%;
    }
  }

  .cta-block {
    text-align: center;
    width: 260px;
    font-weight: bold;
    font-size: 1.4rem;

    @media screen and (max-width: ($sm - 1)) {
      display: none;
    }

    p {
      line-height: 1.1;
    }

    a {
      margin-top: 1rem;
      display: block;
      padding-top: 17px;
      padding-bottom: 17px;
      background-color: $blue;
      font-weight: normal;
    }
  }
}
