.page-banner {
  background-color: $lighter-green;
  padding: 3.1rem 0 0.7rem;

  @media screen and (max-width: ($mobTab)) {
    padding: 1rem 0;
  }

  &.theme-green {
    .usa-breadcrumb {
      .usa-breadcrumb__list-item {
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            color: $green;
          }
        }
      }
    }

    .cta-block {
      li {
        a:not(.usa-button--outline) {
          &.usa-button {
            background-color: $green;

            &:hover {
              background-color: $dark-green;
            }
          }
        }

        a.usa-button--outline {
          box-shadow: inset 0 0 0 2px $green;
          color: $green;

          &:hover {
            box-shadow: inset 0 0 0 2px $dark-green;
            color: $dark-green;
          }
        }
      }
    }
  }

  &.theme-blue {
    .usa-breadcrumb {
      .usa-breadcrumb__list-item {
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            color: $blue;
          }
        }
      }
    }

    .cta-block {
      li {
        a:not(.usa-button--outline) {
          &.usa-button {
            background-color: $blue;

            &:hover {
              background-color: $dark-blue;
            }
          }
        }
        a.usa-button--outline {
          box-shadow: inset 0 0 0 2px $blue;
          color: $blue;

          &:hover {
            box-shadow: inset 0 0 0 2px $dark-blue;
            color: $dark-blue;
          }
        }
      }
    }
  }

  &.theme-purple {
    .usa-breadcrumb {
      .usa-breadcrumb__list-item {
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            color: $dark-purple;
          }
        }
      }
    }

    .cta-block {
      li {
        a:not(.usa-button--outline) {
          &.usa-button {
            background-color: $dark-purple;

            &:hover {
              background-color: $purple;
            }
          }
        }
        a.usa-button--outline {
          box-shadow: inset 0 0 0 2px $dark-purple;
          color: $dark-purple;

          &:hover {
            box-shadow: inset 0 0 0 2px $purple;
            color: $purple;
          }
        }
      }
    }
  }

  &.theme-navy {
    .usa-breadcrumb {
      .usa-breadcrumb__list-item {
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            color: $navy;
          }
        }
      }
    }

    .cta-block {
      li {
        a:not(.usa-button--outline) {
          &.usa-button {
            background-color: $navy;

            &:hover {
              background-color: $blue;
            }
          }
        }

        a.usa-button--outline {
          box-shadow: inset 0 0 0 2px $navy;
          color: $navy;

          &:hover {
            box-shadow: inset 0 0 0 2px $blue;
            color: $blue;
          }
        }
      }
    }
  }

  .top-nav {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;

    @media screen and (min-width: ($mobMed + 1)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    @media screen and (max-width: ($mobMed)) {
      padding-bottom: 0;
    }
  }

  .usa-breadcrumb {
    padding: 0;
    display: flex;
    background-color: transparent;
    gap: 1rem;
    align-items: center;

    @media screen and (min-width: ($mobMed + 1)) {
      width: calc(100% - 140px);
    }

    @media screen and (max-width: ($mobMed)) {
      gap: 0.5rem;
    }

    .material-icons {
      color: $accessible-gray;
      font-size: 1.2rem;
      @media screen and (min-width: ($mobMed + 1)) {
        display: none;
      }
    }

    svg {
      height: auto;
      width: 32px;
      position: relative;
    }

    .usa-breadcrumb__list {
      .usa-breadcrumb__list-item {
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            @media screen and (max-width: ($mobMed)) {
              padding-top: 0.8rem;
              padding-bottom: 0.8rem;
            }

            &:before {
              content: none;
            }
            .support-theme & {
              color: $indigo;
            }
            .jobs-theme & {
              color: $blue;
            }
            .training-theme & {
              color: $green;
            }
            .explore-theme & {
              color: $purple;
            }
          }
        }
      }
    }
  }

  .date {
    width: 140px;
    font-size: 0.8rem;
    line-height: 1.5;

    @media screen and (max-width: ($mobMed)) {
      padding: 0 0 0.5rem;
      width: 100%;
    }
  }

  h1 {
    font-size: 3.7rem;

    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    @media screen and (max-width: ($mobMed)) {
      font-size: 2.45rem;
      margin-bottom: 1rem;
    }
  }

  .copy {
    padding: 2.8rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 3rem;

    @media screen and (max-width: ($sm - 1)) {
      display: block;
    }

    @media screen and (max-width: ($mobMed)) {
      padding: 1.8rem 0;
      font-size: 1rem;
    }
  }

  .heading {
    width: calc(100% - 335px);
    line-height: 0.4;
    @media screen and (max-width: ($sm - 1)) {
      width: 100%;
    }
  }

  .cta-block {
    text-align: center;
    width: 260px;
    font-weight: bold;
    font-size: 1.4rem;

    @media screen and (max-width: ($sm - 1)) {
      width: 100%;
      max-width: 320px;
      margin: 2rem 0 0;
    }

    @media screen and (max-width: ($mobMed - 1)) {
      max-width: none;
    }

    > p {
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    a {
      display: block;
      padding-top: 17px;
      padding-bottom: 17px;
      font-weight: normal;
    }

    li {
      + li {
        margin: 1rem 0 0;
      }
    }
  }
}
