.page-banner {
  background-color: $lighter-green;
  padding: 3.1rem 0 0.7rem;

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
  }

  .usa-breadcrumb {
    padding: 0;
    display: flex;
    background-color: transparent;
    gap: 1rem;
    width: calc(100% - 140px);
    align-items: center;

    img {
      width: 32px;
    }

    a {
      color: $indigo;
    }
  }

  .date {
    width: 140px;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  h1 {
    font-size: 3.7rem;
    font-weight: bold;
    margin: 0 0 0.2rem;
    padding: 0;
  }

  .copy {
    padding: 4.2rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .heading {
    width: calc(100% - 260px);
  }

  .cta-block {
    text-align: center;
    width: 260px;
    font-weight: bold;
    font-size: 1.4rem;

    p {
      line-height: 1.1;
    }

    a {
      margin-top: 1rem;
      display: block;
      padding-top: 17px;
      padding-bottom: 17px;
      background-color: $blue;
      font-weight: normal;
    }
  }
}
