.page-banner {
  background-color: $base-cool;
  padding: 3.1rem 0 0.7rem;

  @media screen and (max-width: ($tablet)) {
    padding: $size-16 0;
  }

  .top-nav {
    padding-bottom: 0.5rem;
    border-bottom: $size-1 solid $base-lighter;

    @media screen and (min-width: ($mobile-lg + 1)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $size-16;
    }

    @media screen and (max-width: ($mobile-lg)) {
      padding-bottom: 0;
    }

    a {
      color: $primary-vivid;
      text-decoration: underline;

      &:hover {
        @media screen and (min-width: ($tablet-lg)) {
          color: $primary;
        }
      }
    }
  }

  .usa-breadcrumb {
    padding: 0;
    display: flex;
    background-color: transparent;
    gap: $size-16;
    align-items: center;

    @media screen and (min-width: ($mobile-lg + 1)) {
      width: calc(100% - 140px);
    }

    @media screen and (max-width: ($mobile-lg)) {
      gap: 0.5rem;
    }

    .material-icons {
      color: $accessible-gray;
      font-size: 1.2rem;
      @media screen and (min-width: ($mobile-lg + 1)) {
        display: none;
      }
    }

    svg {
      height: auto;
      width: $size-32;
      position: relative;
    }

    .usa-breadcrumb__list {
      .usa-breadcrumb__list-item {
        &:not(:last-child) {
          &:after {
            margin: 0 0.5rem;
          }
        }
        a {
          &.usa-breadcrumb__link:visited,
          &.usa-breadcrumb__link {
            @media screen and (max-width: ($mobile-lg)) {
              padding-top: 0.8rem;
              padding-bottom: 0.8rem;
            }

            &:before {
              content: none;
            }
          }
        }
      }
    }
  }

  .date {
    width: 140px;
    font-size: 0.8rem;
    line-height: 1.5;

    @media screen and (max-width: ($mobile-lg)) {
      padding: 0 0 0.5rem;
      width: 100%;
    }
  }

  h1 {
    font-size: 3.7rem;

    margin: 0 0 $size-16;
    padding: 0;
    line-height: 1;
    @media screen and (max-width: ($mobile-lg)) {
      font-size: 2.45rem;
      margin-bottom: $size-16;
    }
  }

  .copy {
    padding: 2.8rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 3rem;

    @media screen and (max-width: ($tablet-xl - 1)) {
      display: block;
    }

    @media screen and (max-width: ($mobile-lg)) {
      padding: 1.8rem 0;
      font-size: $size-16;
    }
  }

  .heading {
    width: calc(100% - 335px);
    line-height: 0.4;
    @media screen and (max-width: ($tablet-xl - 1)) {
      width: 100%;
    }
  }

  .cta-block {
    text-align: center;
    width: 260px;
    font-weight: bold;
    font-size: 1.4rem;

    @media screen and (max-width: ($tablet-xl - 1)) {
      width: 100%;
      max-width: $size-320;
      margin: 2rem 0 0;
    }

    @media screen and (max-width: ($mobile-lg - 1)) {
      max-width: none;
    }

    > p {
      line-height: 1.1;
      margin-bottom: $size-16;
    }

    a {
      display: block;
      padding-top: 17px;
      padding-bottom: 17px;
      font-weight: normal;
    }

    li {
      + li {
        margin: $size-16 0 0;
      }
    }
  }
}
