.resourceCard {
  border-radius: $size-20;
  border: $size-2 solid $base-lighter;
  background-color: $base-cool;
  padding: 1.5rem;

  > a {
    color: $primary;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:visited {
      color: $primary;
      opacity: 0.7;
    }
  }

  small {
    display: block;
    margin-top: $size-32;
  }

  .tags {
    margin-top: $size-8;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
