.stepper {
  display: flex;
  text-align: center;
  padding: 2rem 0;
  gap: 2rem;

  .step {
    background-color: $off-white;
    padding: 0 3rem 1rem;
    border-radius: 5px;
    width: 33.33%;

    @media screen and (max-width: ($sm - 1)) {
      padding: 0 1rem 1rem;
    }

    .number {
      display: block;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50%;
      background-color: $green;
      color: white;
      margin: -10px auto 0;
      margin-bottom: 0.5rem;
    }

    .title {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }
  }
}
